In [1]:
#Importación de librearías necesarias
import pandas as pd
from datetime import datetime
import socket
import numpy as np
import math
import time
import pickle  #Para guardar archivos
import os
os.environ['OMP_NUM_THREADS'] = '1'

from pympler import asizeof #Para liberar memoria
import gc

import matplotlib.pyplot as plt

from kneed import KneeLocator 
from sklearn.neighbors import NearestNeighbors
from sklearn.cluster import DBSCAN

In [2]:
#Path general de archivos
if socket.gethostname()=='LAPTOP-PUSGG08B': #Ip de la laptop
    ruta = "E:/Cristian Guatemal/Master/Big Data y Ciencia de Datos/VIU_TFM/Data/TFM/"
    r_ruta = "E:/Cristian Guatemal/Master/Big Data y Ciencia de Datos/VIU_TFM/RData/TFM/"
    r_graf = 'E:/Cristian Guatemal/Master/Big Data y Ciencia de Datos/VIU_TFM/Reportes/'
elif socket.gethostname()=='PCUIOMTDAIE6382': #Ip del working
    ruta =   "D:/Master/Big_Data_Ciencia_Datos/VIU_TFM/Data/TFM/"
    r_ruta = "D:/Master/Big_Data_Ciencia_Datos/VIU_TFM/RData/TFM/"
    r_graf = 'D:/Master/Big_Data_Ciencia_Datos/VIU_TFM/Reportes/'
# Ruta del archivo de pensionistas de vejez
ruta_vj = ruta + 'POB_VEJ_CD656_NEW.dsv'
# Ruta del archivo de historia laboral de pensionistas
ruta_afi = ruta + 'APORTES_CD656_new.dsv'

In [3]:
# Cargar archivo------------------------------------------------------------------------------------------------------------
directorio = r_ruta
nombre_archivo = 'viu_clean_afi_sel_g_all_2.pkl'
ruta_archivo = os.path.join(directorio, nombre_archivo)
data_l = pd.read_pickle(ruta_archivo)

KeyboardInterrupt:

In [ ]:
inicio = time.time()
data_l = data_l.sort_values( by=["CEDULA_COD","ANIO", "MES"], ascending=[ True, True, True] )
data_l.reset_index(inplace=True)
data_l.rename(columns={'index': 'nuevo_indice'}, inplace=True)
data_l.drop(columns=['nuevo_indice'], inplace=True)
data_l['INDICE'] = data_l.index
data_l['LS_MS'] = np.nan

#Casos de no análisis
data_no_grupo = data_l[ (data_l['GRUPO_SEL']==0) ].copy()
data_no_grupo['ATI_DB'] = np.nan
data_no_grupo['EPS'] = np.nan
data_no_grupo['MINPTS'] = np.nan

#Casos de análisis
data = data_l[ (data_l['GRUPO_SEL']==1) ].copy()

fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

In [ ]:
#Se calculo los bigotes superiores para toda la historia laboral
inicio = time.time() 
dataa = data_l.copy()
dic_aux = dataa.groupby('CEDULA_COD').agg({'SALARIO_SECTOR': list, 'INDICE': list}).to_dict(orient='index')

for cedula in dic_aux:
    dic_aux[cedula]['SALARIO_SECTOR'] = [ [float(val) for val in sal.replace(':', ';').split(';')] 
                                            if isinstance(sal, str) 
                                            else [float(sal)]
                                            for sal in dic_aux[cedula]['SALARIO_SECTOR']
                                        ]
    # Aplanar la lista de listas de SALARIO_SECTOR
    salarios = None
    salarios = [salario for sublist in dic_aux[cedula]['SALARIO_SECTOR'] for salario in sublist]
    dic_aux[cedula]['SAL_PROM1'] =  np.nanmean(salarios)
    dic_aux[cedula]['Q1'] =  np.percentile(salarios, 25)
    dic_aux[cedula]['Q3'] =  np.percentile(salarios, 75)
    dic_aux[cedula]['IQR'] = dic_aux[cedula]['Q3'] -  dic_aux[cedula]['Q1']
    dic_aux[cedula]['LI'] =  dic_aux[cedula]['Q1'] -  1.5  * dic_aux[cedula]['IQR']
    dic_aux[cedula]['LS'] =  dic_aux[cedula]['Q3'] +  1.5  * dic_aux[cedula]['IQR']

data1 = { 'CEDULA_COD': [], 'LS': [], 'SAL_PROM1': [] }

for cedula, val in dic_aux.items():
    data1['CEDULA_COD'].append(cedula)
    data1['LS'].append( val['LS'] )
    data1['SAL_PROM1'].append( val['SAL_PROM1'] )

LS = pd.DataFrame( data1 )
LS = LS.groupby('CEDULA_COD')['LS'].first()
data_l.loc[:, 'LS1'] = data_l['CEDULA_COD'].map(LS)

SPROM = pd.DataFrame( data1 )
SPROM = SPROM.groupby('CEDULA_COD')['SAL_PROM1'].first()
data_l.loc[:, 'SAL_PROM1'] = data_l['CEDULA_COD'].map(SPROM)

del dataa, data1, dic_aux, LS, salarios, SPROM
gc.collect()

##Se calculo los bigotes superiores para toda la historia laboral, a partir del año 2000 en adelante.
dataa = data_l[data_l['ANIO']>=2000].copy()
dic_aux = dataa.groupby('CEDULA_COD').agg({'SALARIO_SECTOR': list, 'INDICE': list}).to_dict(orient='index')

for cedula in dic_aux:
    dic_aux[cedula]['SALARIO_SECTOR'] = [ [float(val) for val in sal.replace(':', ';').split(';')] 
                                            if isinstance(sal, str) 
                                            else [float(sal)]
                                            for sal in dic_aux[cedula]['SALARIO_SECTOR']
                                        ]
    # Aplanar la lista de listas de SALARIO_SECTOR
    salarios = None
    salarios = [salario for sublist in dic_aux[cedula]['SALARIO_SECTOR'] for salario in sublist]
    dic_aux[cedula]['SAL_PROM2'] =  np.nanmean(salarios)
    dic_aux[cedula]['Q1'] =  np.percentile(salarios, 25)
    dic_aux[cedula]['Q3'] =  np.percentile(salarios, 75)
    dic_aux[cedula]['IQR'] = dic_aux[cedula]['Q3'] -  dic_aux[cedula]['Q1']
    dic_aux[cedula]['LI'] =  dic_aux[cedula]['Q1'] -  1.5  * dic_aux[cedula]['IQR']
    dic_aux[cedula]['LS'] =  dic_aux[cedula]['Q3'] +  1.5  * dic_aux[cedula]['IQR']

data1 = { 'CEDULA_COD': [], 'LS': [], 'SAL_PROM2': []  }

for cedula, val in dic_aux.items():
    data1['CEDULA_COD'].append(cedula)
    data1['LS'].append( val['LS'] )
    data1['SAL_PROM2'].append( val['SAL_PROM2'] )

LS = pd.DataFrame( data1 )
LS = LS.groupby('CEDULA_COD')['LS'].first()
data_l.loc[:, 'LS2'] = data_l['CEDULA_COD'].map(LS)

SPROM = pd.DataFrame( data1 )
SPROM = SPROM.groupby('CEDULA_COD')['SAL_PROM2'].first()
data_l.loc[:, 'SAL_PROM2'] = data_l['CEDULA_COD'].map(SPROM)

del dataa, data1, dic_aux, LS, salarios, SPROM
gc.collect()

fin = time.time()  
print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos')

In [ ]:
#Algortimos DBSCAN
cedula_1 = data.groupby('CEDULA_COD')['NUM_SEC_MES'].apply( lambda x: (x != 1).any() )
cedula_dist = cedula_1[ cedula_1 ].index
ul = data[ ~data['CEDULA_COD'].isin( cedula_dist )]
ml = data[  data['CEDULA_COD'].isin( cedula_dist )]

In [ ]:
#Se calculo los bigotes superiores para la historia laboral de los mejores años
inicio = time.time() 
dataa = ul.copy()
dic_aux = dataa.groupby('CEDULA_COD').agg({'SALARIO_SECTOR': list, 'INDICE': list}).to_dict(orient='index')

for cedula in dic_aux:
    dic_aux[cedula]['SALARIO_SECTOR'] = [ [float(val) for val in sal.replace(':', ';').split(';')] 
                                            if isinstance(sal, str) 
                                            else [float(sal)]
                                            for sal in dic_aux[cedula]['SALARIO_SECTOR']
                                        ]
    # Aplanar la lista de listas de SALARIO_SECTOR
    salarios = None
    salarios = [salario for sublist in dic_aux[cedula]['SALARIO_SECTOR'] for salario in sublist]
    dic_aux[cedula]['Q1'] =  np.percentile(salarios, 25)
    dic_aux[cedula]['Q3'] =  np.percentile(salarios, 75)
    dic_aux[cedula]['IQR'] = dic_aux[cedula]['Q3'] -  dic_aux[cedula]['Q1']
    dic_aux[cedula]['LI'] =  dic_aux[cedula]['Q1'] -  1.5  * dic_aux[cedula]['IQR']
    dic_aux[cedula]['LS'] =  dic_aux[cedula]['Q3'] +  1.5  * dic_aux[cedula]['IQR']

data1 = { 'CEDULA_COD': [], 'LS': []}

for cedula, val in dic_aux.items():
    data1['CEDULA_COD'].append(cedula)
    data1['LS'].append( val['LS'] )

LS = pd.DataFrame( data1 )
LS = LS.groupby('CEDULA_COD')['LS'].first()
data_l.loc[ ~data_l['CEDULA_COD'].isin( cedula_dist ), 'LS_MS'] = data_l['CEDULA_COD'].map(LS)

del dataa, data1, dic_aux, LS
gc.collect()

dataa = ml.copy()
dic_aux = dataa.groupby('CEDULA_COD').agg({'SALARIO_SECTOR': list, 'INDICE': list}).to_dict(orient='index')

for cedula in dic_aux:
    dic_aux[cedula]['SALARIO_SECTOR'] = [ [float(val) for val in sal.replace(':', ';').split(';')] 
                                            if isinstance(sal, str) 
                                            else [float(sal)]
                                            for sal in dic_aux[cedula]['SALARIO_SECTOR']
                                        ]
    # Aplanar la lista de listas de SALARIO_SECTOR
    salarios = None
    salarios = [salario for sublist in dic_aux[cedula]['SALARIO_SECTOR'] for salario in sublist]
    dic_aux[cedula]['Q1'] =  np.percentile(salarios, 25)
    dic_aux[cedula]['Q3'] =  np.percentile(salarios, 75)
    dic_aux[cedula]['IQR'] = dic_aux[cedula]['Q3'] -  dic_aux[cedula]['Q1']
    dic_aux[cedula]['LI'] =  dic_aux[cedula]['Q1'] -  1.5  * dic_aux[cedula]['IQR']
    dic_aux[cedula]['LS'] =  dic_aux[cedula]['Q3'] +  1.5  * dic_aux[cedula]['IQR']

data1 = { 'CEDULA_COD': [], 'LS': []}

for cedula, val in dic_aux.items():
    data1['CEDULA_COD'].append(cedula)
    data1['LS'].append( val['LS'] )

LS = pd.DataFrame( data1 )
LS = LS.groupby('CEDULA_COD')['LS'].first()
data_l.loc[  data_l['CEDULA_COD'].isin( cedula_dist ), 'LS_MS'] = data_l['CEDULA_COD'].map(LS)

del dataa, data1, dic_aux, LS
gc.collect()

In [ ]:
ul_dic = ul.groupby('CEDULA_COD').agg({'SALARIO': list, 'INDICE': list}).to_dict(orient='index')
ml_dic = ml.groupby('CEDULA_COD').agg({'SALARIO': list, 'INDICE': list}).to_dict(orient='index')

In [ ]:
ul_dic[230]

In [ ]:
def valor_epsilon( data, val ):
    
    for ced in data:
        aux = None
        aux = np.array( data[ced][val] ).reshape(-1, 1)
        eps = []
        minpt = []
        data[ced]['eps'] = []
        data[ced]['min_pt'] = []

        for i in range(1, 12):
            vecinos = NearestNeighbors( n_neighbors = min( i, len(aux) ) + 1  )
            vecinos_ajustado = vecinos.fit( aux )
            distancias = vecinos_ajustado.kneighbors(aux )[0]
            distancias1 = distancias[:, 1:]
            distancias_ordenadas = np.sort(distancias1.ravel())

            if len( np.unique( distancias_ordenadas ) )==1:
                eps.append( 0.0 )
                minpt.append( i + 1 )

            if len( np.unique( distancias_ordenadas ) )!=1:
                codo = KneeLocator(np.arange(len(distancias_ordenadas)), distancias_ordenadas, curve="convex", direction="increasing")

                eps.append( distancias_ordenadas[codo.elbow])
                minpt.append( i + 1 )

        for i, eps in enumerate( eps ):
            if eps not in data[ced]['eps']:
                data[ced]['eps'].append( eps )
                data[ced]['min_pt'].append( minpt[i] )

In [ ]:
inicio = time.time()
valor_epsilon(ul_dic, 'SALARIO')
valor_epsilon(ml_dic, 'SALARIO')
fin = time.time()  
print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

In [ ]:
#Se guardan los resultados 
nombre_archivo = 'viu_db_ul.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto1 = ul_dic

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto1, archivo) 
    
nombre_archivo = 'viu_db_ml.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto2 = ml_dic

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto2, archivo)

In [4]:
# Cargar archivo------------------------------------------------------------------------------------------------------------
directorio = r_ruta
nombre_archivo = 'viu_db_ul.pkl'
ruta_archivo = os.path.join(directorio, nombre_archivo)
ul_dic = pd.read_pickle(ruta_archivo)

directorio = r_ruta
nombre_archivo = 'viu_db_ml.pkl'
ruta_archivo = os.path.join(directorio, nombre_archivo)
ml_dic = pd.read_pickle(ruta_archivo)

In [5]:
def rangos_valores(number):
    actions = {
        (0, 1): 2,
        (1, 2): 1,
        (2, 3): 2,
        (3, 4): 3,
        (4, 5): 4,
        (5, float('inf')): 5
    }
    
    for (start, end), (val1) in actions.items():
        if start < number <= end:
            return val1 
        
def esti_eps_out( data_dic, val ):
    
    for ced in data_dic:
        aux =  np.array( data_dic[ced][val] ).reshape(-1, 1)
        ep = data_dic[ced]['eps']
        mt = data_dic[ced]['min_pt']

        n_clusters = []
        n_outliers = []
        v_e = []
        g_e = []
        n_e = []

        for j in range(0, len(ep) ):

            if  ep[ j ] <= 0.1:
                n_clusters.append( -1 )
                n_outliers.append( -1 )
                v_e.append( ep[ j ] )
                g_e.append( j )
                n_e.append( mt[j] )
            
            else:
                var1 = rangos_valores(ep[ j ])
                ini =  max(0.1, ep[ j ] - var1 )
                for eps in np.linspace(ini, ep[ j ], 6):
                        labels=None
                        db = DBSCAN( eps, min_samples = mt[j] ).fit( aux )
                        core_samples_mask = np.zeros_like( db.labels_, dtype=bool)
                        core_samples_mask[db.core_sample_indices_] = True
                        labels = db.labels_
                        n_clusters.append( len(set(labels)) - (1 if -1 in labels else 0) )
                        n_outliers.append( list(labels).count(-1) )
                        v_e.append( eps ) 
                        g_e.append( j )
                        n_e.append( mt[j] )
 
        ag = np.empty((len(v_e) , 5))   
        ag[ :, 0 ] = g_e
        ag[ :, 1 ] = v_e
        ag[ :, 2 ] = n_e
        ag[ :, 3 ] = n_clusters
        ag[ :, 4 ] = n_outliers
        data_dic[ced]['esti_eps_out'] = ag

In [6]:
inicio = time.time()
print('*' * 102)
print('Determinación del número de clúster  y número atípicos')
val='SALARIO'
esti_eps_out( ul_dic, val )
esti_eps_out( ml_dic, val )
fin = time.time()  
print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

******************************************************************************************************
Determinación del número de clúster  y número atípicos

KeyboardInterrupt:

In [ ]:
#Seleccionar el valor de epsilon y los atipicos
def cal_eps_out( data_dic ):
    for ced in data_dic:
        aux = data_dic[ced]['esti_eps_out']
        aux1 =  np.array( data_dic[ced]['SALARIO'] ).reshape(-1, 1)
        col1 = 4
        col2 = 3

        # Encontrar el valor máximo en la columna 4 (índice 3)
        val1 = np.max(aux[:,  col1])

        # Filtrar las filas que tienen el valor máximo en la columna 4
        fil= aux[aux[:, col1] == val1]

        # Encontrar la fila con el menor valor en la columna 3 (índice 2) entre las filas filtradas
        indice = np.argmin( fil[:, col2 ])

        # Seleccionar la fila correspondiente
        fila_max_min =  fil[ indice]
        data_dic[ced]['eps_c'] = fila_max_min[1]
        data_dic[ced]['mpt_c'] = fila_max_min[2]
        
        if fila_max_min[1] ==0:
            data_dic[ced]['ATI_DB'] = [-1] * ( len(aux1) )
        else:
            db = DBSCAN( eps = fila_max_min[1], min_samples = int(fila_max_min[2]) ).fit( aux1 )
            data_dic[ced]['ATI_DB'] = (db.labels_).tolist()

In [ ]:
inicio = time.time()
print('*' * 102)
print('Determinación del número de clúster  y número atípicos')
val='SALARIO'
cal_eps_out( ul_dic )
cal_eps_out( ml_dic )
fin = time.time()  
print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

In [ ]:
ul_dic

In [ ]:
#Extensión a dataframe
def extend_data( data_val_ati ):
    inicio = time.time()
    print('Extensión a dataframe de los diccionarios')
    data1 = { 'CEDULA_COD': [], 'SALARIO': [], 'INDICE':[], 'ATI_DB':[], 'EPS':[], 'MINPTS':[]}

    # Llenar las listas con los datos del diccionario
    for cedula, values in data_val_ati.items():
        salario = values['SALARIO']
        indice = values['INDICE']
        atipico= values['ATI_DB']
        ep = values['eps_c']
        mt = values['mpt_c']
        num_rows = len(salario)

        # Extender las listas en el diccionario de datos
        data1['CEDULA_COD'].extend( [cedula] * num_rows )
        data1['SALARIO'].extend( salario )
        data1['ATI_DB' ].extend( atipico )
        data1['INDICE'].extend( indice )
        data1['EPS'].extend( [ep] * num_rows )
        data1['MINPTS'].extend( [mt] * num_rows  )

    data1 = pd.DataFrame( data1 )
    
    fin = time.time()  
    print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
    return(data1)

In [ ]:
def union_dic( data, data_no_grupo, data_dic1, data_dic2):
    inicio = time.time()
    print('*' * 102)
    print('Concatenación con el dataframe original') 
    data1 = extend_data( data_dic1 ) 
    data2 = extend_data( data_dic2 ) 

    data_db = pd.concat( [ data_no_grupo[['CEDULA_COD', 'SALARIO', 'ATI_DB', 'EPS', 'MINPTS','INDICE']],
                                   data1[['CEDULA_COD', 'SALARIO', 'ATI_DB', 'EPS', 'MINPTS','INDICE']],
                                   data2[['CEDULA_COD', 'SALARIO', 'ATI_DB', 'EPS', 'MINPTS','INDICE']]], axis=0)

    data_db = data_db.sort_values( by = ["INDICE"], ascending = [ True ] )
    data_db.reset_index( inplace = True )
    data_db.rename( columns = {'index': 'nuevo_indice'}, inplace = True )
    data_db.drop( columns = ['nuevo_indice'], inplace=True )

    col = ['ATI_DB','EPS', 'MINPTS']
    data[ col ] = np.nan

    for nom_col in col:
        aux = None
        aux = data_db[ nom_col ].to_numpy()
        data.iloc[:, data.columns.get_loc( nom_col )] = aux
    
    del data1, data2, data_db
    gc.collect()
    #return(data_db)
       
    fin = time.time()  
    tm = (fin-inicio)
    print('\tTiempo de ejecución es: ', tm//3600, ' horas con ' , tm%3600//60 , ' minutos y', tm%60, ' segundos' )

In [ ]:
union_dic( data_l, data_no_grupo, ul_dic, ml_dic)

In [ ]:
filtered_data = data_l[data_l['SALARIO'] != a['SALARIO']]

# Mostrar las filas donde 'SALARIO' no coincide
print(filtered_data)

In [ ]:
#Se guardan resultados
nombre_archivo = 'viu_db_ul_ati.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto1 = ul_dic

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto1, archivo) 
    
nombre_archivo = 'viu_db_ml_ati.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto2 = ml_dic

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto2, archivo) 
    
nombre_archivo = 'viu_db_data_l_cl.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto3 = data_l

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto3, archivo) 
    
del objeto1, objeto2, objeto3
gc.collect()

In [9]:
#Desde esta parte comienza la corrección de datos
# Cargar archivo------------------------------------------------------------------------------------------------------------
directorio = r_ruta
nombre_archivo = 'viu_db_data_l_cl.pkl'
ruta_archivo = os.path.join(directorio, nombre_archivo)
data_l = pd.read_pickle(ruta_archivo)

# Cargar archivo------------------------------------------------------------------------------------------------------------
directorio = r_ruta
nombre_archivo = 'viu_db_ul_ati.pkl'
ruta_archivo = os.path.join(directorio, nombre_archivo)
ul_dic = pd.read_pickle(ruta_archivo)

# Cargar archivo------------------------------------------------------------------------------------------------------------
directorio = r_ruta
nombre_archivo = 'viu_db_ml_ati.pkl'
ruta_archivo = os.path.join(directorio, nombre_archivo)
ml_dic = pd.read_pickle(ruta_archivo)

In [15]:
claves_eps_c_igual_0 = [clave for clave, valores in ul_dic.items() if isinstance(valores, dict) and valores.get('eps_c') == 0]
claves_eps_c_igual_0

[426,
 942,
 1429,
 2433,
 2512,
 2540,
 2849,
 3578,
 4546,
 5147,
 6037,
 6694,
 8851,
 8889,
 9315,
 9548,
 9622,
 9671,
 9804,
 10037,
 10272,
 10346,
 10397,
 10419,
 10572,
 10588,
 10785,
 10866,
 10908,
 11053,
 11124,
 11206,
 11282,
 11368,
 11449,
 11491,
 11574,
 11579,
 11648,
 11659,
 11792,
 11983,
 12077,
 12120,
 12273,
 12279,
 12282,
 12289,
 12326,
 12331,
 12360,
 12413,
 12584,
 12713,
 12804,
 12819,
 12891,
 12915,
 13038,
 13050,
 13059,
 13087,
 13092,
 13158,
 13192,
 13220,
 13248,
 13262,
 13276,
 13293,
 13305,
 13320,
 13323,
 13349,
 13394,
 13417,
 13622,
 13764,
 13849,
 14196,
 14226,
 14247,
 14288,
 14363,
 14789,
 14810,
 14854,
 14891,
 14960,
 15006,
 15017,
 15422,
 15448,
 15509,
 15535,
 15571,
 15704,
 15748,
 15792,
 15913,
 15952,
 15957,
 15961,
 16142,
 16418,
 16973,
 17598,
 17681,
 17685,
 17839,
 17948,
 17988,
 18002,
 18027,
 18063,
 18079,
 18165,
 18169,
 18192,
 18271,
 18320,
 18321,
 18341,
 18369,
 18373,
 18382,
 18395,
 18403,
 18440,
 18461,
 18470,
 18486,
 18506,
 18525,
 18571,
 18608,
 18711,
 18964,
 18968,
 19090,
 19162,
 19360,
 19477,
 19594,
 19776,
 19990,
 20186,
 20289,
 20301,
 20384,
 20412,
 20414,
 20430,
 20442,
 20476,
 20501,
 20504,
 20517,
 20523,
 20528,
 20548,
 20555,
 20577,
 20596,
 20601,
 20639,
 20695,
 20704,
 20715,
 20769,
 20820,
 20848,
 20853,
 20920,
 20922,
 20980,
 21016,
 21041,
 21064,
 21116,
 21221,
 21251,
 21330,
 21411,
 21473,
 21868,
 21938,
 22894,
 22895,
 22896,
 22906,
 22918,
 22937,
 22986,
 23028,
 23059,
 23151,
 23186,
 23283,
 23296,
 23348,
 23349,
 23445,
 23462,
 23500,
 23738,
 23781,
 23814,
 23865,
 23885,
 23933,
 23994,
 23999,
 24045,
 24067,
 24111,
 24138,
 24160,
 24398,
 24559,
 24728,
 25564,
 25577,
 25588,
 25593,
 25638,
 25653,
 25699,
 25710,
 25720,
 25722,
 25723,
 25728,
 25732,
 25742,
 25771,
 25786,
 25789,
 25798,
 25801,
 25877,
 25886,
 25891,
 25951,
 25993,
 26016,
 26060,
 26208,
 26243,
 26301,
 26356,
 26389,
 26470,
 26497,
 26517,
 26644,
 26696,
 26722,
 26725,
 26767,
 26831,
 26997,
 27285,
 28239,
 28250,
 28251,
 28266,
 28269,
 28274,
 28289,
 28301,
 28416,
 28442,
 28454,
 28476,
 28519,
 28614,
 28699,
 28741,
 28837,
 28920,
 28932,
 28997,
 29086,
 29131,
 29154,
 29210,
 29245,
 29460,
 29534,
 30275,
 30465,
 30675,
 30722,
 30837,
 30888,
 31049,
 31181,
 31244,
 31266,
 31267,
 31308,
 31309,
 31338,
 31362,
 31400,
 31556,
 31562,
 31579,
 31631,
 31702,
 31844,
 31856,
 31891,
 31918,
 31955,
 32110,
 32181,
 32273,
 32405,
 32440,
 32482,
 32515,
 32526,
 32568,
 32752,
 32845,
 33046,
 33114,
 33145,
 33157,
 33284,
 33452,
 33784,
 33785,
 34149,
 34932,
 34989,
 35042,
 35364,
 35439,
 35471,
 35506,
 35508,
 35570,
 35626,
 36002,
 36122,
 36378,
 36391,
 36492,
 36604,
 36607,
 36717,
 36790,
 37075,
 37249,
 37403,
 37517,
 37523,
 37535,
 38195,
 38535,
 38821,
 38886,
 39016,
 39562,
 40052,
 40080,
 40871,
 40929,
 41191,
 41193,
 41262,
 41879,
 41905,
 42047,
 42121,
 42421,
 42429,
 42441,
 42469,
 42481,
 42512,
 42539,
 42559,
 42561,
 42601,
 42616,
 42671,
 42672,
 42680,
 42682,
 42693,
 42699,
 42729,
 42748,
 42752,
 42816,
 42863,
 43591,
 44605,
 44691,
 44802,
 44864,
 45021,
 45099,
 45245,
 45587,
 45876,
 46216,
 47043,
 47069,
 47092,
 47113,
 47166,
 47276,
 47355,
 47395,
 47411,
 47690,
 47879,
 47912,
 48062,
 48128,
 48362,
 48387,
 48560,
 48596,
 48657,
 48670,
 48793,
 48809,
 48842,
 48903,
 48939,
 48984,
 49005,
 49032,
 49033,
 49083,
 49118,
 49193,
 49208,
 49214,
 49230,
 49425,
 49470,
 49563,
 49600,
 49671,
 50110,
 50293,
 50624,
 50962,
 51138,
 51398,
 51450,
 51498,
 51749,
 51991,
 52097,
 52371,
 52392,
 52397,
 52531,
 52567,
 53463,
 54325,
 54471,
 55654,
 55846,
 55984,
 56411,
 56446,
 56490,
 56667,
 56746,
 56770,
 56780,
 56793,
 56823,
 56839,
 56863,
 56881,
 56944,
 56995,
 56998,
 57070,
 57074,
 57076,
 57095,
 57136,
 57172,
 57231,
 57251,
 57276,
 57316,
 57548,
 57590,
 57726,
 57957,
 58360,
 59298,
 59396,
 59659,
 59669,
 59959,
 60004,
 60690,
 60763,
 60922,
 61016,
 61121,
 61166,
 61400,
 61506,
 61976,
 62130,
 62598,
 63370,
 64035,
 64922,
 65429,
 65739,
 65962,
 65982,
 66083,
 66090,
 66110,
 66127,
 66139,
 66156,
 66176,
 66192,
 66283,
 66363,
 66370,
 66436,
 66452,
 66507,
 66548,
 66592,
 66612,
 66618,
 66657,
 66704,
 66772,
 66873,
 66890,
 66891,
 66952,
 66954,
 66974,
 66975,
 66977,
 66978,
 66981,
 67000,
 67006,
 67010,
 67059,
 67092,
 67095,
 67096,
 67103,
 67609,
 67678,
 67954,
 67990,
 67991,
 68743,
 70380,
 70390,
 71160,
 72047,
 72829,
 73174,
 74337,
 74524,
 75895,
 75920,
 76178,
 76274,
 76302,
 76314,
 76496,
 76611,
 76617,
 76645,
 76660,
 76665,
 76672,
 76743,
 76839,
 76915,
 76999,
 77044,
 77068,
 77108,
 77136,
 77150,
 77245,
 77539,
 77567,
 77631,
 77681,
 77699,
 77733,
 77741,
 77746,
 77773,
 77794,
 77845,
 77854,
 77863,
 78101,
 78714,
 79514,
 79530,
 79986,
 80256,
 80352,
 80672,
 80775,
 80878,
 81313,
 81995,
 82150,
 82164,
 82203,
 82607,
 82821,
 83034,
 83232,
 84042,
 84218,
 84248,
 84606,
 85257,
 85375,
 85476,
 85527,
 85868,
 85981,
 86014,
 86236,
 86348,
 86486,
 86670,
 87056,
 87306,
 87354,
 87368,
 87376,
 87419,
 87452,
 87464,
 87488,
 87567,
 87580,
 87632,
 87665,
 87676,
 87793,
 87853,
 87869,
 88011,
 88055,
 88101,
 88104,
 88126,
 88127,
 88190,
 88297,
 88362,
 88449,
 88488,
 88525,
 88528,
 88571,
 88576,
 88584,
 88607,
 88617,
 88620,
 88624,
 88669,
 88841,
 88864,
 88934,
 89082,
 89218,
 89242,
 89691,
 89753,
 90229,
 90620,
 91150,
 91303,
 91737,
 91946,
 92694,
 92760,
 93000,
 93090,
 93328,
 94001,
 94008,
 94390,
 94631,
 94820,
 95575,
 95608,
 95632,
 96483,
 96527,
 96575,
 97433,
 97507,
 97760,
 98054,
 98100,
 98169,
 98210,
 98266,
 98344,
 98345,
 98349,
 98571,
 98848,
 98939,
 98999,
 99013,
 99092,
 99102,
 99169,
 99248,
 99255,
 99268,
 99280,
 99305,
 99318,
 99592,
 99594,
 99630,
 99701,
 99718,
 100211,
 100436,
 100521,
 100813,
 101154,
 101315,
 101625,
 101732,
 101790,
 101825,
 102029,
 102828,
 103416,
 103444,
 103501,
 103639,
 103701,
 103841,
 103948,
 104187,
 104264,
 104323,
 104408,
 104438,
 104684,
 105112,
 106246,
 106896,
 107276,
 107619,
 107800,
 108610,
 108785,
 108853,
 109098,
 109168,
 109174,
 109213,
 109286,
 109321,
 109446,
 109558,
 109701,
 109778,
 109826,
 109892,
 109899,
 109932,
 109943,
 110060,
 110085,
 110110,
 110256,
 110846,
 110914,
 110925,
 110936,
 110977,
 110985,
 111057,
 111086,
 111182,
 111212,
 111215,
 111305,
 111311,
 111351,
 111582,
 111712,
 111724,
 111769,
 111851,
 111901,
 111922,
 112024,
 112220,
 112395,
 112432,
 112546,
 112754,
 112863,
 113025,
 114243,
 114651,
 114680,
 114948,
 115042,
 115069,
 115091,
 115101,
 115108,
 115143,
 115259,
 115333,
 115369,
 115401,
 115416,
 119568,
 119622,
 119629,
 119644,
 119772,
 119851,
 119994,
 120082,
 120083,
 120086,
 120215,
 120320,
 120349,
 120491,
 120532,
 120548,
 120878,
 120940,
 121019,
 121281,
 121283,
 121324,
 121418,
 121517,
 121598,
 121710,
 121712,
 121762,
 121776,
 121828,
 121841,
 121856,
 121911,
 122024,
 122063,
 122244,
 122417,
 122520,
 122894,
 122963,
 122982,
 123002,
 123010,
 123113,
 123147,
 123243,
 123292,
 123389,
 123402,
 123456,
 123538,
 123562,
 123696,
 123884,
 124003,
 124075,
 124177,
 124215,
 124222,
 124659,
 124677,
 124757,
 124924,
 125031,
 125036,
 125068,
 125071,
 125161,
 125169,
 125243,
 125262,
 125324,
 125405,
 125453,
 125469,
 125606,
 125715,
 125765,
 125780,
 125858,
 125867,
 125890,
 125904,
 125905,
 125924,
 125931,
 126004,
 126079,
 126083,
 126091,
 126111,
 126167,
 126193,
 126626,
 127661,
 128298,
 128605,
 129035,
 129045,
 129071,
 129437,
 129441,
 129518,
 129540,
 129629,
 129718,
 129752,
 129867,
 129872,
 129924,
 129978,
 130112,
 130159,
 130232,
 130657,
 130696,
 130756,
 130858,
 130862,
 130959,
 131161,
 131328,
 131392,
 131695,
 131711,
 131753,
 131763,
 131820,
 131866,
 131923,
 132011,
 132057,
 132078,
 132092,
 132114,
 132140,
 132178,
 132257,
 132313,
 132339,
 132490,
 132605,
 132615,
 132627,
 132748,
 132808,
 132816,
 132818,
 132828,
 133027,
 133200,
 133319,
 133457,
 133464,
 133491,
 ...]

In [16]:
ul_dic[426]

{'SALARIO': [390.59,
  390.59,
  390.59,
  390.59,
  390.59,
  390.59,
  390.59,
  390.59,
  390.59,
  390.59,
  390.59,
  390.59,
  390.59,
  390.59,
  402.08,
  402.08,
  402.08,
  402.08,
  402.08,
  402.08,
  402.08,
  402.08,
  402.08,
  402.08,
  402.08,
  402.08,
  410.41,
  410.41,
  410.41,
  410.41,
  410.41,
  410.41,
  410.41,
  410.41,
  410.41,
  410.41,
  410.41,
  410.41,
  416.66,
  416.66,
  416.66,
  416.66,
  416.66,
  416.66,
  416.66,
  416.66,
  416.66,
  416.66,
  416.66,
  416.66,
  416.66,
  416.66,
  416.66,
  416.66,
  416.66,
  416.66,
  416.66,
  416.66,
  416.66,
  416.66],
 'INDICE': [1415,
  1416,
  1417,
  1418,
  1419,
  1420,
  1421,
  1422,
  1423,
  1424,
  1425,
  1426,
  1427,
  1428,
  1429,
  1430,
  1431,
  1432,
  1433,
  1434,
  1435,
  1436,
  1437,
  1438,
  1439,
  1440,
  1441,
  1442,
  1443,
  1444,
  1445,
  1446,
  1447,
  1448,
  1449,
  1450,
  1451,
  1452,
  1453,
  1454,
  1455,
  1456,
  1457,
  1458,
  1459,
  1460,
  1461,
  1462,
  1463,
  1464,
  1465,
  1466,
  1467,
  1468,
  1469,
  1470,
  1471,
  1472,
  1473,
  1474],
 'eps': [0.0],
 'min_pt': [2],
 'esti_eps_out': array([[ 0.,  0.,  2., -1., -1.]]),
 'eps_c': 0.0,
 'mpt_c': 2.0,
 'ATI_DB': [-1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1,
  -1]}

In [ ]:
grouped = data_l['CEDULA_COD'].drop_duplicates().sample(n=20000, random_state=1)
muestra = data_l[data_l['CEDULA_COD'].isin(grouped)]
muestra.to_csv('muestra_db.txt', sep='\t', index=False)# Agrupar por CEDULA_COD

In [17]:
#Comprobación de la clasificación del dbscan
inicio = time.time()
#Se trabaja primero con las cédulas que tienen un único sector
data = data_l[data_l['GRUPO_SEL']==1]
nodata = data_l[data_l['GRUPO_SEL']==0]
del data_l
gc.collect()

fin = time.time()  
tm=fin-inicio
print('\tTiempo de ejecución es: ',  tm//3600, ' horas con ' ,  tm%3600//60 , ' minutos y', tm%60, ' segundos' )

	Tiempo de ejecución es:  0.0  horas con  1.0  minutos y 44.47008919715881  segundos

In [18]:
inicio = time.time()
cedula_1 = data.groupby('CEDULA_COD')['NUM_SEC_MES'].apply( lambda x: (x != 1).any() )
cedula_dist = cedula_1[ cedula_1 ].index
ul = data[ ~data['CEDULA_COD'].isin( cedula_dist )]
ml = data[  data['CEDULA_COD'].isin( cedula_dist )]
fin = time.time()  
print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

	Tiempo de ejecución es:  0.0  horas con  0.0  minutos y 43.23700761795044  segundos

In [19]:
#Se analiza los casos con únicos sectores
print('Cédulas en ul', ul['CEDULA_COD'].nunique()) 
print('Cédulas en ml', ml['CEDULA_COD'].nunique())

Cédulas en ul 373069
Cédulas en ml 69501

In [22]:
ul.head(5)

,CEDULA_COD,ANIO,MES,SALARIO,SALARIO_SECTOR,SECTOR_A,NUM_SEC_MES,%_NUM_SECTOR,GRUPO,SAL_PROM_GRUPO,...,ID_SBU,INDICE,LS_MS,LS1,SAL_PROM1,LS2,SAL_PROM2,ATI_DB,EPS,MINPTS
13,126,2006,1,161.67,161.67,PRI,1,1,5,161.67,...,-1,13,370.0,382.495,201.720411,382.495,201.720411,0.0,148.61,4.0
14,126,2006,2,161.67,161.67,PRI,1,1,5,161.67,...,-1,14,370.0,382.495,201.720411,382.495,201.720411,0.0,148.61,4.0
15,126,2006,3,161.67,161.67,PRI,1,1,5,161.67,...,-1,15,370.0,382.495,201.720411,382.495,201.720411,0.0,148.61,4.0
16,126,2006,4,161.67,161.67,PRI,1,1,5,161.67,...,-1,16,370.0,382.495,201.720411,382.495,201.720411,0.0,148.61,4.0
17,126,2006,5,161.67,161.67,PRI,1,1,5,161.67,...,-1,17,370.0,382.495,201.720411,382.495,201.720411,0.0,148.61,4.0

In [25]:
 ul[(ul['EPS']==0)]['CEDULA_COD'].unique()

array([     426,      942,     1429, ..., 20856876, 20878541, 20889867],
      dtype=int64)

In [26]:
ul[ul['CEDULA_COD']==426]

,CEDULA_COD,ANIO,MES,SALARIO,SALARIO_SECTOR,SECTOR_A,NUM_SEC_MES,%_NUM_SECTOR,GRUPO,SAL_PROM_GRUPO,...,ID_SBU,INDICE,LS_MS,LS1,SAL_PROM1,LS2,SAL_PROM2,ATI_DB,EPS,MINPTS
1415,426,2016,11,390.59,390.59,IND,1,1,5,390.590000,...,-1,1415,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1416,426,2016,12,390.59,390.59,IND,1,1,5,390.590000,...,-1,1416,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1417,426,2017,1,390.59,390.59,IND,1,1,5,390.590000,...,-1,1417,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1418,426,2017,2,390.59,390.59,IND,1,1,5,390.590000,...,-1,1418,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1419,426,2017,3,390.59,390.59,IND,1,1,5,390.590000,...,-1,1419,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1420,426,2017,4,390.59,390.59,IND,1,1,5,390.590000,...,-1,1420,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1421,426,2017,5,390.59,390.59,IND,1,1,5,390.590000,...,-1,1421,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1422,426,2017,6,390.59,390.59,IND,1,1,5,390.590000,...,-1,1422,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1423,426,2017,7,390.59,390.59,IND,1,1,5,390.590000,...,-1,1423,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1424,426,2017,8,390.59,390.59,IND,1,1,5,390.590000,...,-1,1424,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1425,426,2017,9,390.59,390.59,IND,1,1,5,390.590000,...,-1,1425,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1426,426,2017,10,390.59,390.59,IND,1,1,5,390.590000,...,-1,1426,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1427,426,2017,11,390.59,390.59,IND,1,1,4,400.165000,...,-1,1427,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1428,426,2017,12,390.59,390.59,IND,1,1,4,400.165000,...,-1,1428,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1429,426,2018,1,402.08,402.08,IND,1,1,4,400.165000,...,-1,1429,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1430,426,2018,2,402.08,402.08,IND,1,1,4,400.165000,...,-1,1430,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1431,426,2018,3,402.08,402.08,IND,1,1,4,400.165000,...,-1,1431,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1432,426,2018,4,402.08,402.08,IND,1,1,4,400.165000,...,-1,1432,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1433,426,2018,5,402.08,402.08,IND,1,1,4,400.165000,...,-1,1433,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1434,426,2018,6,402.08,402.08,IND,1,1,4,400.165000,...,-1,1434,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1435,426,2018,7,402.08,402.08,IND,1,1,4,400.165000,...,-1,1435,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1436,426,2018,8,402.08,402.08,IND,1,1,4,400.165000,...,-1,1436,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1437,426,2018,9,402.08,402.08,IND,1,1,4,400.165000,...,-1,1437,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1438,426,2018,10,402.08,402.08,IND,1,1,4,400.165000,...,-1,1438,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1439,426,2018,11,402.08,402.08,IND,1,1,3,409.021667,...,-1,1439,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1440,426,2018,12,402.08,402.08,IND,1,1,3,409.021667,...,-1,1440,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1441,426,2019,1,410.41,410.41,IND,1,1,3,409.021667,...,-1,1441,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1442,426,2019,2,410.41,410.41,IND,1,1,3,409.021667,...,-1,1442,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1443,426,2019,3,410.41,410.41,IND,1,1,3,409.021667,...,-1,1443,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1444,426,2019,4,410.41,410.41,IND,1,1,3,409.021667,...,-1,1444,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1445,426,2019,5,410.41,410.41,IND,1,1,3,409.021667,...,-1,1445,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1446,426,2019,6,410.41,410.41,IND,1,1,3,409.021667,...,-1,1446,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1447,426,2019,7,410.41,410.41,IND,1,1,3,409.021667,...,-1,1447,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1448,426,2019,8,410.41,410.41,IND,1,1,3,409.021667,...,-1,1448,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1449,426,2019,9,410.41,410.41,IND,1,1,3,409.021667,...,-1,1449,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1450,426,2019,10,410.41,410.41,IND,1,1,3,409.021667,...,-1,1450,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1451,426,2019,11,410.41,410.41,IND,1,1,2,415.618333,...,-1,1451,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1452,426,2019,12,410.41,410.41,IND,1,1,2,415.618333,...,-1,1452,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1453,426,2020,1,416.66,416.66,IND,1,1,2,415.618333,...,-1,1453,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1454,426,2020,2,416.66,416.66,IND,1,1,2,415.618333,...,-1,1454,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1455,426,2020,3,416.66,416.66,IND,1,1,2,415.618333,...,-1,1455,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1456,426,2020,4,416.66,416.66,IND,1,1,2,415.618333,...,-1,1456,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1457,426,2020,5,416.66,416.66,IND,1,1,2,415.618333,...,-1,1457,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1458,426,2020,6,416.66,416.66,IND,1,1,2,415.618333,...,-1,1458,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1459,426,2020,7,416.66,416.66,IND,1,1,2,415.618333,...,-1,1459,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1460,426,2020,8,416.66,416.66,IND,1,1,2,415.618333,...,-1,1460,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1461,426,2020,9,416.66,416.66,IND,1,1,2,415.618333,...,-1,1461,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1462,426,2020,10,416.66,416.66,IND,1,1,2,415.618333,...,-1,1462,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1463,426,2020,11,416.66,416.66,IND,1,1,1,416.660000,...,-1,1463,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1464,426,2020,12,416.66,416.66,IND,1,1,1,416.660000,...,-1,1464,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1465,426,2021,1,416.66,416.66,IND,1,1,1,416.660000,...,-1,1465,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1466,426,2021,2,416.66,416.66,IND,1,1,1,416.660000,...,-1,1466,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1467,426,2021,3,416.66,416.66,IND,1,1,1,416.660000,...,-1,1467,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1468,426,2021,4,416.66,416.66,IND,1,1,1,416.660000,...,-1,1468,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1469,426,2021,5,416.66,416.66,IND,1,1,1,416.660000,...,-1,1469,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1470,426,2021,6,416.66,416.66,IND,1,1,1,416.660000,...,-1,1470,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1471,426,2021,7,416.66,416.66,IND,1,1,1,416.660000,...,-1,1471,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1472,426,2021,8,416.66,416.66,IND,1,1,1,416.660000,...,-1,1472,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1473,426,2021,9,416.66,416.66,IND,1,1,1,416.660000,...,-1,1473,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0
1474,426,2021,10,416.66,416.66,IND,1,1,1,416.660000,...,-1,1474,438.53,440.14,398.361967,440.14,398.361967,-1.0,0.0,2.0

In [27]:
#Se analiza los casos con únicos sectores
print('Cédulas con un único sector que tienen al menos un atípico', ul[ (ul['ATI_DB']==-1) & (ul['EPS']!=0)]['CEDULA_COD'].nunique()) #316552
print('Cédulas con múltiples sectores que tienen al menos un atípico', ml[ (ml['ATI_DB']==-1) & (ml['EPS']!=0)]['CEDULA_COD'].nunique()) #68596

Cédulas con un único sector que tienen al menos un atípico 316552
Cédulas con múltiples sectores que tienen al menos un atípico 68596

In [7]:
print('*' * 40, 'Cédulas con sectores únicos', '*' * 40)
print('\tCedulas que tienen un único sector y que fue clasificado como no atipico, que se modificaran a  atipico:',
ul[ (ul['ATI_DB'] != -1) & (ul['SALARIO'] > ul['LS2'])]['CEDULA_COD'].nunique()) 
print('\tCedulas que tienen un único sector y que fue clasificado como atipico, que se modificaran a  no atipico:',
ul[ (ul['ATI_DB'] == -1) & (ul['SALARIO'] <= ul['SBU'])]['CEDULA_COD'].nunique())

**************************************** Cédulas con sectores únicos ****************************************
	Cedulas que tienen un único sector y que fue clasificado como no atipico, que se modificaran a  atipico: 29111
	Cedulas que tienen un único sector y que fue clasificado como atipico, que se modificaran a  no atipico: 128704

In [ ]:
ul[ul['CEDULA_COD']==13603]

In [ ]:
ul[ (ul['ATI_DB'] == 1) & (ul['SALARIO'] < ul[['LS2', 'LS_MS']].min(axis=1) ) ]

In [5]:
def graf_dbscan(data_i, ced, val, grupo_sel = 0):
    #Adecuación de la base de datos
    idx = data_i.columns.get_loc('LS_MS')
    columnas_requeridas = ['CEDULA_COD', 'ANIO', 'MES', val, 'GRUPO_SEL', 'INDICE', 'BASE_CAL'] + list(data_i.columns[idx:])
    data = data_i[data_i['CEDULA_COD'] == ced][columnas_requeridas]
    
    # Establecer si se quieren todos o solos los 5 mejores años
    if(grupo_sel == 1):
        data = data[data['GRUPO_SEL']==1]
    
    #Fecha para eje x
    anios = data['ANIO'].tolist()
    meses = data['MES'].tolist()
    fechas = [datetime(year=anio, month=mes, day=1) for anio, mes in zip(anios, meses)]
    data['FECHA']= pd.to_datetime(fechas)
    data = data.sort_values(by='FECHA')
    
    #Paleta de colores
    colors = plt.get_cmap('tab20').colors

    # Gráfico
    plt.figure(figsize=(12, 8))  
    marker_dict = {1: 'o', 2: 'x'} 
    
    data_aux = data[data['GRUPO_SEL']==1]
    if grupo_sel == 0: 
        Grupo_b= data[(data['GRUPO_SEL'] == 0)]
        plt.scatter(Grupo_b['FECHA'], Grupo_b[val], marker= '^', color='yellow', label='Valores no considerados')
        
        for i in np.sort(data_aux['ATI_DB'].unique()):
            if i == -1:
                Grupo_a = data_aux[data_aux['ATI_DB'] == -1]
                plt.scatter(Grupo_a['FECHA'], Grupo_a[val], marker= 'x', color='red', label='Valores Atípicos')

            else:
                color = colors[int(i % len(colors))]
                Grupo= data_aux[data_aux['ATI_DB'] == i]
                plt.scatter(Grupo['FECHA'], Grupo[val], marker= marker_dict[1], color= color, label=f'Clúster {int(i + 1)}')
                
    else:
        for i in np.sort(data['ATI_DB'].unique()):
            if i == -1:
                Grupo_a = data[data['ATI_DB'] == -1]
                plt.scatter(Grupo_a['FECHA'], Grupo_a[val], marker= 'x', color='red', label='Valores Atípicos')

            else:
                color = colors[int(i % len(colors))]
                Grupo= data[data['ATI_DB'] == i]
                plt.scatter(Grupo['FECHA'], Grupo[val], marker= marker_dict[1], color= color, label=f'Clúster {int(i + 1)}')
    
    plt.axhline(y= data['SAL_PROM2'].iloc[0], color= '#1297ff', linestyle='-', label='Promedio Salarios')
    plt.axhline(y=data['LS2'].iloc[0], alpha=1 , color= '#25ce00', linestyle='--', label='LS2')
    plt.axhline(y=data_aux['LS_MS'].iloc[0], alpha=1, color= '#875b20', linestyle='--', label='LS_MS')
    plt.axhline(y=data['BASE_CAL'].iloc[0], alpha=1, color= '#E800FF', linestyle=':', label='Base de cálculo')
    
    # Añadir el número de clusters, EPS, MINPTS
    plt.scatter( data_aux['FECHA'].iloc[0], data_aux[val].iloc[0], facecolors='none', label="Número de clústers: {}".format(int(max(data_aux['ATI_DB'].unique()) + 1)))
    plt.scatter( data_aux['FECHA'].iloc[0], data_aux[val].iloc[0], facecolors='none', label="Épsilon: {}".format(round(data_aux['EPS'].iloc[0], 2)))
    plt.scatter( data_aux['FECHA'].iloc[0], data_aux[val].iloc[0], facecolors='none', label="Min Pts: {}".format(int(data_aux['MINPTS'].iloc[0])))
    
    # Añadir títulos y etiquetas
    plt.title(f"Aportaciones de la cédula: {ced}")
    plt.xlabel('FECHA')
    plt.ylabel(f"{val}")
    
    # Crear la leyenda
    leyenda = plt.legend(loc='upper left', bbox_to_anchor=(1, 1))

    plt.tight_layout()
    
    plt.grid(True)
    plt.show()
    
def graf_dbscan_guardar(data_i, ced, val, grupo_sel = 0, caso=1):
    #Adecuación de la base de datos
    idx = data_i.columns.get_loc('LS_MS')
    columnas_requeridas = ['CEDULA_COD', 'ANIO', 'MES', val, 'GRUPO_SEL', 'INDICE', 'BASE_CAL'] + list(data_i.columns[idx:])
    data = data_i[data_i['CEDULA_COD'] == ced][columnas_requeridas]
    
    # Establecer si se quieren todos o solos los 5 mejores años
    if(grupo_sel == 1):
        data = data[data['GRUPO_SEL']==1]
    
    #Fecha para eje x
    anios = data['ANIO'].tolist()
    meses = data['MES'].tolist()
    fechas = [datetime(year=anio, month=mes, day=1) for anio, mes in zip(anios, meses)]
    data['FECHA']= pd.to_datetime(fechas)
    data = data.sort_values(by='FECHA')
    
    #Paleta de colores
    colors = plt.get_cmap('tab20').colors

    # Gráfico
    plt.figure(figsize=(12, 8))  
    marker_dict = {1: 'o', 2: 'x'} 
    
    data_aux = data[data['GRUPO_SEL']==1]
    if grupo_sel == 0: 
        Grupo_b= data[(data['GRUPO_SEL'] == 0)]
        plt.scatter(Grupo_b['FECHA'], Grupo_b[val], marker= '^', color='yellow', label='Valores no considerados')
        
        for i in np.sort(data_aux['ATI_DB'].unique()):
            if i == -1:
                Grupo_a = data_aux[data_aux['ATI_DB'] == -1]
                plt.scatter(Grupo_a['FECHA'], Grupo_a[val], marker= 'x', color='red', label='Valores Atípicos')

            else:
                color = colors[int(i % len(colors))]
                Grupo= data_aux[data_aux['ATI_DB'] == i]
                plt.scatter(Grupo['FECHA'], Grupo[val], marker= marker_dict[1], color= color, label=f'Clúster {int(i + 1)}')
                
    else:
        for i in np.sort(data['ATI_DB'].unique()):
            if i == -1:
                Grupo_a = data[data['ATI_DB'] == -1]
                plt.scatter(Grupo_a['FECHA'], Grupo_a[val], marker= 'x', color='red', label='Valores Atípicos')

            else:
                color = colors[int(i % len(colors))]
                Grupo= data[data['ATI_DB'] == i]
                plt.scatter(Grupo['FECHA'], Grupo[val], marker= marker_dict[1], color= color, label=f'Clúster {int(i + 1)}')
    
    plt.axhline(y= data['SAL_PROM2'].iloc[0], color= '#1297ff', linestyle='-', label='Promedio Salarios')
    plt.axhline(y=data['LS2'].iloc[0], alpha=1 , color= '#25ce00', linestyle='--', label='LS2')
    plt.axhline(y=data_aux['LS_MS'].iloc[0], alpha=1, color= '#875b20', linestyle='--', label='LS_MS')
    plt.axhline(y=data['BASE_CAL'].iloc[0], alpha=1, color= '#E800FF', linestyle=':', label='Base de cálculo')
    
    # Añadir el número de clusters, EPS, MINPTS
    plt.scatter( data_aux['FECHA'].iloc[0], data_aux[val].iloc[0], facecolors='none', label="Número de clústers: {}".format(int(max(data_aux['ATI_DB'].unique()) + 1)))
    plt.scatter( data_aux['FECHA'].iloc[0], data_aux[val].iloc[0], facecolors='none', label="Épsilon: {}".format(round(data_aux['EPS'].iloc[0], 2)))
    plt.scatter( data_aux['FECHA'].iloc[0], data_aux[val].iloc[0], facecolors='none', label="Min Pts: {}".format(int(data_aux['MINPTS'].iloc[0])))
    
    # Añadir títulos y etiquetas
    plt.title(f"Aportaciones de la cédula: {ced}")
    plt.xlabel('FECHA')
    plt.ylabel(f"{val}")
    
    # Crear la leyenda
    leyenda = plt.legend(loc='upper left', bbox_to_anchor=(1, 1))

    plt.tight_layout()
    
    plt.grid(True)
    plt.savefig( r_graf + 'algoritmo_db_'+str(ced)+'_'+ str(caso)+'.png' )

In [ ]:
graf_dbscan(ul , 13603, 'SALARIO',  grupo_sel = 1)

In [8]:
#Corrección de los atípicos
ul.loc[ (ul['ATI_DB'] != -1) & (ul['SALARIO'] > ul['LS2']) , 'ATI_DB'] = -1
ul.loc[ (ul['ATI_DB'] == -1) & (ul['SALARIO'] < ul[['LS2', 'LS_MS']].min(axis=1) )  , 'ATI_DB'] = ul['ATI_DB'].max(skipna=True) + 1
ul.loc[ (ul['ATI_DB'] == -1) & (ul['SALARIO'] <= ul['SBU']) , 'ATI_DB'] = ul['ATI_DB'].max(skipna=True) + 1

ul.loc[ (ul['ATI_DB'] != -1), 'ATI_DB'] = 0
ul.loc[ (ul['ATI_DB'] == -1), 'ATI_DB'] = 1

In [ ]:
graf_dbscan(ul , 13603, 'SALARIO',  grupo_sel = 1)

In [9]:
#Cedulas que tiene datos atípicos luego de la corrección---------------------------------------------------------------------
print('\tCedulas con al menos un atípico con un único sector:', ul[ (ul['ATI_DB']==1) ]['CEDULA_COD'].nunique())

	Cedulas con al menos un atípico con un único sector: 157992

In [ ]:
ul[ul['ATI_DB']==1]['CEDULA_COD'].unique()

In [ ]:
ul[ul['CEDULA_COD']==13603]

In [10]:
dic_sim = ml.groupby('CEDULA_COD').agg({'SALARIO_SECTOR': list, 'LS2':list,'LS_MS':list,'INDICE': list}).to_dict(orient='index')

for cedula in dic_sim:
    dic_sim[cedula]['SALARIO_SECTOR'] = [[float(val) for val in sal.split(';')] if isinstance(sal, str) else [sal] 
                                          for sal in dic_sim[cedula]['SALARIO_SECTOR']]

    min_ls = [min(ls2, ls_as) for ls2, ls_as in zip(dic_sim[cedula]['LS2'], dic_sim[cedula]['LS_MS'])]

    dic_sim[cedula]['ATI_DB_AS'] = [ 1 if any(sal > ls for sal in salarios) else 0 
                                    for salarios, ls in zip( dic_sim[cedula]['SALARIO_SECTOR'], min_ls )]

data1 = { 'CEDULA_COD': [], 'SALARIO_SECTOR': [], 
          'LS_MS' : [], 'ATI_DB_AS':[],  'INDICE':[]}

# Llenar las listas con los datos del diccionario
for cedula, values in dic_sim.items():
    salario = values['SALARIO_SECTOR']
    ls = values[ 'LS_MS' ]
    atipico = values[ 'ATI_DB_AS' ]
    indice = values['INDICE']
    num_rows = len(salario)

    # Extender las listas en el diccionario de datos
    data1['CEDULA_COD'].extend([cedula] * num_rows)
    data1['SALARIO_SECTOR'].extend(salario)
    data1['LS_MS' ].extend(ls)
    data1['ATI_DB_AS' ].extend(atipico)
    data1['INDICE'].extend(indice)

data1 = pd.DataFrame( data1 )
data1.set_index('INDICE', inplace=True )
cedul = list(dic_sim.keys())  #total de 111903
filtro = data1[ data1['CEDULA_COD'].isin(cedul )] # 111903 cedulas
indi = filtro.index
ml.loc[ indi, 'ATI_DB_AS'] = filtro['ATI_DB_AS']

del data1,  dic_sim, cedul, filtro, indi, salario, ls, atipico, indice, num_rows
gc.collect()

C:\Users\lenovo\AppData\Local\Temp\ipykernel_15636\3619269662.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ml.loc[ indi, 'ATI_DB_AS'] = filtro['ATI_DB_AS']

0

In [ ]:
ml

In [11]:
#Corrección de los atípicos
ml.loc[ (ml['ATI_DB'] != -1) & (ml['SALARIO'] > ml['LS2']) , 'ATI_DB'] = -1
ml.loc[ (ml['ATI_DB'] == -1) & (ml['SALARIO'] <= ml['SBU']) , 'ATI_DB'] = ml['ATI_DB'].max(skipna=True) + 1

#Para cuando un valor de la suma de salarios es mayor al LS, como si fueran un solo aporte individual
ml.loc[(ml['ATI_DB'] == -1) & (ml['ATI_DB_AS'] == 0), 'ATI_DB'] = ml['ATI_DB_AS']
ml.loc[(ml['ATI_DB'] != -1) & (ml['ATI_DB_AS'] == 1), 'ATI_DB'] = -ml['ATI_DB_AS']

ml.loc[ (ml['ATI_DB'] != -1), 'ATI_DB'] = 0
ml.loc[ (ml['ATI_DB'] == -1), 'ATI_DB'] = 1

In [12]:
#Cedulas que tiene datos atípicos luego de la corrección---------------------------------------------------------------------
print('\tCedulas con al menos un atípico con múltiples sectores:', ml[ (ml['ATI_DB']==1) ]['CEDULA_COD'].nunique())

	Cedulas con al menos un atípico con múltiples sectores: 33943

In [ ]:
nodata

In [ ]:
nodata.columns

In [ ]:
ul.columns

In [ ]:
ml.columns

In [13]:
data_db = pd.concat( [ nodata, ul, ml ], axis=0 )

In [14]:
del nodata, ul, ml
gc.collect()

18

In [ ]:
data_db.head(10)

In [15]:
data_db = data_db.sort_values( by = ["INDICE"], ascending = [ True ] )
data_db.reset_index( inplace = True )
data_db.rename( columns = {'index': 'nuevo_indice'}, inplace = True )
data_db.drop( columns = ['nuevo_indice'], inplace=True )

In [16]:
nombre_archivo = 'viu_db_data_ati.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto1 = data_db

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto1, archivo) 
    
del objeto1
gc.collect()

0

In [3]:
# Cargar archivo------------------------------------------------------------------------------------------------------------
directorio = r_ruta
nombre_archivo = 'viu_db_data_ati.pkl'
ruta_archivo = os.path.join(directorio, nombre_archivo)
data_l = pd.read_pickle(ruta_archivo)

In [4]:
data_l.head(5)

,CEDULA_COD,ANIO,MES,SALARIO,SALARIO_SECTOR,SECTOR_A,NUM_SEC_MES,%_NUM_SECTOR,GRUPO,SAL_PROM_GRUPO,...,INDICE,LS_MS,LS1,SAL_PROM1,LS2,SAL_PROM2,ATI_DB,EPS,MINPTS,ATI_DB_AS
0,126,2004,12,147.45,147.45,PRI,1,1,7,147.45,...,0,370.0,382.495,201.720411,382.495,201.720411,NaN,NaN,NaN,NaN
1,126,2005,1,161.67,161.67,PRI,1,1,6,161.67,...,1,370.0,382.495,201.720411,382.495,201.720411,NaN,NaN,NaN,NaN
2,126,2005,2,161.67,161.67,PRI,1,1,6,161.67,...,2,370.0,382.495,201.720411,382.495,201.720411,NaN,NaN,NaN,NaN
3,126,2005,3,161.67,161.67,PRI,1,1,6,161.67,...,3,370.0,382.495,201.720411,382.495,201.720411,NaN,NaN,NaN,NaN
4,126,2005,4,161.67,161.67,PRI,1,1,6,161.67,...,4,370.0,382.495,201.720411,382.495,201.720411,NaN,NaN,NaN,NaN

In [ ]:
cedul =1429
graf_dbscan(data_l , cedul, 'SALARIO',  grupo_sel = 0) #cedulas 271, 3057
#graf_dbscan_guardar(data_l , cedul, 'SALARIO',  grupo_sel = 0, caso=1)

In [18]:
grouped = data_l['CEDULA_COD'].drop_duplicates().sample(n=30000, random_state=1)
muestra = data_l[data_l['CEDULA_COD'].isin(grouped)]
muestra.to_csv('muestra_db.txt', sep='\t', index=False)# Agrupar por CEDULA_COD

In [ ]:
val=[]
data_l[(data_l['CEDULA_COD']==13603) & (data_l['GRUPO_SEL']==1) & (data_l['SALARIO'] < data_l[['LS2', 'LS_MS']].min(axis=1) ) ]

In [ ]:
    data_l['ATI_DB'].max(skipna=True)