In [1]:
#Importación de librearías necesarias
import pandas as pd
from datetime import datetime
import socket
import numpy as np
import math
import time
import pickle  #Para guardar archivos
import os

from pympler import asizeof #Para liberar memoria
import gc

import matplotlib.pyplot as plt
from scipy.cluster.hierarchy import dendrogram, linkage, fcluster
from scipy.spatial.distance import cdist

In [2]:
#Path general de archivos
if socket.gethostname()=='LAPTOP-PUSGG08B': #Ip de la laptop
    ruta = "E:/Cristian Guatemal/Master/Big Data y Ciencia de Datos/VIU_TFM/Data/TFM/"
    r_ruta = "E:/Cristian Guatemal/Master/Big Data y Ciencia de Datos/VIU_TFM/RData/TFM/"
elif socket.gethostname()=='PCUIOMTDAIE6382': #Ip del working
    ruta =   "D:/Master/Big_Data_Ciencia_Datos/VIU_TFM/Data/TFM/"
    r_ruta = "D:/Master/Big_Data_Ciencia_Datos/VIU_TFM/RData/TFM/"
# Ruta del archivo de pensionistas de vejez
ruta_vj = ruta + 'POB_VEJ_CD656_NEW.dsv'
# Ruta del archivo de historia laboral de pensionistas
ruta_afi = ruta + 'APORTES_CD656_new.dsv'

In [ ]:
#Importación de archivos de afiliados
inicio = time.time()
afi = pd.read_csv( ruta_afi, delimiter='\t', encoding='iso-8859-1', decimal='.')
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', 
        (fin-inicio)%60, ' segundos' )

In [ ]:
#Agrupamiento por relación de trabajo
inicio = time.time()
agrupa = [ (afi['SECTOR'].isin(['PRIVADO', 'PASANTE PRIVADO'])), 
           (afi['SECTOR'].isin(['PUBLICO', 'PASANTE PUBLICO'])), 
           (afi['SECTOR'].isin(['INDEPENDIENTES', '108-ARTISTA Y GESTOR DE CULTURA', 
                                '02-TRABAJ. AUT Y SIN RELAC DEPEN DESDE  2011-12 SOLO AF.VOLUNT  '])),
           (afi['SECTOR'].isin(['69-VOLUNTARIO ECUATORIANO DOMICILIADO EN EL EXTERIOR ',
                                '89-AFILIACION DOMICILIADO EN EL EXTERIOR'])),
           (afi['SECTOR'] == '90-AFILIACION DOMICILIADO EN EL PAIS / SIN RELACION DEPENDENCIA'),
           (afi['SECTOR'] == '06-CODIGO DEL TRABAJO - CT ')
            ]
            
tipo = ['PRI', 'PUB', 'IND', 'VOL_EX', 'VOL_EC', 'COD_TR']

afi['SECTOR_A'] = np.select( agrupa, tipo, default=afi['SECTOR'])
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', 
        (fin-inicio)%60, ' segundos' )

In [ ]:
afi['SECTOR'].unique()

In [ ]:
afi['SECTOR_A'].unique()

In [ ]:
afi.shape

In [ ]:
#Para acceder a las prestaciones de IVM debe tener al menos 5 años de aporte o 60 imposiciones
ced_counts = afi.drop_duplicates(subset=['CEDULA_COD', 'ANIO', 'MES'])['CEDULA_COD'].value_counts()

In [ ]:
# numero de cedulas que tienen menos de 60 imposiciones
ced_counts[ced_counts < 60].index.nunique()

In [ ]:
#Se filtran a las cedulas con menos de 60 imposicones 
inicio = time.time()
afi_fil = afi[~afi['CEDULA_COD'].isin(ced_counts[ced_counts < 60].index)].copy()
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

#Se crea una variable fecha
inicio = time.time()
afi_fil.loc[:, 'FECHA'] = pd.to_datetime(afi_fil['ANIO'].astype(str) + '-' + afi_fil['MES'].astype(str).str.zfill(2) + '-01')
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

#Se ordenan los registros
inicio = time.time()
afi_fil = afi_fil.sort_values( by=["CEDULA_COD","ANIO", "MES"], ascending=[True, True, True] )
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
afi_fil.shape

In [ ]:
# Especifica la ruta del directorio donde quieres guardar el archivo
directorio = r_ruta

# Asegúrate de que el directorio existe
os.makedirs(directorio, exist_ok=True)

# Nombre del archivo
nombre_archivo = 'viu_clean_afi.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto1 = afi

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto1, archivo)
    
    
# Nombre del archivo
nombre_archivo = 'viu_clean_afi_fil.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto2 = afi_fil

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto2, archivo)
        
    
# #Cargar los archivos
# with open( ruta_archivo, 'rb') as archivo:
#     pickle.load(archivo)  # Carga y descarta el primer objeto
#     afi_fil = pickle.load(archivo)  # Carga el segundo objeto

In [ ]:
#Se eliminan archivos no necesarios para liberar la memoria
del afi
del objeto1
del objeto2
del ced_counts

In [ ]:
afi_fil #Tiene una dimensión de (64638969 rows × 14 columns)

In [ ]:
#Se seleccionan las características de la población para los año y mes de aportación
afi_sel = afi_fil[['CEDULA_COD', 'ANIO', 'MES', 'FECHA','SALARIO', 'SECTOR_A']].copy()
del afi_fil

In [ ]:
#Inicio de la HL
caract = afi_sel.groupby('CEDULA_COD')['FECHA'].min().reset_index() 
caract.rename( columns={'FECHA': 'INI_HL'}, inplace=True)
#Fin de la HL
caract['FIN_HL'] = caract['CEDULA_COD'].map( afi_sel.groupby('CEDULA_COD')['FECHA'].max() )
#Contar los meses, considerando duplicidad en los meses que puede tener aporte simultaneos
caract['MES_AS'] = caract['CEDULA_COD'].map( afi_sel['CEDULA_COD'].value_counts() )
#Meses trabajados unicos
aux = afi_sel.drop_duplicates(subset=['CEDULA_COD', 'ANIO', 'MES'])
caract['MES_TU'] = caract['CEDULA_COD'].map( aux['CEDULA_COD'].value_counts() )

In [ ]:
# Nombre del archivo
nombre_archivo = 'viu_clean_caract.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto3 = caract

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto3, archivo)

In [ ]:
del objeto3

In [ ]:
caract

In [ ]:
#Personas que tienen varios aportes simultaneos
caract[caract['MES_AS']>caract['MES_TU']]

In [ ]:
#afi_sel[afi_sel['CEDULA_COD']==21729781].tail(60)

In [ ]:
afi_sel =  afi_sel.sort_values( by=["CEDULA_COD","ANIO", "MES"], ascending=[True, False, False] )
afi_sel['NUM_SEC_MES'] = 1
afi_sel['%_NUM_SECTOR'] = afi_sel['SALARIO']

In [ ]:
aux = afi_sel[afi_sel.duplicated(subset=['CEDULA_COD', 'ANIO', 'MES'], keep=False)]
aux1 = afi_sel[~afi_sel.duplicated(subset=['CEDULA_COD', 'ANIO', 'MES'], keep=False)]

In [ ]:
#Se debe analizar a las personas que tienen varios aportes en un mismo mes
#Se suman los salarios y se concatenan los sectores para la cedula que en el mismo anio y mes tienen más de un sector
inicio = time.time()
afi_sel_g = aux.groupby(['CEDULA_COD', 'ANIO', 'MES']).agg({'SALARIO': 'sum',
                                                            'SECTOR_A': lambda x: ';'.join(x),
                                                            'NUM_SEC_MES': lambda x: len(x),
                                                            '%_NUM_SECTOR': lambda x:  ';'.join((x / x.sum()).round(4).astype(str))
                                                                }).reset_index()
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

In [ ]:
afi_sel_g

In [ ]:
afi_sel_g_all = pd.concat( [aux1[['CEDULA_COD', 'ANIO', 'MES', 'SALARIO', 'SECTOR_A', 'NUM_SEC_MES', '%_NUM_SECTOR']], 
                            afi_sel_g], ignore_index=True )

In [ ]:
afi_sel_g_all

In [ ]:
# Nombre del archivo
nombre_archivo = 'viu_clean_afi_sel_g_all.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto4 = afi_sel_g_all

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto4, archivo)

In [ ]:
#afi_sel_g_all = objetos[3]

In [ ]:
del aux
del aux1
del objeto4

In [ ]:
afi_sel_g_all = afi_sel_g_all.sort_values( by=["CEDULA_COD","ANIO", "MES"], ascending=[True, False, False] )
afi_sel_g_all.loc[ (afi_sel_g_all['NUM_SEC_MES'] == 1), '%_NUM_SECTOR'] = '1'

In [ ]:
afi_sel_g_all[afi_sel_g_all['CEDULA_COD']==216]

In [ ]:
#Se reinician los index
afi_sel_g_all.reset_index(inplace=True)
afi_sel_g_all.rename(columns={'index': 'nuevo_indice'}, inplace=True)
afi_sel_g_all.drop(columns=['nuevo_indice'], inplace=True)

In [ ]:
afi_sel_g_all[afi_sel_g_all['CEDULA_COD']==126]

In [ ]:
#se crean los grupos de 12 meses trabajados para tener
n_grupo = 12
afi_sel_g_all['GRUPO'] = (afi_sel_g_all.groupby('CEDULA_COD').cumcount() // n_grupo ) + 1
#Se saca el salario promedio de cada grupo
afi_sel_g_all['SAL_PROM_GRUPO'] = afi_sel_g_all.groupby(['CEDULA_COD', 'GRUPO'])['SALARIO'].transform('mean')

In [ ]:
afi_sel_g_all

In [ ]:
afi_sel_g_all[afi_sel_g_all['CEDULA_COD']==126]['GRUPO'].unique()

In [ ]:
#Se obtienen los sueldos promedios para cada grupo y cada cedula
inicio = time.time()
df1 = afi_sel_g_all.groupby(['CEDULA_COD', 'GRUPO'])['SAL_PROM_GRUPO'].first().reset_index().copy()
df1 = df1.sort_values(by = ['CEDULA_COD','SAL_PROM_GRUPO'], ascending=[True,False])
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

In [ ]:
df1

In [ ]:
 df1[df1['CEDULA_COD']==126]

In [ ]:
#Se seleccionan los 5 mejores años de sueldo
inicio = time.time()
top = 5
#top_sal = df1.groupby('CEDULA_COD')['SAL_PROM_GRUPO'].nlargest(top).reset_index(level=0, drop=True)
indices = df1.groupby('CEDULA_COD').apply(lambda x: x.index[:top]).explode()
df2 = df1.loc[indices].reset_index(drop=True)
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

In [ ]:
df2[df2['CEDULA_COD']==126]

In [ ]:
#Seleccionar los cinco mejores años del grupo total de años de aporte
combinaciones = set(zip(df2['CEDULA_COD'], df2['GRUPO']))
afi_sel_g_all['GRUPO_SEL'] = [(cedula, grupo) in combinaciones for cedula, grupo in zip(afi_sel_g_all['CEDULA_COD'], afi_sel_g_all['GRUPO'])]
afi_sel_g_all['GRUPO_SEL'] = afi_sel_g_all['GRUPO_SEL'].astype(int)

In [ ]:
#Verificar que todas las cédulas tengan al menos 60 registros de los salarios
ced_counts1 = afi_sel_g_all.drop_duplicates(subset=['CEDULA_COD', 'ANIO', 'MES'])['CEDULA_COD'].value_counts()
ced_counts1[ced_counts1 < 60].index.nunique()

In [ ]:
afi_sel_g_all[afi_sel_g_all['CEDULA_COD']==126].tail(60)

In [ ]:
#Se crea una variable fecha para el período de mejores años y la base de cálculo
inicio = time.time()
mejores = afi_sel_g_all[afi_sel_g_all['GRUPO_SEL']==1].copy()
mejores.loc[:, 'FECHA'] = pd.to_datetime(mejores['ANIO'].astype(str) + '-' + mejores['MES'].astype(str).str.zfill(2) + '-01')

#Se calcula la base de calculo
df_prom = mejores.groupby('CEDULA_COD')['SALARIO'].mean()
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

In [ ]:
mejores

In [ ]:
afi_sel_g_all['INI_CAL'] = afi_sel_g_all['CEDULA_COD'].map( mejores.groupby('CEDULA_COD')['FECHA'].max() )
afi_sel_g_all['FIN_CAL'] = afi_sel_g_all['CEDULA_COD'].map( mejores.groupby('CEDULA_COD')['FECHA'].min() )
afi_sel_g_all['BASE_CAL'] = afi_sel_g_all['CEDULA_COD'].map( df_prom )

In [ ]:
caract['INI_CAL'] = caract['CEDULA_COD'].map( mejores.groupby('CEDULA_COD')['FECHA'].max() )
caract['FIN_CAL'] = caract['CEDULA_COD'].map( mejores.groupby('CEDULA_COD')['FECHA'].min() )
caract['BASE_CAL'] = caract['CEDULA_COD'].map( df_prom )
caract

In [ ]:
del df1, df2, mejores

In [ ]:
afi_sel_g_all[ (afi_sel_g_all['CEDULA_COD']==126) & (afi_sel_g_all['GRUPO_SEL']==1)]['SALARIO'].mean()

In [ ]:
afi_sel_g_all[ (afi_sel_g_all['CEDULA_COD']==126)]

In [ ]:
# #     df = asignar_grupo(sect, n_grupo)
# #     df1 = valores_unicos_grupos(df)
# #     df2 = sel_top_salarios(df1, top)
# #     df = sel_grupo(df, df2)
#     df = fec_sel_grupo(df)
#     df = base_cal(df)
#     df = ati_base_cal_m1(df, inferior)
#     df = base_cal_sin_ati_m1(df)
#     df = sbu_ajuste_m1(df, SBU)

In [ ]:
#Registros con años menores al 2000
afi_sel_g_all[afi_sel_g_all['FIN_CAL'].dt.year<2000]

In [ ]:
#Se agrega el valor del SBU
SBU = pd.DataFrame( { 'ANIO':[2000,2001,2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
                              2021, 2022, 2023, 2024],
                      'VALOR':[57,85.65,105, 122, 136, 150, 160, 170, 200, 218, 240, 264, 292, 318, 340, 354, 366, 375, 386, 394, 400, 
                              400, 425, 450, 460]})
SBU

In [ ]:
afi_sel_g_all['SBU'] = afi_sel_g_all['ANIO'].map( SBU.groupby('ANIO')['VALOR'].first())

In [ ]:
afi_sel_g_all

In [ ]:
#Cédula que tienen su historia laboral igual al SBU
afi_sel_g_all['ID_SBU'] = afi_sel_g_all['SALARIO'] == afi_sel_g_all['SBU']
#Si tiene -1 es un valor que no es un SBU en ese año y mes
afi_sel_g_all['ID_SBU'] = afi_sel_g_all['ID_SBU'].astype(int)-1
afi_sel_g_all

In [ ]:
#Verificar que todas las cédulas tengan 60 registros
ced_counts2 = afi_sel_g_all.drop_duplicates(subset=['CEDULA_COD', 'ANIO', 'MES'])['CEDULA_COD'].value_counts()
ced_counts2[ced_counts2 < 60].index.nunique()

In [ ]:
afi_sel_g_all[afi_sel_g_all['CEDULA_COD']==126].shape

In [ ]:
afi_sel_g_all[(afi_sel_g_all['CEDULA_COD']==126) & (afi_sel_g_all['GRUPO_SEL']==1)]

In [ ]:
# Nombre del archivo
nombre_archivo = 'viu_clean_afi_sel_g_all_2.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto5 = afi_sel_g_all

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto5, archivo)

In [ ]:
del objeto5

In [ ]:
#Selección de cedulas con sus mejores años de sueldo y que su salario no sea un SBU
data_sin_ati = afi_sel_g_all[ (afi_sel_g_all['GRUPO_SEL']==1) & (afi_sel_g_all['ID_SBU']!=-1)]
data_ati = afi_sel_g_all[ (afi_sel_g_all['GRUPO_SEL']==1) & (afi_sel_g_all['ID_SBU']!=0)]

In [ ]:
data_ati.shape #(21022610, 15)
data_sin_ati.shape #(5449506, 15)

In [ ]:
data_ati[data_ati['CEDULA_COD']==126][['CEDULA_COD','ANIO','MES','SALARIO']].shape

In [ ]:
data_ati[data_ati['CEDULA_COD']==126]

In [ ]:
# Nombre del archivo
nombre_archivo = 'viu_clean_data_ati.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto6 = data_ati

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto6, archivo)         

# Nombre del archivo
nombre_archivo = 'viu_clean_data_sin_ati.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto7 = data_sin_ati

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto7, archivo)     
    
del objeto6, objeto7

In [3]:
#Cargar los archivos
directorio = r_ruta
nombre_archivo = 'viu_clean_afi_sel_g_all_2.pkl'
ruta_archivo = os.path.join(directorio, nombre_archivo)

with open( ruta_archivo, 'rb') as archivo:
    data_l = pickle.load( archivo )

In [4]:
#Análisis de atípicos
#Método de clustering jerárquico
data_l.shape #(62130167, 15)

(62130167, 15)

In [5]:
inicio = time.time()
data_l = data_l.sort_values( by=["CEDULA_COD","ANIO", "MES"], ascending=[ True, True, True] )
data_l.reset_index(inplace=True)
data_l.rename(columns={'index': 'nuevo_indice'}, inplace=True)
data_l.drop(columns=['nuevo_indice'], inplace=True)
data_l['INDICE'] = data_l.index

#Casos de no análisis
data_no_grupo = data_l[ (data_l['GRUPO_SEL']==0) ].copy()
data_no_grupo['ATI_CJ_M1'] = np.nan
data_no_grupo['ATI_CJ_M2'] = np.nan
data_no_grupo['ATI_CJ_M3'] = np.nan

#Casos de análisis
data = data_l[ (data_l['GRUPO_SEL']==1) ].copy()

fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

Tiempo de ejecución es de la columna es:  0.0  horas con  0.0  minutos y 52.464893102645874  segundos

In [41]:
#Para ejecutar el cluster jerarquico
def cluster_jerarquico( data_si_dic, k):
    inicio = time.time()
    nom = 'ATI_CJ_M' + str( k+1 )
    data_val_ati = {}
    for cedula in data_si_dic:

        if( len( data_si_dic[ cedula ]['SALARIO'] ) > 1 ): #Para formar al menos un cluster

            aux = np.array( data_si_dic[ cedula ]['SALARIO'] ).reshape(-1, 1)
            Z = linkage( aux , method='single', metric='euclidean')

            num_clusters = 2  # Puedes ajustar este valor según tus necesidades
            clusters = fcluster(Z, num_clusters, criterion='maxclust')

            if( len( np.unique(clusters) ) > 1 ): #Para considerar al menos 2 cluster
                # Calcular el centroide de cada clúster
                cluster_centers = np.array([[ np.nanmean(aux[clusters == i], axis=0)[0], i ] for i in range(1, num_clusters + 1)] ) 

                Q1 = np.quantile(aux, 0.25)
                Q3 = np.quantile(aux, 0.75)
                IQR = Q3-Q1
                LI = Q1 - 1.5 * IQR
                LS = Q3 + 1.5 * IQR

                cl_at = np.where( cluster_centers[:,0] > (LS +  1e-8) )[0]
                cluster_centers[cl_at][:, 1]

                mod_aux = np.zeros((len(aux), 2))
                mod_aux[:, 0] = aux[:, 0]  # Copiar los valores originales de aux en la primera columna
                mod_aux[np.isin(clusters, cluster_centers[cl_at][:, 1]), 1] = 1  # Asignar 1 en la segunda columna donde el cluster es 1
                mod_aux

                data_val_ati[cedula] = {'SALARIO': mod_aux[:, 0].tolist(),
                                             nom : mod_aux[:, 1].tolist(),
                                        'INDICE' : data_si_dic[ cedula ]['INDICE']}
            else:
                data_val_ati[cedula] = { 'SALARIO': aux.flatten().tolist(),
                                               nom:  [-1] * len(aux),
                                         'INDICE' : data_si_dic[ cedula ]['INDICE']} 

        else:
            data_val_ati[cedula] = { 'SALARIO': data_si_dic[ cedula ]['SALARIO'],
                                           nom:  [-2] * len( data_si_dic[ cedula ]['SALARIO'] ),
                                     'INDICE' : data_si_dic[ cedula ]['INDICE']}
    fin = time.time()  
    print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
    
    return data_val_ati
 
#Para unir los resultados
def extend_data( data_val_ati, k ):
    inicio = time.time()
    nom = 'ATI_CJ_M' + str( k + 1 )
    data1 = { 'CEDULA_COD': [], 'SALARIO': [], nom : [], 'INDICE':[]}

    # Llenar las listas con los datos del diccionario
    for cedula, values in data_val_ati.items():
        salario = values['SALARIO']
        atipico = values[ nom ]
        indice = values['INDICE']
        num_rows = len(salario)

        # Extender las listas en el diccionario de datos
        data1['CEDULA_COD'].extend([cedula] * num_rows)
        data1['SALARIO'].extend(salario)
        data1[ nom ].extend(atipico)
        data1['INDICE'].extend(indice)

    fin = time.time()  
    print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
    return data1

In [42]:
#Se crea un bucle para cada caso
for k in range(0,3):
    nom = 'ATI_CJ_M' + str( k+1 )
    if (k==0):
        ##Primer Caso--Considerando solo los salarios mayores al SBU y desde el año 2000
        print('*' * 50, 'Caso ', str( k+1 ), '*' * 50)
        data_si = data[   ( data['SALARIO'] >= data['SBU'] ) & ( data['ANIO'] >= 2000 ) ].copy() 
        data_no = data[ ~(( data['SALARIO'] >= data['SBU'] ) & ( data['ANIO'] >= 2000 )) ].copy() 
        data_no[ nom ] = np.nan
        print('Tamaño de la data utilizada dentro de los años seleccionados', data_si.shape) #(26006294, 16)
        print('Tamaño de la data no utilizada dentro de los años seleccionados',data_no.shape)  #(465822, 16)
        
        data_si_dic = data_si.groupby('CEDULA_COD').agg({'SALARIO': list, 'INDICE': list}).to_dict(orient='index')
        data_no_dic = data_no.groupby('CEDULA_COD').agg({'SALARIO': list, 'INDICE': list}).to_dict(orient='index')
        
        print('Algoritmo Cluster Jerárquico')
        data_val_ati = cluster_jerarquico( data_si_dic, k )
        print('Extensión del diccionario')
        data1 = extend_data( data_val_ati, k )
        
        print('Concatenación de dataframe')
        inicio = time.time()
        data_jerar = None
        data_jerar = pd.concat( [ data_no_grupo[['CEDULA_COD', 'SALARIO',  nom , 'INDICE']],
                                  pd.DataFrame( data1 ), 
                                  data_no[['CEDULA_COD', 'SALARIO',  nom , 'INDICE']] ], axis=0)
    
        data_jerar = data_jerar.sort_values( by=["INDICE"], ascending=[ True ] )
        data_jerar.reset_index(inplace=True)
        data_jerar.rename(columns={'index': 'nuevo_indice'}, inplace=True)
        data_jerar.drop(columns=['nuevo_indice'], inplace=True)
        fin = time.time()  
        print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
        
        print('Creación de la columna')
        inicio = time.time()
        data_l[ nom ] = np.nan
        aux = data_jerar[ nom ].to_numpy()
        data_l.iloc[:, data_l.columns.get_loc( nom )] = aux
        fin = time.time()  
        print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
        
        print('Verificación de posibles errores')
        inicio = time.time()
        dif1 = data_l[data_l['SALARIO']!= data_jerar['SALARIO']].index
        fin = time.time()  
        print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
        print('*' * 108, '\n')  
        
    if (k==1):
        ##Segundo Caso--Considerando todo el registro de los mejores años
        print('*' * 50, 'Caso ', str( k+1 ), '*' * 50)
        data_si = data.copy()
        print('Tamaño de la data utilizada dentro de los años seleccionados', data_si.shape) 
        
        data_si_dic = data_si.groupby('CEDULA_COD').agg({'SALARIO': list, 'INDICE': list}).to_dict(orient='index')
        
        print('Algoritmo Cluster Jerárquico')
        data_val_ati = cluster_jerarquico( data_si_dic, k )
        print('Extensión del diccionario')
        data1 = extend_data( data_val_ati, k )
        
        print('Concatenación de dataframe')
        inicio = time.time()
        data_jerar = None
        data_jerar = pd.concat( [ data_no_grupo[['CEDULA_COD', 'SALARIO', nom, 'INDICE']],
                                  pd.DataFrame( data1 ) ], axis=0)
    
        data_jerar = data_jerar.sort_values( by=["INDICE"], ascending=[ True ] )
        data_jerar.reset_index(inplace=True)
        data_jerar.rename(columns={'index': 'nuevo_indice'}, inplace=True)
        data_jerar.drop(columns=['nuevo_indice'], inplace=True)
        fin = time.time()  
        print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
        
        print('Creación de la columna')
        inicio = time.time()
        data_l[ nom ] = np.nan
        aux = data_jerar[ nom ].to_numpy()
        data_l.iloc[:, data_l.columns.get_loc( nom ) ] = aux
        fin = time.time()  
        print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
        
        print('Verificación de posibles errores')
        inicio = time.time()
        dif2 = data_l[data_l['SALARIO']!= data_jerar['SALARIO']].index
        fin = time.time()  
        print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
        print('*' * 108, '\n')
        
    if (k==2):
        ##Tercer Caso--Considerando todo el registro de los mejores años, pero a partir del año 2000
        print('*' * 50, 'Caso ', str( k+1 ), '*' * 50)
        data_si = data[  ( ( data['ANIO'] >= 2000 )) ].copy()
        data_no = data[ ~( ( data['ANIO'] >= 2000 )) ].copy()   
        data_no[ nom ] = np.nan
        print('Tamaño de la data utilizada dentro de los años seleccionados', data_si.shape) 
        print('Tamaño de la data no utilizada dentro de los años seleccionados',data_no.shape) 
        
        data_si_dic = data_si.groupby('CEDULA_COD').agg({'SALARIO': list, 'INDICE': list}).to_dict(orient='index')
        data_no_dic = data_no.groupby('CEDULA_COD').agg({'SALARIO': list, 'INDICE': list}).to_dict(orient='index')
        
        print('Algoritmo Cluster Jerárquico')
        data_val_ati = cluster_jerarquico( data_si_dic, k )
        print('Extensión del diccionario')
        data1 = extend_data( data_val_ati, k )
        
        print('Concatenación de dataframe')
        inicio = time.time()
        data_jerar = None
        data_jerar = pd.concat( [ data_no_grupo[['CEDULA_COD', 'SALARIO', nom, 'INDICE']],
                                  pd.DataFrame( data1 ), 
                                  data_no[['CEDULA_COD', 'SALARIO', nom, 'INDICE']] ], axis=0)
    
        data_jerar = data_jerar.sort_values( by=["INDICE"], ascending=[ True ] )
        data_jerar.reset_index(inplace=True)
        data_jerar.rename(columns={'index': 'nuevo_indice'}, inplace=True)
        data_jerar.drop(columns=['nuevo_indice'], inplace=True)
        fin = time.time()  
        print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
        
        print('Creación de la columna')
        inicio = time.time()
        data_l[ nom ] = np.nan
        aux = data_jerar[ nom ].to_numpy()
        data_l.iloc[:, data_l.columns.get_loc( nom )] = aux
        fin = time.time()  
        print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
        
        print('Verificación de posibles errores')
        inicio = time.time()
        dif3 = data_l[data_l['SALARIO']!= data_jerar['SALARIO']].index
        fin = time.time()  
        print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
        print('*' * 108, '\n')

************************************************** Caso  1 **************************************************
Tamaño de la data utilizada dentro de los años seleccionados (26006294, 16)
Tamaño de la data no utilizada dentro de los años seleccionados (465822, 17)
Algoritmo Cluster Jerárquico
	Tiempo de ejecución es:  0.0  horas con  4.0  minutos y 21.352703094482422  segundos
Extensión del diccionario
	Tiempo de ejecución es:  0.0  horas con  0.0  minutos y 3.561182737350464  segundos
Concatenación de dataframe
	Tiempo de ejecución es:  0.0  horas con  0.0  minutos y 29.839043855667114  segundos
Creación de la columna
	Tiempo de ejecución es:  0.0  horas con  0.0  minutos y 4.601192951202393  segundos
Verificación de posibles errores
	Tiempo de ejecución es:  0.0  horas con  0.0  minutos y 2.5219385623931885  segundos
************************************************************************************************************

************************************************** Caso  2 **************************************************
Tamaño de la data utilizada dentro de los años seleccionados (26472116, 16)
Algoritmo Cluster Jerárquico
	Tiempo de ejecución es:  0.0  horas con  4.0  minutos y 24.80866003036499  segundos
Extensión del diccionario
	Tiempo de ejecución es:  0.0  horas con  0.0  minutos y 3.777437448501587  segundos
Concatenación de dataframe
	Tiempo de ejecución es:  0.0  horas con  0.0  minutos y 28.87862229347229  segundos
Creación de la columna
	Tiempo de ejecución es:  0.0  horas con  0.0  minutos y 1.7762904167175293  segundos
Verificación de posibles errores
	Tiempo de ejecución es:  0.0  horas con  0.0  minutos y 7.464711427688599  segundos
************************************************************************************************************

************************************************** Caso  3 **************************************************
Tamaño de la data utilizada dentro de los años seleccionados (26464662, 16)
Tamaño de la data no utilizada dentro de los años seleccionados (7454, 17)
Algoritmo Cluster Jerárquico
	Tiempo de ejecución es:  0.0  horas con  4.0  minutos y 41.799309968948364  segundos
Extensión del diccionario
	Tiempo de ejecución es:  0.0  horas con  0.0  minutos y 3.6017932891845703  segundos
Concatenación de dataframe
	Tiempo de ejecución es:  0.0  horas con  0.0  minutos y 29.808244228363037  segundos
Creación de la columna
	Tiempo de ejecución es:  0.0  horas con  0.0  minutos y 4.222148180007935  segundos
Verificación de posibles errores
	Tiempo de ejecución es:  0.0  horas con  0.0  minutos y 8.344926834106445  segundos
************************************************************************************************************

In [48]:
#El valor de -1 implica que se formó un solo cluster
#El valor de -2 implica que en la selección de datos (data_si), la cedula solo tenía un único valor para formar los cluster
#por lo que, para el caso 2, no deben hacer valores de -2, porque se toma en cuenta toda la HL
data_l[ ( data_l['GRUPO_SEL']==1 ) & (data_l['ATI_CJ_M1']==-2)]

,CEDULA_COD,ANIO,MES,SALARIO,SECTOR_A,NUM_SEC_MES,%_NUM_SECTOR,GRUPO,SAL_PROM_GRUPO,GRUPO_SEL,INI_CAL,FIN_CAL,BASE_CAL,SBU,ID_SBU,INDICE,ATI_CJ_M1,ATI_CJ_M2,ATI_CJ_M3
2628576,188869,2013,4,318.00,PRI,1,1,6,217.300000,1,2018-05-01,2013-04-01,136.401600,318.0,0,2628576,-2.0,1.0,1.0
3346439,246477,2016,4,366.00,PRI,1,1,6,272.133333,1,2020-06-01,2015-07-01,276.888667,366.0,0,3346439,-2.0,0.0,0.0
4014452,1111454,2011,8,438.35,IND,1,1,6,177.451111,1,2017-02-01,2011-06-01,175.329825,264.0,-1,4014452,-2.0,1.0,1.0
4738213,1182231,2016,1,366.00,VOL_EC,1,1,1,74.481667,1,2016-01-01,2000-01-01,40.250333,366.0,0,4738213,-2.0,1.0,1.0
5793987,1510695,2020,3,500.00,PRI,1,1,2,223.750000,1,2021-07-01,2006-01-01,174.565500,400.0,-1,5793987,-2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54257399,16355129,2010,1,240.00,PRI,1,1,1,187.380833,1,2010-02-01,2005-03-01,138.809500,240.0,0,54257399,-2.0,0.0,0.0
58237274,16673342,2016,4,366.00,PRI,1,1,8,196.750000,1,2023-09-01,2015-10-01,205.450000,366.0,0,58237274,-2.0,1.0,1.0
59033828,19792921,2010,1,240.00,PRI,1,1,1,189.583333,1,2010-01-01,2005-02-01,130.916667,240.0,0,59033828,-2.0,0.0,0.0
59948480,19959302,2010,1,240.00,PRI,1,1,1,189.583333,1,2010-01-01,2005-02-01,130.916667,240.0,0,59948480,-2.0,0.0,0.0
60255577,19981324,2008,8,334.52,PRI,1,1,1,167.043333,1,2008-08-01,2003-09-01,89.742000,200.0,-1,60255577,-2.0,1.0,1.0

In [49]:
#Se hacen las correcciones para los valores -2, en donde si el Salario es menor o igual a un SBU no es atípico( -2 -> 0 )
data_l.loc[ ( (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M1']==-2) & (data_l['SALARIO'] <= data_l['SBU']) ), 'ATI_CJ_M1'] = 0 # nos quedan solo 23 casos que analizar, aplicado esto

In [60]:
#Se calculan los limítes máximos de aportación en función de la HL
##Primer Caso -- Para toda la historia laboral
grupo1 = data_l.copy()
Q1 = grupo1.groupby('CEDULA_COD')['SALARIO'].quantile(0.25)
Q3 = grupo1.groupby('CEDULA_COD')['SALARIO'].quantile(0.75)
IQR = Q3-Q1
LI = Q1 - 1.5 * IQR
LS = Q3 + 1.5 * IQR
data_l['LS1'] = data_l['CEDULA_COD'].map( LS )
##Segundo Caso --Para la historia laboral a partir del año 2020
grupo2 = data_l[data_l['ANIO']>=2000].copy()
Q1 = grupo2.groupby('CEDULA_COD')['SALARIO'].quantile(0.25)
Q3 = grupo2.groupby('CEDULA_COD')['SALARIO'].quantile(0.75)
IQR = Q3-Q1
LI = Q1 - 1.5 * IQR
LS = Q3 + 1.5 * IQR
data_l['LS2'] = data_l['CEDULA_COD'].map( LS )

In [69]:
data_l

MemoryError: Unable to allocate 1.85 GiB for an array with shape (4, 62130167) and data type float64

MemoryError: Unable to allocate 2.31 GiB for an array with shape (5, 62130167) and data type int64

In [68]:
del data, data_jerar, data1, aux, data_si, data_no, data_no_grupo, data_val_ati
gc.collect()

94270

In [59]:
data_l[(data_l['CEDULA_COD']==1111454)].head(60)

,CEDULA_COD,ANIO,MES,SALARIO,SECTOR_A,NUM_SEC_MES,%_NUM_SECTOR,GRUPO,SAL_PROM_GRUPO,GRUPO_SEL,INI_CAL,FIN_CAL,BASE_CAL,SBU,ID_SBU,INDICE,ATI_CJ_M1,ATI_CJ_M2,ATI_CJ_M3
4014450,1111454,2011,6,146.12,IND,1,1,6,177.451111,1,2017-02-01,2011-06-01,175.329825,264.0,-1,4014450,NaN,0.0,0.0
4014451,1111454,2011,7,141.40,IND,1,1,6,177.451111,1,2017-02-01,2011-06-01,175.329825,264.0,-1,4014451,NaN,0.0,0.0
4014452,1111454,2011,8,438.35,IND,1,1,6,177.451111,1,2017-02-01,2011-06-01,175.329825,264.0,-1,4014452,-2.0,1.0,1.0
4014453,1111454,2011,9,146.12,IND,1,1,6,177.451111,1,2017-02-01,2011-06-01,175.329825,264.0,-1,4014453,NaN,0.0,0.0
4014454,1111454,2011,10,141.40,IND,1,1,6,177.451111,1,2017-02-01,2011-06-01,175.329825,264.0,-1,4014454,NaN,0.0,0.0
4014455,1111454,2011,11,146.12,IND,1,1,6,177.451111,1,2017-02-01,2011-06-01,175.329825,264.0,-1,4014455,NaN,0.0,0.0
4014456,1111454,2011,12,141.40,IND,1,1,6,177.451111,1,2017-02-01,2011-06-01,175.329825,264.0,-1,4014456,NaN,0.0,0.0
4014457,1111454,2012,1,145.65,IND,1,1,6,177.451111,1,2017-02-01,2011-06-01,175.329825,292.0,-1,4014457,NaN,0.0,0.0
4014458,1111454,2012,2,150.50,IND,1,1,6,177.451111,1,2017-02-01,2011-06-01,175.329825,292.0,-1,4014458,NaN,0.0,0.0
4014459,1111454,2012,3,150.50,IND,1,1,5,152.113333,0,2017-02-01,2011-06-01,175.329825,292.0,-1,4014459,NaN,NaN,NaN
4014460,1111454,2012,4,150.50,IND,1,1,5,152.113333,0,2017-02-01,2011-06-01,175.329825,292.0,-1,4014460,NaN,NaN,NaN
4014461,1111454,2012,5,150.50,IND,1,1,5,152.113333,0,2017-02-01,2011-06-01,175.329825,292.0,-1,4014461,NaN,NaN,NaN
4014462,1111454,2012,6,150.50,IND,1,1,5,152.113333,0,2017-02-01,2011-06-01,175.329825,292.0,-1,4014462,NaN,NaN,NaN
4014463,1111454,2012,7,150.50,IND,1,1,5,152.113333,0,2017-02-01,2011-06-01,175.329825,292.0,-1,4014463,NaN,NaN,NaN
4014464,1111454,2012,8,150.50,IND,1,1,5,152.113333,0,2017-02-01,2011-06-01,175.329825,292.0,-1,4014464,NaN,NaN,NaN
4014465,1111454,2012,9,150.50,IND,1,1,5,152.113333,0,2017-02-01,2011-06-01,175.329825,292.0,-1,4014465,NaN,NaN,NaN
4014466,1111454,2012,10,150.50,IND,1,1,5,152.113333,0,2017-02-01,2011-06-01,175.329825,292.0,-1,4014466,NaN,NaN,NaN
4014467,1111454,2012,11,150.50,IND,1,1,5,152.113333,0,2017-02-01,2011-06-01,175.329825,292.0,-1,4014467,NaN,NaN,NaN
4014468,1111454,2012,12,150.50,IND,1,1,5,152.113333,0,2017-02-01,2011-06-01,175.329825,292.0,-1,4014468,NaN,NaN,NaN
4014469,1111454,2013,1,160.18,IND,1,1,5,152.113333,0,2017-02-01,2011-06-01,175.329825,318.0,-1,4014469,NaN,NaN,NaN
4014470,1111454,2013,2,160.18,IND,1,1,5,152.113333,0,2017-02-01,2011-06-01,175.329825,318.0,-1,4014470,NaN,NaN,NaN
4014471,1111454,2013,3,160.18,IND,1,1,4,161.648333,1,2017-02-01,2011-06-01,175.329825,318.0,-1,4014471,NaN,0.0,0.0
4014472,1111454,2013,4,160.18,IND,1,1,4,161.648333,1,2017-02-01,2011-06-01,175.329825,318.0,-1,4014472,NaN,0.0,0.0
4014473,1111454,2013,5,160.18,IND,1,1,4,161.648333,1,2017-02-01,2011-06-01,175.329825,318.0,-1,4014473,NaN,0.0,0.0
4014474,1111454,2013,6,160.18,IND,1,1,4,161.648333,1,2017-02-01,2011-06-01,175.329825,318.0,-1,4014474,NaN,0.0,0.0
4014475,1111454,2013,7,160.18,IND,1,1,4,161.648333,1,2017-02-01,2011-06-01,175.329825,318.0,-1,4014475,NaN,0.0,0.0
4014476,1111454,2013,8,160.18,IND,1,1,4,161.648333,1,2017-02-01,2011-06-01,175.329825,318.0,-1,4014476,NaN,0.0,0.0
4014477,1111454,2013,9,160.18,IND,1,1,4,161.648333,1,2017-02-01,2011-06-01,175.329825,318.0,-1,4014477,NaN,0.0,0.0
4014478,1111454,2013,10,160.18,IND,1,1,4,161.648333,1,2017-02-01,2011-06-01,175.329825,318.0,-1,4014478,NaN,0.0,0.0
4014479,1111454,2013,11,160.18,IND,1,1,4,161.648333,1,2017-02-01,2011-06-01,175.329825,318.0,-1,4014479,NaN,0.0,0.0
4014480,1111454,2013,12,160.18,IND,1,1,4,161.648333,1,2017-02-01,2011-06-01,175.329825,318.0,-1,4014480,NaN,0.0,0.0
4014481,1111454,2014,1,168.99,IND,1,1,4,161.648333,1,2017-02-01,2011-06-01,175.329825,340.0,-1,4014481,NaN,0.0,0.0
4014482,1111454,2014,2,168.99,IND,1,1,4,161.648333,1,2017-02-01,2011-06-01,175.329825,340.0,-1,4014482,NaN,0.0,0.0
4014483,1111454,2014,3,168.99,IND,1,1,3,170.781667,1,2017-02-01,2011-06-01,175.329825,340.0,-1,4014483,NaN,0.0,0.0
4014484,1111454,2014,4,168.99,IND,1,1,3,170.781667,1,2017-02-01,2011-06-01,175.329825,340.0,-1,4014484,NaN,0.0,0.0
4014485,1111454,2014,5,168.99,IND,1,1,3,170.781667,1,2017-02-01,2011-06-01,175.329825,340.0,-1,4014485,NaN,0.0,0.0
4014486,1111454,2014,6,168.99,IND,1,1,3,170.781667,1,2017-02-01,2011-06-01,175.329825,340.0,-1,4014486,NaN,0.0,0.0
4014487,1111454,2014,7,168.99,IND,1,1,3,170.781667,1,2017-02-01,2011-06-01,175.329825,340.0,-1,4014487,NaN,0.0,0.0
4014488,1111454,2014,8,168.99,IND,1,1,3,170.781667,1,2017-02-01,2011-06-01,175.329825,340.0,-1,4014488,NaN,0.0,0.0
4014489,1111454,2014,9,168.99,IND,1,1,3,170.781667,1,2017-02-01,2011-06-01,175.329825,340.0,-1,4014489,NaN,0.0,0.0
4014490,1111454,2014,10,168.99,IND,1,1,3,170.781667,1,2017-02-01,2011-06-01,175.329825,340.0,-1,4014490,NaN,0.0,0.0
4014491,1111454,2014,11,168.99,IND,1,1,3,170.781667,1,2017-02-01,2011-06-01,175.329825,340.0,-1,4014491,NaN,0.0,0.0
4014492,1111454,2014,12,168.99,IND,1,1,3,170.781667,1,2017-02-01,2011-06-01,175.329825,340.0,-1,4014492,NaN,0.0,0.0
4014493,1111454,2015,1,179.74,IND,1,1,3,170.781667,1,2017-02-01,2011-06-01,175.329825,354.0,-1,4014493,NaN,0.0,0.0
4014494,1111454,2015,2,179.74,IND,1,1,3,170.781667,1,2017-02-01,2011-06-01,175.329825,354.0,-1,4014494,NaN,0.0,0.0
4014495,1111454,2015,3,179.74,IND,1,1,2,180.755000,1,2017-02-01,2011-06-01,175.329825,354.0,-1,4014495,NaN,0.0,0.0
4014496,1111454,2015,4,179.74,IND,1,1,2,180.755000,1,2017-02-01,2011-06-01,175.329825,354.0,-1,4014496,NaN,0.0,0.0
4014497,1111454,2015,5,179.74,IND,1,1,2,180.755000,1,2017-02-01,2011-06-01,175.329825,354.0,-1,4014497,NaN,0.0,0.0
4014498,1111454,2015,6,179.74,IND,1,1,2,180.755000,1,2017-02-01,2011-06-01,175.329825,354.0,-1,4014498,NaN,0.0,0.0
4014499,1111454,2015,7,179.74,IND,1,1,2,180.755000,1,2017-02-01,2011-06-01,175.329825,354.0,-1,4014499,NaN,0.0,0.0
4014500,1111454,2015,8,179.74,IND,1,1,2,180.755000,1,2017-02-01,2011-06-01,175.329825,354.0,-1,4014500,NaN,0.0,0.0
4014501,1111454,2015,9,179.74,IND,1,1,2,180.755000,1,2017-02-01,2011-06-01,175.329825,354.0,-1,4014501,NaN,0.0,0.0
4014502,1111454,2015,10,179.74,IND,1,1,2,180.755000,1,2017-02-01,2011-06-01,175.329825,354.0,-1,4014502,NaN,0.0,0.0
4014503,1111454,2015,11,179.74,IND,1,1,2,180.755000,1,2017-02-01,2011-06-01,175.329825,354.0,-1,4014503,NaN,0.0,0.0
4014504,1111454,2015,12,179.74,IND,1,1,2,180.755000,1,2017-02-01,2011-06-01,175.329825,354.0,-1,4014504,NaN,0.0,0.0
4014505,1111454,2016,1,185.83,IND,1,1,2,180.755000,1,2017-02-01,2011-06-01,175.329825,366.0,-1,4014505,NaN,0.0,0.0
4014506,1111454,2016,2,185.83,IND,1,1,2,180.755000,1,2017-02-01,2011-06-01,175.329825,366.0,-1,4014506,NaN,0.0,0.0
4014507,1111454,2016,3,185.83,IND,1,1,1,186.543333,1,2017-02-01,2011-06-01,175.329825,366.0,-1,4014507,NaN,0.0,0.0
4014508,1111454,2016,4,185.83,IND,1,1,1,186.543333,1,2017-02-01,2011-06-01,175.329825,366.0,-1,4014508,NaN,0.0,0.0
4014509,1111454,2016,5,185.83,IND,1,1,1,186.543333,1,2017-02-01,2011-06-01,175.329825,366.0,-1,4014509,NaN,0.0,0.0

In [ ]:
plt.figure(figsize=(10, 6))
plt.plot(data_dic[2778], marker='o', linestyle='-', color='b', label='Salarios')  # Graficar como línea con puntos
plt.title('Distribución de Salarios')
plt.xlabel('Índice')
plt.ylabel('Salario')
plt.grid(True)
plt.legend()
plt.tight_layout()

# Mostrar el gráfico
plt.show()

In [ ]:
len(a)

In [ ]:
aux

In [ ]:
import numpy as np

# Ejemplo de datos auxiliares y clusters
aux = np.array([
    [161.67], [161.67], [161.67],
    [170.], [170.], [200.], [200.], [250.]
])

clusters = np.array([
    2, 2, 2,
    1, 1, 1, 1, 1
], dtype=np.int32)

# Crear un array modificado según los clusters
modified_aux = np.zeros((len(aux), 2))
modified_aux[:, 0] = aux[:, 0]  # Copiar los valores originales de aux en la primera columna
modified_aux[clusters == 1, 1] = 1  # Asignar 1 en la segunda columna donde el cluster es 1

print("Array modificado:")
print(modified_aux)

In [ ]:
plt.figure(figsize=(25, 10))
plt.title('Dendrograma')
plt.xlabel('índice de la muestra')
plt.ylabel('distancia')
dendrogram(
    Z,
    leaf_rotation=90.,  # rotates the x axis labels
    leaf_font_size=8.,  # font size for the x axis labels
)
plt.show()

In [ ]:
Z

In [ ]:
#Código para graficar los datos
plt.figure(figsize=(25, 10))
plt.title('Dendrograma')
plt.xlabel('índice de la muestra')
plt.ylabel('distancia')
dendrogram(
    Z,
    leaf_rotation=90.,  # rotates the x axis labels
    leaf_font_size=8.,  # font size for the x axis labels
)
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
plt.plot(data_dic[2778], marker='o', linestyle='-', color='b', label='Salarios')  # Graficar como línea con puntos
plt.title('Distribución de Salarios')
plt.xlabel('Índice')
plt.ylabel('Salario')
plt.grid(True)
plt.legend()
plt.tight_layout()

# Mostrar el gráfico
plt.show()