In [2]:
#Importación de librearías necesarias
import pandas as pd
from datetime import datetime
import socket
import numpy as np
import math
import time
import pickle  #Para guardar archivos
import os

from pympler import asizeof #Para liberar memoria
import gc

import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap, to_rgb


from scipy.cluster.hierarchy import dendrogram, linkage, fcluster
from scipy.spatial.distance import cdist
from collections import Counter

In [3]:
#Importación de librearías necesarias
import pandas as pd
from datetime import datetime
import socket
import numpy as np
import math
import time
import pickle  #Para guardar archivos
import os

from pympler import asizeof #Para liberar memoria
import gc

import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap, to_rgb


from scipy.cluster.hierarchy import dendrogram, linkage, fcluster
from scipy.spatial.distance import cdist

In [4]:
#Path general de archivos
if socket.gethostname()=='LAPTOP-PUSGG08B': #Ip de la laptop
    ruta = "E:/Cristian Guatemal/Master/Big Data y Ciencia de Datos/VIU_TFM/Data/TFM/"
    r_ruta = "E:/Cristian Guatemal/Master/Big Data y Ciencia de Datos/VIU_TFM/RData/TFM/"
elif socket.gethostname()=='PCUIOMTDAIE6382': #Ip del working
    ruta =   "D:/Master/Big_Data_Ciencia_Datos/VIU_TFM/Data/TFM/"
    r_ruta = "D:/Master/Big_Data_Ciencia_Datos/VIU_TFM/RData/TFM/"

# Ruta del archivo de pensionistas de vejez
ruta_vj = ruta + 'POB_VEJ_CD656_NEW.dsv'
# Ruta del archivo de pensionistas de vejez
ruta_inv = ruta + 'POB_INV_CD656_NEW.dsv'
# Ruta del archivo de pensionistas de vejez
ruta_dis = ruta + 'POB_DIS_CD656_NEW.dsv'

# Ruta del archivo de historia laboral de pensionistas
ruta_afi = ruta + 'APORTES_CD656_new.dsv'

In [ ]:
#Importación de archivos de afiliados
inicio = time.time()
afi = pd.read_csv( ruta_afi, delimiter='\t', encoding='iso-8859-1', decimal='.')
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', 
        (fin-inicio)%60, ' segundos' )

In [ ]:
#Agrupamiento por relación de trabajo
inicio = time.time()
agrupa = [ (afi['SECTOR'].isin(['PRIVADO', 'PASANTE PRIVADO'])), 
           (afi['SECTOR'].isin(['PUBLICO', 'PASANTE PUBLICO'])), 
           (afi['SECTOR'].isin(['INDEPENDIENTES', '108-ARTISTA Y GESTOR DE CULTURA', 
                                '02-TRABAJ. AUT Y SIN RELAC DEPEN DESDE  2011-12 SOLO AF.VOLUNT  '])),
           (afi['SECTOR'].isin(['69-VOLUNTARIO ECUATORIANO DOMICILIADO EN EL EXTERIOR ',
                                '89-AFILIACION DOMICILIADO EN EL EXTERIOR'])),
           (afi['SECTOR'] == '90-AFILIACION DOMICILIADO EN EL PAIS / SIN RELACION DEPENDENCIA'),
           (afi['SECTOR'] == '06-CODIGO DEL TRABAJO - CT ')
            ]
            
tipo = ['PRI', 'PUB', 'IND', 'VOL_EX', 'VOL_EC', 'COD_TR']

afi['SECTOR_A'] = np.select( agrupa, tipo, default=afi['SECTOR'])
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', 
        (fin-inicio)%60, ' segundos' )

In [ ]:
afi['SECTOR'].unique()

In [ ]:
afi['SECTOR_A'].unique()

In [ ]:
afi.shape

In [ ]:
#Para acceder a las prestaciones de IVM debe tener al menos 5 años de aporte o 60 imposiciones
ced_counts = afi.drop_duplicates(subset=['CEDULA_COD', 'ANIO', 'MES'])['CEDULA_COD'].value_counts()

In [ ]:
# numero de cedulas que tienen menos de 60 imposiciones
ced_counts[ced_counts < 60].index.nunique()

In [ ]:
#Se filtran a las cedulas con menos de 60 imposicones 
inicio = time.time()
afi_fil = afi[~afi['CEDULA_COD'].isin(ced_counts[ced_counts < 60].index)].copy()
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

#Se crea una variable fecha
inicio = time.time()
afi_fil.loc[:, 'FECHA'] = pd.to_datetime(afi_fil['ANIO'].astype(str) + '-' + afi_fil['MES'].astype(str).str.zfill(2) + '-01')
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

#Se ordenan los registros
inicio = time.time()
afi_fil = afi_fil.sort_values( by=["CEDULA_COD","ANIO", "MES"], ascending=[True, True, True] )
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
afi_fil.shape

In [ ]:
# Guadar archivo------------------------------------------------------------------------------------------------------------
directorio = r_ruta

# Asegúrate de que el directorio existe
os.makedirs(directorio, exist_ok=True)

# Nombre del archivo
nombre_archivo = 'viu_clean_afi.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto1 = afi

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto1, archivo)
    
    
# Nombre del archivo
nombre_archivo = 'viu_clean_afi_fil.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto2 = afi_fil

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto2, archivo)

In [ ]:
# Cargar archivo------------------------------------------------------------------------------------------------------------
directorio = r_ruta
nombre_archivo = 'viu_clean_afi_fil.pkl'
ruta_archivo = os.path.join(directorio, nombre_archivo)

with open( ruta_archivo, 'rb') as archivo:
    afi_fil = pickle.load( archivo )

In [ ]:
#Se eliminan archivos no necesarios para liberar la memoria
del afi
del objeto1
del objeto2
del ced_counts

In [ ]:
afi_fil #Tiene una dimensión de (64638969 rows × 14 columns)

In [ ]:
#Se seleccionan las características de la población para los año y mes de aportación
afi_sel = afi_fil[['CEDULA_COD', 'ANIO', 'MES', 'FECHA','SALARIO', 'SECTOR_A']].copy()
del afi_fil

In [ ]:
afi_sel

In [ ]:
#lEY DE SEGURIDAD SOCIAL
#personal                                     #patronal
#obreros  5%
#publicos 7%                                  #1.5% /3.5% (sumando 7+1.5=8.5)
#independientes 8.5%

prima = pd.DataFrame( { 'ANIO':[ 2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014, #CI 150,CD 081,261,
                                2015, 2016, 2017, 2018, 2019, 2020, 2021,  2022, 2023, 2024], #CD 501,515,609
                        'VALOR':[8.5,8.5,8.5,9.15,9.15,9.74,9.74,9.74,9.74,9.74,9.74,9.74,9.74,9.74,9.74,
                                 5.96, 5.96, 6.90, 7.76, 8.96, 9.96, 11.06, 11.06, 11.06, 11.06],
                        'TASA':[ 4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,6.25,6.25,6.25,6.25] # CI 141, cd 459
                      })
prima['VALOR'] = prima['VALOR'] * (1/100)
prima['TASA'] = prima['TASA'] * (1/100)
pri = prima.groupby('ANIO')['VALOR'].first()
tasa = prima.groupby('ANIO')['TASA'].first()

In [ ]:
afi_sel['prima'] = afi_sel['ANIO'].map(pri)
afi_sel['tasa_act'] = afi_sel['ANIO'].map(tasa)

In [ ]:
afi_sel.loc[ afi_sel['prima'].isna(), 'prima'] = 8.5/100
afi_sel.loc[ afi_sel['tasa_act'].isna(), 'tasa_act'] = 4/100

In [ ]:
afi_sel[ afi_sel['prima'].isna()]

In [ ]:
afi_sel[ afi_sel['tasa_act'].isna()]

In [ ]:
aux1 = afi_sel.groupby(['CEDULA_COD','ANIO'])['SALARIO'].sum().reset_index()
aux1.rename( columns={'SALARIO': 'SUM_SAL_ANIO'}, inplace=True)
aux1

In [ ]:
afi_sel  = afi_sel.merge(aux1[['CEDULA_COD', 'ANIO', 'SUM_SAL_ANIO']], on=['CEDULA_COD', 'ANIO'], how='left')

In [ ]:
afi_sel

In [ ]:
afi_sel['APORTE'] = afi_sel['prima'] * afi_sel['SUM_SAL_ANIO']
afi_sel['INTERES_APORTE'] = afi_sel['APORTE'] * afi_sel['tasa_act']

In [ ]:
aux = afi_sel.groupby('CEDULA_COD').agg({'SECTOR_A': list}).to_dict(orient='index')
for cedula in aux:
    aux[cedula]['SECTOR_A1'] = [ [str(val) for val in sal.replace(':', ';').split(';')] 
                                            if isinstance(sal, str) 
                                            else [str(sal)]
                                            for sal in aux[cedula]['SECTOR_A']
                                        ]
    # Aplanar la lista de listas del tipo de sector
    sect = None
    sect = [salario for sublist in aux[cedula]['SECTOR_A1'] for salario in sublist]
    dt = None
    dt = dict(Counter(sect))
    for key, value in dt.items():
        if key=='PRI':
            aux[cedula]['N_PRI'] = value
        elif key == 'PUB':
            aux[cedula]['N_PUB'] = value
        elif key == 'IND':
            aux[cedula]['N_IND'] = value
        elif key == 'VOL_EX':
            aux[cedula]['N_VOL_EX'] = value
        elif key == 'VOL_EC':
            aux[cedula]['N_VOL_EC'] = value
        elif key == 'COD_TR':
            aux[cedula]['N_COD_TR'] = value

In [ ]:
aux_fil = {k: {key: value for key, value in v.items() if key not in ['SECTOR_A','SECTOR_A1']} for k, v in aux.items()}
aux_n = pd.DataFrame.from_dict( aux_fil , orient='index').reset_index()
aux_n.rename(columns={'index': 'CEDULA_COD'}, inplace=True)
aux_n

In [ ]:
#Inicio de la HL
caract = afi_sel.groupby('CEDULA_COD')['FECHA'].min().reset_index() 
caract.rename( columns={'FECHA': 'INI_HL'}, inplace=True)
#Fin de la HL
caract['FIN_HL'] = caract['CEDULA_COD'].map( afi_sel.groupby('CEDULA_COD')['FECHA'].max() )
#Contar los meses, considerando duplicidad en los meses que puede tener aporte simultaneos
caract['MES_AS'] = caract['CEDULA_COD'].map( afi_sel['CEDULA_COD'].value_counts() )
#Meses trabajados unicos
aux = afi_sel.drop_duplicates(subset=['CEDULA_COD', 'ANIO', 'MES'])
caract['MES_TU'] = caract['CEDULA_COD'].map( aux['CEDULA_COD'].value_counts() )
#Materia gravada acumulada
aux = afi_sel.groupby(['CEDULA_COD'])['SALARIO'].sum()
caract['SUELDO'] = caract['CEDULA_COD'].map( aux )
#Aporte
aux1 = afi_sel.groupby(['CEDULA_COD', 'ANIO'])['APORTE'].first().reset_index()
aux1 = aux1.groupby('CEDULA_COD')['APORTE'].sum()
caract['APORTE'] = caract['CEDULA_COD'].map( aux1 )
#interes
aux2 = afi_sel.groupby(['CEDULA_COD', 'ANIO'])['INTERES_APORTE'].first().reset_index()
aux2 = aux2.groupby('CEDULA_COD')['INTERES_APORTE'].sum()
caract['INTERES_APORTE'] = caract['CEDULA_COD'].map( aux2 )

#Sectores
caract = caract.merge(aux_n[['CEDULA_COD', 'N_PRI','N_PUB','N_IND','N_VOL_EX','N_VOL_EC','N_COD_TR']], on=['CEDULA_COD'], how='left')

In [ ]:
caract

In [ ]:
afi_sel[afi_sel['CEDULA_COD']==23075971]['SECTOR_A'].unique()

In [ ]:
afi_sel[(afi_sel['CEDULA_COD']==216) &(afi_sel['SECTOR_A']=='IND')]['SECTOR_A'].count()

In [ ]:
afi_sel[afi_sel['CEDULA_COD']==216].groupby(['CEDULA_COD','ANIO'])['SALARIO'].sum()

In [ ]:
#PARA CEDULA 152
# print('aporte', 1881.66*0.0915+4139.64*0.0974+5161.20*0.0974+6281.55* 0.0974+7639.92*0.0974+6366.34*0.0974)
# print('interes',1881.66*0.0915*0.04+4139.64*0.0974*0.04+5161.20*0.0974*0.04+6281.55* 0.0974*0.04+7639.92*0.0974*0.04+
#       6366.34*0.0974*0.04 )
#PARA CEDULA 216
print('aporte', 2372.42*0.0915+6118.72*0.0974+6978.48*0.0974+6863.31*0.0974+6892.93*0.0974+5772.06*0.0974)
     
print('interes',2372.42*0.0915*0.04+6118.72*0.0974*0.04+6978.48*0.0974*0.04+6863.31*0.0974*0.04+6892.93*0.0974*0.04+5772.06*0.0974*0.04 )

In [ ]:
2372.42+ 6118.72+6978.486+6863.31+6892.93+5772.06

In [ ]:
# Guadar archivo------------------------------------------------------------------------------------------------------------
nombre_archivo = 'viu_clean_caract.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto3 = caract

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto3, archivo)

In [ ]:
del objeto3

In [ ]:
caract

In [ ]:
#Personas que tienen varios aportes simultaneos
caract[caract['MES_AS']>caract['MES_TU']]

In [ ]:
#afi_sel[afi_sel['CEDULA_COD']==21729781].tail(60)

In [ ]:
afi_sel =  afi_sel.sort_values( by=["CEDULA_COD","ANIO", "MES"], ascending=[True, False, False] )
afi_sel['SALARIO_SECTOR'] = afi_sel['SALARIO']
afi_sel['NUM_SEC_MES'] = 1
afi_sel['%_NUM_SECTOR'] = afi_sel['SALARIO']

In [ ]:
aux = afi_sel[afi_sel.duplicated(subset=['CEDULA_COD', 'ANIO', 'MES'], keep=False)]
aux1 = afi_sel[~afi_sel.duplicated(subset=['CEDULA_COD', 'ANIO', 'MES'], keep=False)]

In [ ]:
aux

In [ ]:
#Se debe analizar a las personas que tienen varios aportes en un mismo mes
#Se suman los salarios y se concatenan los sectores para la cedula que en el mismo anio y mes tienen más de un sector
inicio = time.time()
afi_sel_g = aux.groupby(['CEDULA_COD', 'ANIO', 'MES']).agg({'SALARIO': 'sum',
                                                            'SALARIO_SECTOR': lambda x: ';'.join(x.astype(str)),
                                                            'SECTOR_A': lambda x: ';'.join(x),
                                                            'NUM_SEC_MES': lambda x: len(x),
                                                            '%_NUM_SECTOR': lambda x:  ';'.join((x / x.sum()).round(4).astype(str))
                                                                }).reset_index()
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

In [ ]:
afi_sel_g

In [ ]:
afi_sel_g_all = pd.concat( [aux1[['CEDULA_COD', 'ANIO', 'MES', 'SALARIO', 'SALARIO_SECTOR','SECTOR_A', 'NUM_SEC_MES', '%_NUM_SECTOR']], 
                            afi_sel_g], ignore_index=True )

In [ ]:
afi_sel_g_all

In [ ]:
# Guadar archivo------------------------------------------------------------------------------------------------------------
nombre_archivo = 'viu_clean_afi_sel_g_all.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto4 = afi_sel_g_all

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto4, archivo)

In [ ]:
#afi_sel_g_all = objetos[3]

In [ ]:
del aux
del aux1
del objeto4

In [ ]:
afi_sel_g_all = afi_sel_g_all.sort_values( by=["CEDULA_COD","ANIO", "MES"], ascending=[True, False, False] )
afi_sel_g_all.loc[ (afi_sel_g_all['NUM_SEC_MES'] == 1), '%_NUM_SECTOR'] = '1'

In [ ]:
afi_sel_g_all[afi_sel_g_all['CEDULA_COD']==216]

In [ ]:
#Se reinician los index
afi_sel_g_all.reset_index(inplace=True)
afi_sel_g_all.rename(columns={'index': 'nuevo_indice'}, inplace=True)
afi_sel_g_all.drop(columns=['nuevo_indice'], inplace=True)

In [ ]:
afi_sel_g_all[afi_sel_g_all['CEDULA_COD']==126]

In [ ]:
#se crean los grupos de 12 meses trabajados para tener
n_grupo = 12
afi_sel_g_all['GRUPO'] = (afi_sel_g_all.groupby('CEDULA_COD').cumcount() // n_grupo ) + 1
#Se saca el salario promedio de cada grupo
afi_sel_g_all['SAL_PROM_GRUPO'] = afi_sel_g_all.groupby(['CEDULA_COD', 'GRUPO'])['SALARIO'].transform('mean')

In [ ]:
afi_sel_g_all

In [ ]:
afi_sel_g_all[afi_sel_g_all['CEDULA_COD']==126]['GRUPO'].unique()

In [ ]:
#Se obtienen los sueldos promedios para cada grupo y cada cedula
inicio = time.time()
df1 = afi_sel_g_all.groupby(['CEDULA_COD', 'GRUPO'])['SAL_PROM_GRUPO'].first().reset_index().copy()
df1 = df1.sort_values(by = ['CEDULA_COD','SAL_PROM_GRUPO'], ascending=[True,False])
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

In [ ]:
df1

In [ ]:
 df1[df1['CEDULA_COD']==126]

In [ ]:
#Se seleccionan los 5 mejores años de sueldo
inicio = time.time()
top = 5
#top_sal = df1.groupby('CEDULA_COD')['SAL_PROM_GRUPO'].nlargest(top).reset_index(level=0, drop=True)
indices = df1.groupby('CEDULA_COD').apply(lambda x: x.index[:top]).explode()
df2 = df1.loc[indices].reset_index(drop=True)
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

In [ ]:
df2[df2['CEDULA_COD']==126]

In [ ]:
#Seleccionar los cinco mejores años del grupo total de años de aporte
combinaciones = set(zip(df2['CEDULA_COD'], df2['GRUPO']))
afi_sel_g_all['GRUPO_SEL'] = [(cedula, grupo) in combinaciones for cedula, grupo in zip(afi_sel_g_all['CEDULA_COD'], afi_sel_g_all['GRUPO'])]
afi_sel_g_all['GRUPO_SEL'] = afi_sel_g_all['GRUPO_SEL'].astype(int)

In [ ]:
#Verificar que todas las cédulas tengan al menos 60 registros de los salarios
ced_counts1 = afi_sel_g_all.drop_duplicates(subset=['CEDULA_COD', 'ANIO', 'MES'])['CEDULA_COD'].value_counts()
ced_counts1[ced_counts1 < 60].index.nunique()

In [ ]:
afi_sel_g_all[afi_sel_g_all['CEDULA_COD']==126].tail(60)

In [ ]:
#Se crea una variable fecha para el período de mejores años y la base de cálculo
inicio = time.time()
mejores = afi_sel_g_all[afi_sel_g_all['GRUPO_SEL']==1].copy()
mejores.loc[:, 'FECHA'] = pd.to_datetime(mejores['ANIO'].astype(str) + '-' + mejores['MES'].astype(str).str.zfill(2) + '-01')

#Se calcula la base de calculo
df_prom = mejores.groupby('CEDULA_COD')['SALARIO'].mean()
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

In [ ]:
mejores

In [ ]:
afi_sel_g_all['INI_CAL'] = afi_sel_g_all['CEDULA_COD'].map( mejores.groupby('CEDULA_COD')['FECHA'].max() )
afi_sel_g_all['FIN_CAL'] = afi_sel_g_all['CEDULA_COD'].map( mejores.groupby('CEDULA_COD')['FECHA'].min() )
afi_sel_g_all['BASE_CAL'] = afi_sel_g_all['CEDULA_COD'].map( df_prom )

In [ ]:
caract['INI_CAL'] = caract['CEDULA_COD'].map( mejores.groupby('CEDULA_COD')['FECHA'].max() )
caract['FIN_CAL'] = caract['CEDULA_COD'].map( mejores.groupby('CEDULA_COD')['FECHA'].min() )
caract['BASE_CAL'] = caract['CEDULA_COD'].map( df_prom )
caract

In [ ]:
del df1, df2, mejores

In [ ]:
afi_sel_g_all[ (afi_sel_g_all['CEDULA_COD']==126) & (afi_sel_g_all['GRUPO_SEL']==1)]['SALARIO'].mean()

In [ ]:
afi_sel_g_all[ (afi_sel_g_all['CEDULA_COD']==126)]

In [ ]:
# #     df = asignar_grupo(sect, n_grupo)
# #     df1 = valores_unicos_grupos(df)
# #     df2 = sel_top_salarios(df1, top)
# #     df = sel_grupo(df, df2)
#     df = fec_sel_grupo(df)
#     df = base_cal(df)
#     df = ati_base_cal_m1(df, inferior)
#     df = base_cal_sin_ati_m1(df)
#     df = sbu_ajuste_m1(df, SBU)

In [ ]:
#Registros con años menores al 2000
afi_sel_g_all[afi_sel_g_all['FIN_CAL'].dt.year<2000]

In [ ]:
#Se agrega el valor del SBU
SBU = pd.DataFrame( { 'ANIO':[2000,2001,2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
                              2021, 2022, 2023, 2024],
                      'VALOR':[57,85.65,105, 122, 136, 150, 160, 170, 200, 218, 240, 264, 292, 318, 340, 354, 366, 375, 386, 394, 400, 
                              400, 425, 450, 460]})
SBU

In [ ]:
afi_sel_g_all['SBU'] = afi_sel_g_all['ANIO'].map( SBU.groupby('ANIO')['VALOR'].first())

In [ ]:
afi_sel_g_all

In [ ]:
#Cédula que tienen su historia laboral igual al SBU
afi_sel_g_all['ID_SBU'] = afi_sel_g_all['SALARIO'] == afi_sel_g_all['SBU']
#Si tiene -1 es un valor que no es un SBU en ese año y mes
afi_sel_g_all['ID_SBU'] = afi_sel_g_all['ID_SBU'].astype(int)-1
afi_sel_g_all

In [ ]:
#Verificar que todas las cédulas tengan 60 registros
ced_counts2 = afi_sel_g_all.drop_duplicates(subset=['CEDULA_COD', 'ANIO', 'MES'])['CEDULA_COD'].value_counts()
ced_counts2[ced_counts2 < 60].index.nunique()

In [ ]:
afi_sel_g_all[afi_sel_g_all['CEDULA_COD']==126].shape

In [ ]:
afi_sel_g_all[(afi_sel_g_all['CEDULA_COD']==126) & (afi_sel_g_all['GRUPO_SEL']==1)]

In [ ]:
# Guadar archivo------------------------------------------------------------------------------------------------------------
nombre_archivo = 'viu_clean_afi_sel_g_all_2.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto5 = afi_sel_g_all

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto5, archivo)      

del objeto 5

In [ ]:
objeto5

In [ ]:
#Selección de cedulas con sus mejores años de sueldo y que su salario no sea un SBU
data_sin_ati = afi_sel_g_all[ (afi_sel_g_all['GRUPO_SEL']==1) & (afi_sel_g_all['ID_SBU']!=-1)]
data_ati = afi_sel_g_all[ (afi_sel_g_all['GRUPO_SEL']==1) & (afi_sel_g_all['ID_SBU']!=0)]

In [ ]:
data_ati.shape #(21022610, 15)
data_sin_ati.shape #(5449506, 15)

In [ ]:
data_ati[data_ati['CEDULA_COD']==126][['CEDULA_COD','ANIO','MES','SALARIO']].shape

In [ ]:
data_ati[data_ati['CEDULA_COD']==126]

In [ ]:
# Guadar archivo------------------------------------------------------------------------------------------------------------
nombre_archivo = 'viu_clean_data_ati.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto6 = data_ati

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto6, archivo)         

# Nombre del archivo
nombre_archivo = 'viu_clean_data_sin_ati.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto7 = data_sin_ati

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto7, archivo)     
    
del objeto6, objeto7

In [5]:
# Cargar archivo------------------------------------------------------------------------------------------------------------
directorio = r_ruta
nombre_archivo = 'viu_clean_afi_sel_g_all_2.pkl'
ruta_archivo = os.path.join(directorio, nombre_archivo)

with open( ruta_archivo, 'rb') as archivo:
    data_l = pickle.load( archivo )

In [6]:
data_l

,CEDULA_COD,ANIO,MES,SALARIO,SALARIO_SECTOR,SECTOR_A,NUM_SEC_MES,%_NUM_SECTOR,GRUPO,SAL_PROM_GRUPO,GRUPO_SEL,INI_CAL,FIN_CAL,BASE_CAL,SBU,ID_SBU
0,126,2010,12,8.06,8.06,PRI,1,1,1,229.838333,1,2010-12-01,2006-01-01,210.635,240.0,-1
1,126,2010,11,250.00,250.0,PRI,1,1,1,229.838333,1,2010-12-01,2006-01-01,210.635,240.0,-1
2,126,2010,10,250.00,250.0,PRI,1,1,1,229.838333,1,2010-12-01,2006-01-01,210.635,240.0,-1
3,126,2010,9,250.00,250.0,PRI,1,1,1,229.838333,1,2010-12-01,2006-01-01,210.635,240.0,-1
4,126,2010,8,250.00,250.0,PRI,1,1,1,229.838333,1,2010-12-01,2006-01-01,210.635,240.0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62130162,23594465,2012,9,10528.81,10528.81,PRI,1,1,6,11149.854545,0,2018-03-01,2013-04-01,16604.299,292.0,-1
62130163,23594465,2012,8,10722.25,10722.25,PRI,1,1,6,11149.854545,0,2018-03-01,2013-04-01,16604.299,292.0,-1
62130164,23594465,2012,7,10722.25,10722.25,PRI,1,1,6,11149.854545,0,2018-03-01,2013-04-01,16604.299,292.0,-1
62130165,23594465,2012,6,13046.07,13046.07,PRI,1,1,6,11149.854545,0,2018-03-01,2013-04-01,16604.299,292.0,-1
62130166,23594465,2012,5,8482.60,8482.6,PRI,1,1,6,11149.854545,0,2018-03-01,2013-04-01,16604.299,292.0,-1

In [16]:
data_l[ (data_l['CEDULA_COD']==216)].head(60)

,CEDULA_COD,ANIO,MES,SALARIO,SALARIO_SECTOR,SECTOR_A,NUM_SEC_MES,%_NUM_SECTOR,GRUPO,SAL_PROM_GRUPO,GRUPO_SEL,INI_CAL,FIN_CAL,BASE_CAL,SBU,ID_SBU
136,216,2009,9,641.34,641.34,PUB,1,1,1,625.315000,1,2009-09-01,2004-10-01,566.339833,218.0,-1
137,216,2009,8,641.34,641.34,PUB,1,1,1,625.315000,1,2009-09-01,2004-10-01,566.339833,218.0,-1
138,216,2009,7,641.34,641.34,PUB,1,1,1,625.315000,1,2009-09-01,2004-10-01,566.339833,218.0,-1
139,216,2009,6,641.34,641.34,PUB,1,1,1,625.315000,1,2009-09-01,2004-10-01,566.339833,218.0,-1
140,216,2009,5,641.34,641.34,PUB,1,1,1,625.315000,1,2009-09-01,2004-10-01,566.339833,218.0,-1
141,216,2009,4,641.34,641.34,PUB,1,1,1,625.315000,1,2009-09-01,2004-10-01,566.339833,218.0,-1
142,216,2009,3,641.34,641.34,PUB,1,1,1,625.315000,1,2009-09-01,2004-10-01,566.339833,218.0,-1
143,216,2009,2,641.34,641.34,PUB,1,1,1,625.315000,1,2009-09-01,2004-10-01,566.339833,218.0,-1
144,216,2009,1,641.34,641.34,PUB,1,1,1,625.315000,1,2009-09-01,2004-10-01,566.339833,218.0,-1
145,216,2008,12,577.24,577.24,PUB,1,1,1,625.315000,1,2009-09-01,2004-10-01,566.339833,200.0,-1
146,216,2008,11,577.24,577.24,PUB,1,1,1,625.315000,1,2009-09-01,2004-10-01,566.339833,200.0,-1
147,216,2008,10,577.24,577.24,PUB,1,1,1,625.315000,1,2009-09-01,2004-10-01,566.339833,200.0,-1
148,216,2008,9,577.24,577.24,PUB,1,1,2,550.830833,1,2009-09-01,2004-10-01,566.339833,200.0,-1
149,216,2008,8,577.24,577.24,PUB,1,1,2,550.830833,1,2009-09-01,2004-10-01,566.339833,200.0,-1
150,216,2008,7,577.24,577.24,PUB,1,1,2,550.830833,1,2009-09-01,2004-10-01,566.339833,200.0,-1
151,216,2008,6,577.24,577.24,PUB,1,1,2,550.830833,1,2009-09-01,2004-10-01,566.339833,200.0,-1
152,216,2008,5,577.24,577.24,PUB,1,1,2,550.830833,1,2009-09-01,2004-10-01,566.339833,200.0,-1
153,216,2008,4,577.24,577.24,PUB,1,1,2,550.830833,1,2009-09-01,2004-10-01,566.339833,200.0,-1
154,216,2008,3,701.75,701.75,PUB,1,1,2,550.830833,1,2009-09-01,2004-10-01,566.339833,200.0,-1
155,216,2008,2,513.10,513.1,PUB,1,1,2,550.830833,1,2009-09-01,2004-10-01,566.339833,200.0,-1
156,216,2008,1,482.92,482.92,PUB,1,1,2,550.830833,1,2009-09-01,2004-10-01,566.339833,200.0,-1
157,216,2007,12,482.92,482.92,PUB,1,1,2,550.830833,1,2009-09-01,2004-10-01,566.339833,170.0,-1
158,216,2007,11,482.92,482.92,PUB,1,1,2,550.830833,1,2009-09-01,2004-10-01,566.339833,170.0,-1
159,216,2007,10,482.92,482.92,PUB,1,1,2,550.830833,1,2009-09-01,2004-10-01,566.339833,170.0,-1
160,216,2007,9,434.62,434.62,PUB,1,1,3,598.110000,1,2009-09-01,2004-10-01,566.339833,170.0,-1
161,216,2007,8,434.62,434.62,PUB,1,1,3,598.110000,1,2009-09-01,2004-10-01,566.339833,170.0,-1
162,216,2007,7,649.33,214.73;434.6,PRI;PUB,2,0.3307;0.6693,3,598.110000,1,2009-09-01,2004-10-01,566.339833,170.0,-1
163,216,2007,6,649.33,214.73;434.6,PRI;PUB,2,0.3307;0.6693,3,598.110000,1,2009-09-01,2004-10-01,566.339833,170.0,-1
164,216,2007,5,649.33,434.6;214.73,PUB;PRI,2,0.6693;0.3307,3,598.110000,1,2009-09-01,2004-10-01,566.339833,170.0,-1
165,216,2007,4,649.33,434.6;214.73,PUB;PRI,2,0.6693;0.3307,3,598.110000,1,2009-09-01,2004-10-01,566.339833,170.0,-1
166,216,2007,3,649.33,434.6;214.73,PUB;PRI,2,0.6693;0.3307,3,598.110000,1,2009-09-01,2004-10-01,566.339833,170.0,-1
167,216,2007,2,649.33,214.73;434.6,PRI;PUB,2,0.3307;0.6693,3,598.110000,1,2009-09-01,2004-10-01,566.339833,170.0,-1
168,216,2007,1,649.33,434.6;214.73,PUB;PRI,2,0.6693;0.3307,3,598.110000,1,2009-09-01,2004-10-01,566.339833,170.0,-1
169,216,2006,12,587.59,392.38;195.21,PUB;PRI,2,0.6678;0.3322,3,598.110000,1,2009-09-01,2004-10-01,566.339833,160.0,-1
170,216,2006,11,587.59,392.38;195.21,PUB;PRI,2,0.6678;0.3322,3,598.110000,1,2009-09-01,2004-10-01,566.339833,160.0,-1
171,216,2006,10,587.59,195.21;392.38,PRI;PUB,2,0.3322;0.6678,3,598.110000,1,2009-09-01,2004-10-01,566.339833,160.0,-1
172,216,2006,9,587.59,392.38;195.21,PUB;PRI,2,0.6678;0.3322,4,562.695000,1,2009-09-01,2004-10-01,566.339833,160.0,-1
173,216,2006,8,587.59,195.21;392.38,PRI;PUB,2,0.3322;0.6678,4,562.695000,1,2009-09-01,2004-10-01,566.339833,160.0,-1
174,216,2006,7,587.59,195.21;392.38,PRI;PUB,2,0.3322;0.6678,4,562.695000,1,2009-09-01,2004-10-01,566.339833,160.0,-1
175,216,2006,6,575.49,380.28;195.21,PUB;PRI,2,0.6608;0.3392,4,562.695000,1,2009-09-01,2004-10-01,566.339833,160.0,-1
176,216,2006,5,575.49,380.28;195.21,PUB;PRI,2,0.6608;0.3392,4,562.695000,1,2009-09-01,2004-10-01,566.339833,160.0,-1
177,216,2006,4,575.49,195.21;380.28,PRI;PUB,2,0.3392;0.6608,4,562.695000,1,2009-09-01,2004-10-01,566.339833,160.0,-1
178,216,2006,3,575.49,380.28;195.21,PUB;PRI,2,0.6608;0.3392,4,562.695000,1,2009-09-01,2004-10-01,566.339833,160.0,-1
179,216,2006,2,575.49,380.28;195.21,PUB;PRI,2,0.6608;0.3392,4,562.695000,1,2009-09-01,2004-10-01,566.339833,160.0,-1
180,216,2006,1,575.49,195.21;380.28,PRI;PUB,2,0.3392;0.6608,4,562.695000,1,2009-09-01,2004-10-01,566.339833,160.0,-1
181,216,2005,12,512.21,180.21;332.0,PRI;PUB,2,0.3518;0.6482,4,562.695000,1,2009-09-01,2004-10-01,566.339833,150.0,-1
182,216,2005,11,512.21,180.21;332.0,PRI;PUB,2,0.3518;0.6482,4,562.695000,1,2009-09-01,2004-10-01,566.339833,150.0,-1
183,216,2005,10,512.21,332.0;180.21,PUB;PRI,2,0.6482;0.3518,4,562.695000,1,2009-09-01,2004-10-01,566.339833,150.0,-1
184,216,2005,9,512.21,332.0;180.21,PUB;PRI,2,0.6482;0.3518,5,494.748333,1,2009-09-01,2004-10-01,566.339833,150.0,-1
185,216,2005,8,512.21,180.21;332.0,PRI;PUB,2,0.3518;0.6482,5,494.748333,1,2009-09-01,2004-10-01,566.339833,150.0,-1
186,216,2005,7,512.21,332.0;180.21,PUB;PRI,2,0.6482;0.3518,5,494.748333,1,2009-09-01,2004-10-01,566.339833,150.0,-1
187,216,2005,6,512.21,180.21;332.0,PRI;PUB,2,0.3518;0.6482,5,494.748333,1,2009-09-01,2004-10-01,566.339833,150.0,-1
188,216,2005,5,512.21,180.21;332.0,PRI;PUB,2,0.3518;0.6482,5,494.748333,1,2009-09-01,2004-10-01,566.339833,150.0,-1
189,216,2005,4,512.21,180.21;332.0,PRI;PUB,2,0.3518;0.6482,5,494.748333,1,2009-09-01,2004-10-01,566.339833,150.0,-1
190,216,2005,3,512.21,332.0;180.21,PUB;PRI,2,0.6482;0.3518,5,494.748333,1,2009-09-01,2004-10-01,566.339833,150.0,-1
191,216,2005,2,508.68,332.0;176.68,PUB;PRI,2,0.6527;0.3473,5,494.748333,1,2009-09-01,2004-10-01,566.339833,150.0,-1
192,216,2005,1,487.94,311.26;176.68,PUB;PRI,2,0.6379;0.3621,5,494.748333,1,2009-09-01,2004-10-01,566.339833,150.0,-1
193,216,2004,12,451.63,282.95;168.68,PUB;PRI,2,0.6265;0.3735,5,494.748333,1,2009-09-01,2004-10-01,566.339833,136.0,-1
194,216,2004,11,451.63,168.68;282.95,PRI;PUB,2,0.3735;0.6265,5,494.748333,1,2009-09-01,2004-10-01,566.339833,136.0,-1
195,216,2004,10,451.63,282.95;168.68,PUB;PRI,2,0.6265;0.3735,5,494.748333,1,2009-09-01,2004-10-01,566.339833,136.0,-1

In [7]:
directorio = r_ruta
nombre_archivo = 'viu_clean_caract.pkl'
ruta_archivo = os.path.join(directorio, nombre_archivo)

with open( ruta_archivo, 'rb') as archivo:
    caract= pickle.load( archivo )

In [8]:
caract

,CEDULA_COD,INI_HL,FIN_HL,MES_AS,MES_TU,SUELDO,APORTE,INTERES_APORTE,N_PRI,N_PUB,N_IND,N_VOL_EX,N_VOL_EC,N_COD_TR
0,126,2004-12-01,2010-12-01,73,73,14725.59,1433.402511,57.336100,73.0,NaN,NaN,NaN,NaN,NaN
1,152,2004-07-01,2009-09-01,63,63,31470.31,3054.106400,122.164256,NaN,63.0,NaN,NaN,NaN,NaN
2,216,2004-07-01,2009-09-01,98,63,34997.92,3394.800130,135.792005,35.0,63.0,NaN,NaN,NaN,NaN
3,230,2004-12-01,2015-05-01,126,126,107347.00,10076.565300,403.062612,126.0,NaN,NaN,NaN,NaN,NaN
4,235,2004-08-01,2011-06-01,83,83,88406.76,8601.230924,344.049237,NaN,83.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442565,23075971,2017-02-01,2022-10-01,66,66,26210.00,2469.082000,121.284205,10.0,NaN,NaN,NaN,56.0,NaN
442566,23402574,2010-01-01,2019-02-01,110,110,42021.89,3503.924998,140.157000,110.0,NaN,NaN,NaN,NaN,NaN
442567,23456125,2016-07-01,2022-03-01,69,69,38973.52,3423.696782,156.835117,69.0,NaN,NaN,NaN,NaN,NaN
442568,23503686,2004-09-01,2011-11-01,87,87,17107.87,1662.908138,66.516326,87.0,NaN,NaN,NaN,NaN,NaN
442569,23594465,2012-05-01,2018-03-01,71,71,1118906.34,87063.262958,3482.530518,71.0,NaN,NaN,NaN,NaN,NaN

In [10]:
aux = data_l[data_l['GRUPO_SEL']==1].groupby('CEDULA_COD').agg({'SECTOR_A': list}).to_dict(orient='index')
for cedula in aux:
    aux[cedula]['SECTOR_A1'] = [ [str(val) for val in sal.replace(':', ';').split(';')] 
                                            if isinstance(sal, str) 
                                            else [str(sal)]
                                            for sal in aux[cedula]['SECTOR_A']
                                        ]
    # Aplanar la lista de listas del tipo de sector
    sect = None
    sect = [salario for sublist in aux[cedula]['SECTOR_A1'] for salario in sublist]
    dt = None
    dt = dict(Counter(sect))
    for key, value in dt.items():
        if key=='PRI':
            aux[cedula]['M_PRI'] = value
        elif key == 'PUB':
            aux[cedula]['M_PUB'] = value
        elif key == 'IND':
            aux[cedula]['M_IND'] = value
        elif key == 'VOL_EX':
            aux[cedula]['M_VOL_EX'] = value
        elif key == 'VOL_EC':
            aux[cedula]['M_VOL_EC'] = value
        elif key == 'COD_TR':
            aux[cedula]['M_COD_TR'] = value

In [11]:
aux_fil = {k: {key: value for key, value in v.items() if key not in ['SECTOR_A','SECTOR_A1']} for k, v in aux.items()}
aux_n = pd.DataFrame.from_dict( aux_fil , orient='index').reset_index()
aux_n.rename(columns={'index': 'CEDULA_COD'}, inplace=True)
aux_n

        CEDULA_COD  M_PRI  M_PUB  M_IND  M_VOL_EX  M_VOL_EC
0              126   60.0    NaN    NaN       NaN       NaN
1              216   34.0   60.0    NaN       NaN       NaN
2              230   60.0    NaN    NaN       NaN       NaN
3              271   60.0    NaN    NaN       NaN       NaN
4              284   60.0    NaN    NaN       NaN       NaN
...            ...    ...    ...    ...       ...       ...
442565    20727919    NaN    NaN    NaN       NaN      60.0
442566    20728316    NaN    NaN    NaN       NaN      60.0
442567    20728478    NaN    NaN    NaN       NaN      60.0
442568    20766502    NaN    NaN    NaN       NaN      60.0
442569    20879195    NaN    NaN    NaN       NaN      60.0

[442570 rows x 6 columns]

In [57]:
# data_l[  data_l['SECTOR_A'].str.contains('COD_TR', na=False)] #son solo 1 casos
data_l[ (data_l['GRUPO_SEL']==1) & (data_l['SECTOR_A'].str.contains('COD_TR', na=False))] #Son 0 casos

Empty DataFrame
Columns: [CEDULA_COD, ANIO, MES, SALARIO, SALARIO_SECTOR, SECTOR_A, NUM_SEC_MES, %_NUM_SECTOR, GRUPO, SAL_PROM_GRUPO, GRUPO_SEL, INI_CAL, FIN_CAL, BASE_CAL, SBU, ID_SBU]
Index: []

In [13]:
#Sectores para los mejores años
#Sectores
caract = caract.merge(aux_n[['CEDULA_COD', 'M_PRI','M_PUB','M_IND','M_VOL_EX','M_VOL_EC']], on=['CEDULA_COD'], how='left')

In [14]:
caract

,CEDULA_COD,INI_HL,FIN_HL,MES_AS,MES_TU,SUELDO,APORTE,INTERES_APORTE,N_PRI,N_PUB,N_IND,N_VOL_EX,N_VOL_EC,N_COD_TR,M_PRI,M_PUB,M_IND,M_VOL_EX,M_VOL_EC
0,126,2004-12-01,2010-12-01,73,73,14725.59,1433.402511,57.336100,73.0,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN
1,152,2004-07-01,2009-09-01,63,63,31470.31,3054.106400,122.164256,NaN,63.0,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN
2,216,2004-07-01,2009-09-01,98,63,34997.92,3394.800130,135.792005,35.0,63.0,NaN,NaN,NaN,NaN,34.0,60.0,NaN,NaN,NaN
3,230,2004-12-01,2015-05-01,126,126,107347.00,10076.565300,403.062612,126.0,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN
4,235,2004-08-01,2011-06-01,83,83,88406.76,8601.230924,344.049237,NaN,83.0,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442565,23075971,2017-02-01,2022-10-01,66,66,26210.00,2469.082000,121.284205,10.0,NaN,NaN,NaN,56.0,NaN,10.0,NaN,NaN,NaN,50.0
442566,23402574,2010-01-01,2019-02-01,110,110,42021.89,3503.924998,140.157000,110.0,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN
442567,23456125,2016-07-01,2022-03-01,69,69,38973.52,3423.696782,156.835117,69.0,NaN,NaN,NaN,NaN,NaN,57.0,NaN,NaN,NaN,NaN
442568,23503686,2004-09-01,2011-11-01,87,87,17107.87,1662.908138,66.516326,87.0,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN
442569,23594465,2012-05-01,2018-03-01,71,71,1118906.34,87063.262958,3482.530518,71.0,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN

In [36]:
data_l[data_l['NUM_SEC_MES']>2]['CEDULA_COD'].unique()

array([     461,      621,      678, ..., 20775915, 20794074, 20794443],
      dtype=int64)

In [51]:
#data_l[ (data_l['CEDULA_COD']==461) & (data_l['NUM_SEC_MES']==3)]['SECTOR_A'].value_counts()
data_l[ (data_l['CEDULA_COD']==461) & (data_l['GRUPO_SEL']==1) & (data_l['NUM_SEC_MES']==4)]['SECTOR_A'].value_counts()

Series([], Name: SECTOR_A, dtype: int64)

In [ ]:
#Para 397 en toda la HL, PUB 44+24+23 = 91/PRI 24+23=47
#Para 397 en los mejores años, PUB 13+24+23 = 91/PRI 24+23=47

#Para 461 en toda la HL, PUB  2 +2+25+24+22 /PRI 2+2+50+48+44
#pARA 461 en los mejores años, PUB 1+21+19+19/ PRI 1+42+38+38

In [40]:
caract[caract['CEDULA_COD']==461]

,CEDULA_COD,INI_HL,FIN_HL,MES_AS,MES_TU,SUELDO,APORTE,INTERES_APORTE,N_PRI,N_PUB,N_IND,N_VOL_EX,N_VOL_EC,N_COD_TR,M_PRI,M_PUB,M_IND,M_VOL_EX,M_VOL_EC
19,461,2004-07-01,2010-09-01,221,75,74032.23,7187.825608,287.513024,146.0,75.0,NaN,NaN,NaN,NaN,119.0,60.0,NaN,NaN,NaN

In [15]:
nombre_archivo = 'viu_clean_caract.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto3 = caract

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto3, archivo)

In [ ]:
#Análisis de atípicos
#Método de clustering jerárquico
# data_l = afi_sel_g_all.copy()
data_l.shape #(62130167, 16)

In [ ]:
# del objeto5,  afi_sel_g_all
# gc.collect()

In [ ]:
inicio = time.time()
data_l = data_l.sort_values( by=["CEDULA_COD","ANIO", "MES"], ascending=[ True, True, True] )
data_l.reset_index(inplace=True)
data_l.rename(columns={'index': 'nuevo_indice'}, inplace=True)
data_l.drop(columns=['nuevo_indice'], inplace=True)
data_l['INDICE'] = data_l.index

#Casos de no análisis
data_no_grupo = data_l[ (data_l['GRUPO_SEL']==0) ].copy()
data_no_grupo['ATI_CJ_M1'] = np.nan
data_no_grupo['ATI_CJ_M2'] = np.nan
data_no_grupo['ATI_CJ_M3'] = np.nan

#Casos de análisis
data = data_l[ (data_l['GRUPO_SEL']==1) ].copy()

fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

In [ ]:
#Para ejecutar el cluster jerarquico
def cluster_jerarquico( data_si_dic, k):
    inicio = time.time()
    nom = 'ATI_CJ_M' + str( k+1 )
    data_val_ati = {}
    for cedula in data_si_dic:

        if( len( data_si_dic[ cedula ]['SALARIO'] ) > 1 ): #Para formar al menos un cluster

            aux = np.array( data_si_dic[ cedula ]['SALARIO'] ).reshape(-1, 1)
            Z = linkage( aux , method='single', metric='euclidean')

            num_clusters = 2  # Puedes ajustar este valor según tus necesidades
            clusters = fcluster(Z, num_clusters, criterion='maxclust')

            if( len( np.unique(clusters) ) > 1 ): #Para considerar al menos 2 cluster
                # Calcular el centroide de cada clúster
                cluster_centers = np.array([[ np.nanmean(aux[clusters == i], axis=0)[0], i ] for i in range(1, num_clusters + 1)] ) 

                Q1 = np.quantile(aux, 0.25)
                Q3 = np.quantile(aux, 0.75)
                IQR = Q3-Q1
                LI = Q1 - 1.5 * IQR
                LS = Q3 + 1.5 * IQR

                cl_at = np.where( cluster_centers[:,0] > (LS +  1e-8) )[0]
                cluster_centers[cl_at][:, 1]

                mod_aux = np.zeros((len(aux), 2))
                mod_aux[:, 0] = aux[:, 0]  # Copiar los valores originales de aux en la primera columna
                mod_aux[np.isin(clusters, cluster_centers[cl_at][:, 1]), 1] = 1  # Asignar 1 en la segunda columna donde el cluster es 1

                data_val_ati[cedula] = {'SALARIO': mod_aux[:, 0].tolist(),
                                             nom : mod_aux[:, 1].tolist(),
                                        'INDICE' : data_si_dic[ cedula ]['INDICE']}
            else:
                data_val_ati[cedula] = { 'SALARIO': aux.flatten().tolist(),
                                               nom:  [-1] * len(aux),
                                         'INDICE' : data_si_dic[ cedula ]['INDICE']} 

        else:
            data_val_ati[cedula] = { 'SALARIO': data_si_dic[ cedula ]['SALARIO'],
                                           nom:  [-2] * len( data_si_dic[ cedula ]['SALARIO'] ),
                                     'INDICE' : data_si_dic[ cedula ]['INDICE']}
    fin = time.time()  
    print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
    
    return data_val_ati
 
#Para unir los resultados
def extend_data( data_val_ati, k ):
    inicio = time.time()
    nom = 'ATI_CJ_M' + str( k + 1 )
    data1 = { 'CEDULA_COD': [], 'SALARIO': [], nom : [], 'INDICE':[]}

    # Llenar las listas con los datos del diccionario
    for cedula, values in data_val_ati.items():
        salario = values['SALARIO']
        atipico = values[ nom ]
        indice = values['INDICE']
        num_rows = len(salario)

        # Extender las listas en el diccionario de datos
        data1['CEDULA_COD'].extend([cedula] * num_rows)
        data1['SALARIO'].extend(salario)
        data1[ nom ].extend(atipico)
        data1['INDICE'].extend(indice)

    fin = time.time()  
    print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
    return data1

#Para graficar el comportamiento de los atipicos
def graf_ati(ced, k):
    nom = 'ATI_CJ_M'+ str(k)
    dt = data_l[(data_l['GRUPO_SEL']==1) & (data_l['CEDULA_COD']==ced)]
    unique_ati = dt[ nom ].nunique(dropna=False)
    categories = dt[ nom ].unique()

    # Generar una lista de colores discretos
    colors = plt.cm.coolwarm(np.linspace(0, 1, unique_ati))

    # Crear un mapa de colores discreto
    cmap = ListedColormap(colors)

    # Graficar
    plt.figure(figsize=(8, 5))
    scatter = plt.scatter(dt.index, dt['SALARIO'], c=dt[ nom ], cmap=cmap)

    plt.xlabel('Index')
    plt.ylabel('Salario')
    plt.title('Gráfico de Salario')

    # Crear una leyenda discreta personalizada
    # Definir las etiquetas para cada categoría
    labels = { 0: 'No es atípico', 1: 'Es atípico', -1: 'Es un solo clúter', -2:'No forma parte del proceso',
               np.nan: 'Valor NA'}

    # Crear los handles para la leyenda
    handles = [plt.Line2D([0], [0], marker='o', color='w', 
                          markersize=10, markerfacecolor=cmap(i), 
                          label=labels[i]) for i in categories]

    plt.legend(handles=handles, title='Tipo de Salario')
    plt.show()

In [ ]:
data[ ~(( data['SALARIO'] >= data['SBU'] ) & ( data['ANIO'] >= 2000 )) ]

In [ ]:
#Se crea un bucle para cada caso
for k in range(0,3):
    nom = 'ATI_CJ_M' + str( k+1 )
    if (k==0):
        ##Primer Caso--Considerando solo los salarios mayores al SBU y desde el año 2000
        print('*' * 50, 'Caso ', str( k+1 ), '*' * 50)
        data_si = data[   (( data['SALARIO'] >= data['SBU'] ) & ( data['ANIO'] >= 2000 )) ].copy() 
        data_no = data[ ~(( data['SALARIO'] >= data['SBU'] ) & ( data['ANIO'] >= 2000 )) ].copy() 
        data_no[ nom ] = np.nan
        print('Tamaño de la data utilizada dentro de los años seleccionados', data_si.shape) #(26006294, 16)
        print('Tamaño de la data no utilizada dentro de los años seleccionados',data_no.shape)  #(465822, 16)
        
        data_si_dic = data_si.groupby('CEDULA_COD').agg({'SALARIO': list, 'INDICE': list}).to_dict(orient='index')
        data_no_dic = data_no.groupby('CEDULA_COD').agg({'SALARIO': list, 'INDICE': list}).to_dict(orient='index')
        
        print('Algoritmo Cluster Jerárquico')
        data_val_ati = cluster_jerarquico( data_si_dic, k )
        print('Extensión del diccionario')
        data1 = extend_data( data_val_ati, k )
        
        print('Concatenación de dataframe')
        inicio = time.time()
        data_jerar = None
        data_jerar = pd.concat( [ data_no_grupo[['CEDULA_COD', 'SALARIO',  nom , 'INDICE']],
                                  pd.DataFrame( data1 ), 
                                  data_no[['CEDULA_COD', 'SALARIO',  nom , 'INDICE']] ], axis=0)
    
        data_jerar = data_jerar.sort_values( by=["INDICE"], ascending=[ True ] )
        data_jerar.reset_index(inplace=True)
        data_jerar.rename(columns={'index': 'nuevo_indice'}, inplace=True)
        data_jerar.drop(columns=['nuevo_indice'], inplace=True)
        fin = time.time()  
        print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
        
        print('Creación de la columna')
        inicio = time.time()
        data_l[ nom ] = np.nan
        aux = data_jerar[ nom ].to_numpy()
        data_l.iloc[:, data_l.columns.get_loc( nom )] = aux
        fin = time.time()  
        print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
        
        print('Verificación de posibles errores')
        inicio = time.time()
        dif1 = data_l[data_l['SALARIO']!= data_jerar['SALARIO']].index
        fin = time.time()  
        print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
        print('*' * 108, '\n')  
        
    if (k==1):
        ##Segundo Caso--Considerando todo el registro de los mejores años
        print('*' * 50, 'Caso ', str( k+1 ), '*' * 50)
        data_si = data.copy()
        print('Tamaño de la data utilizada dentro de los años seleccionados', data_si.shape) 
        
        data_si_dic = data_si.groupby('CEDULA_COD').agg({'SALARIO': list, 'INDICE': list}).to_dict(orient='index')
        
        print('Algoritmo Cluster Jerárquico')
        data_val_ati = cluster_jerarquico( data_si_dic, k )
        print('Extensión del diccionario')
        data1 = extend_data( data_val_ati, k )
        
        print('Concatenación de dataframe')
        inicio = time.time()
        data_jerar = None
        data_jerar = pd.concat( [ data_no_grupo[['CEDULA_COD', 'SALARIO', nom, 'INDICE']],
                                  pd.DataFrame( data1 ) ], axis=0)
    
        data_jerar = data_jerar.sort_values( by=["INDICE"], ascending=[ True ] )
        data_jerar.reset_index(inplace=True)
        data_jerar.rename(columns={'index': 'nuevo_indice'}, inplace=True)
        data_jerar.drop(columns=['nuevo_indice'], inplace=True)
        fin = time.time()  
        print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
        
        print('Creación de la columna')
        inicio = time.time()
        data_l[ nom ] = np.nan
        aux = data_jerar[ nom ].to_numpy()
        data_l.iloc[:, data_l.columns.get_loc( nom ) ] = aux
        fin = time.time()  
        print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
        
        print('Verificación de posibles errores')
        inicio = time.time()
        dif2 = data_l[data_l['SALARIO']!= data_jerar['SALARIO']].index
        fin = time.time()  
        print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
        print('*' * 108, '\n')
        
    if (k==2):
        ##Tercer Caso--Considerando todo el registro de los mejores años, pero a partir del año 2000
        print('*' * 50, 'Caso ', str( k+1 ), '*' * 50)
        data_si = data[  ( ( data['ANIO'] >= 2000 )) ].copy()
        data_no = data[ ~( ( data['ANIO'] >= 2000 )) ].copy()   
        data_no[ nom ] = np.nan
        print('Tamaño de la data utilizada dentro de los años seleccionados', data_si.shape) 
        print('Tamaño de la data no utilizada dentro de los años seleccionados',data_no.shape) 
        
        data_si_dic = data_si.groupby('CEDULA_COD').agg({'SALARIO': list, 'INDICE': list}).to_dict(orient='index')
        data_no_dic = data_no.groupby('CEDULA_COD').agg({'SALARIO': list, 'INDICE': list}).to_dict(orient='index')
        
        print('Algoritmo Cluster Jerárquico')
        data_val_ati = cluster_jerarquico( data_si_dic, k )
        print('Extensión del diccionario')
        data1 = extend_data( data_val_ati, k )
        
        print('Concatenación de dataframe')
        inicio = time.time()
        data_jerar = None
        data_jerar = pd.concat( [ data_no_grupo[['CEDULA_COD', 'SALARIO', nom, 'INDICE']],
                                  pd.DataFrame( data1 ), 
                                  data_no[['CEDULA_COD', 'SALARIO', nom, 'INDICE']] ], axis=0)
    
        data_jerar = data_jerar.sort_values( by=["INDICE"], ascending=[ True ] )
        data_jerar.reset_index(inplace=True)
        data_jerar.rename(columns={'index': 'nuevo_indice'}, inplace=True)
        data_jerar.drop(columns=['nuevo_indice'], inplace=True)
        fin = time.time()  
        print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
        
        print('Creación de la columna')
        inicio = time.time()
        data_l[ nom ] = np.nan
        aux = data_jerar[ nom ].to_numpy()
        data_l.iloc[:, data_l.columns.get_loc( nom )] = aux
        fin = time.time()  
        print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
        
        print('Verificación de posibles errores')
        inicio = time.time()
        dif3 = data_l[data_l['SALARIO']!= data_jerar['SALARIO']].index
        fin = time.time()  
        print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
        print('*' * 108, '\n')

In [ ]:
del data, data_jerar, data1, aux, data_si, data_no, data_no_grupo, data_val_ati
gc.collect()

In [ ]:
#Se calculan los limítes máximos de aportación en función de la HL
#Caso 1: Para toda la historia laboral
inicio = time.time()   
grupo1 = data_l.copy()
Q1 = grupo1.groupby('CEDULA_COD')['SALARIO'].quantile(0.25)
Q3 = grupo1.groupby('CEDULA_COD')['SALARIO'].quantile(0.75)
IQR = Q3-Q1
LI = Q1 - 1.5 * IQR
LS = Q3 + 1.5 * IQR
data_l['LS1'] = data_l['CEDULA_COD'].map( LS )

#Caso 2: Para la historia laboral a partir del año 2020
grupo2 = data_l[ data_l['ANIO']>=2000 ].copy()
Q1 = grupo2.groupby('CEDULA_COD')['SALARIO'].quantile(0.25)
Q3 = grupo2.groupby('CEDULA_COD')['SALARIO'].quantile(0.75)
IQR = Q3-Q1
LI = Q1 - 1.5 * IQR
LS = Q3 + 1.5 * IQR
data_l['LS2'] = data_l['CEDULA_COD'].map( LS )

fin = time.time()  
print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos')

del grupo1, grupo2, Q1, Q3, IQR, LI, LS
gc.collect()

In [ ]:
#El valor de NA implica que esos datos no son parte de data_si, por lo que no se analizaron
#El valor de -1 implica que se formó un solo cluster
#El valor de -2 implica que en la selección de datos (data_si), la cedula solo tenía un único valor para formar los cluster
# pues era el resultado de filtrar el data_si

##Se analiza el caso de los valores de atipicos del método 1
# data_l[ ( data_l['GRUPO_SEL']==1 )]['ATI_CJ_M1'].unique() #array([ 0., nan,  1., -1., -2.])
# data_l[ ( data_l['GRUPO_SEL']==1 ) & (data_l['ATI_CJ_M1']==-2)] #86 rows × 21 columns
# data_l[ ( data_l['GRUPO_SEL']==1 ) & (data_l['ATI_CJ_M1'].isna())]  #465822 rows × 21 columns
# data_l[ ( data_l['GRUPO_SEL']==1 ) & (data_l['ATI_CJ_M1']==-1)]  # 3292785 rows × 21 columns

##Se analiza el caso de los valores de atipicos del método 2
# data_l[ ( data_l['GRUPO_SEL']==1 )]['ATI_CJ_M2'].unique() #rray([ 0.,  1., -1.])
# ata_l[ ( data_l['GRUPO_SEL']==1 ) & (data_l['ATI_CJ_M2']==-1)]  #3125765 rows × 21 columns

##Se analiza el caso de los valores de atipicos del método 3
# data_l[ ( data_l['GRUPO_SEL']==1 )]['ATI_CJ_M3'].unique() #array([ 0.,  1., -1., nan, -2.])
# data_l[ ( data_l['GRUPO_SEL']==1 ) & (data_l['ATI_CJ_M3']==-2)] #2 rows × 21 columns
# data_l[ ( data_l['GRUPO_SEL']==1 ) & (data_l['ATI_CJ_M3'].isna())]  # 7454 rows × 21 columns
# data_l[ ( data_l['GRUPO_SEL']==1 ) & (data_l['ATI_CJ_M3']==-1)] #3125140 rows × 21 columns

In [ ]:
#Cedulas que tiene datos atípicos----------------------------------------------------------------------------------------------
print('*' * 50, 'Caso ', str( 1 ), '*' * 50)
print('\tCedulas con al menos un atípico:', data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M1']==1)]['CEDULA_COD'].nunique()) #134017
print('\tCedulas con valor -2:',            data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M1']==-2)]['CEDULA_COD'].nunique()) #86
print('\tCedulas con valor nan:',           data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M1'].isna())]['CEDULA_COD'].nunique()) #85804
print('\tCedulas con valor -1:',            data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M1']==-1)]['CEDULA_COD'].nunique()) #55669
print('\tCedulas con valor 0:',             data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M1']==0)]['CEDULA_COD'].nunique()) #379216
print('*' * 50, 'Caso ', str( 2 ), '*' * 50)
print('\tCedulas con al menos un atípico:', data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M2']==1)]['CEDULA_COD'].nunique()) #123850
print('\tCedulas con valor -2:',            data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M2']==-2)]['CEDULA_COD'].nunique()) #0
print('\tCedulas con valor nan:',           data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M2'].isna())]['CEDULA_COD'].nunique()) #0
print('\tCedulas con valor -1:',            data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M2']==-1)]['CEDULA_COD'].nunique()) #52121
print('\tCedulas con valor 0:',             data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M2']==0)]['CEDULA_COD'].nunique()) #383682
print('*' * 50, 'Caso ', str( 3 ), '*' * 50)
print('\tCedulas con al menos un atípico:', data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M3']==1)]['CEDULA_COD'].nunique()) #123826
print('\tCedulas con valor -2:',            data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M3']==-2)]['CEDULA_COD'].nunique()) #2
print('\tCedulas con valor nan:',           data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M3'].isna())]['CEDULA_COD'].nunique()) #499
print('\tCedulas con valor -1:',            data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M3']==-1)]['CEDULA_COD'].nunique()) # 52124
print('\tCedulas con valor 0:',             data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M3']==0)]['CEDULA_COD'].nunique()) #383653
print('*' * 50, 'Caso ', str( 1 ), '*' * 50)

In [ ]:
graf_ati(23075971, 1)

In [ ]:
#Caso 1- Correcciones---------------------------------------------------------------------------------------------------
#Se corrige en función deL Límite máximo de la HL a apartir del año 2000, pues es la fecha en la que entra en dolar a ecuador ( -2 -> 1 )
data_l.loc[ ( (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M1']==-2) & (data_l['SALARIO'] > data_l['LS2']) ), 'ATI_CJ_M1'] = 1 #quedan 45 casos
#Se corrige en función del valores menoRes al limite máximo la HL a apartir del año 2000, pues es la fecha en la que entra en dolar a ecuador ( -2 -> 0 )
data_l.loc[ ( (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M1']==-2) & (data_l['SALARIO'] <= data_l['LS2']) ), 'ATI_CJ_M1'] = 0 
# Se hacen las correcciones para los valores -2, en donde si el Salario es menor o igual a un SBU no es atípico( -2 -> 0 )
data_l.loc[ ( (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M1']==-2) & (data_l['SALARIO'] <= data_l['SBU']) ), 'ATI_CJ_M1'] = 0 

#Se corrige en función deL Límite máximo de toda la HL, pues si no hay datos del SBU para atrás ( NA -> 1 )
data_l.loc[ ( (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M1'].isna()) & (data_l['SALARIO'] > data_l['LS1']) ), 'ATI_CJ_M1'] = 1  #quedan 463235 casos
#Se corrige en función del valores menoRes al limite máximo la HL, pues si no hay datos del SBU para atrás ( NA -> 0 )
data_l.loc[ ( (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M1'].isna()) & (data_l['SALARIO'] <= data_l['LS1']) ), 'ATI_CJ_M1'] = 0  #
#Se hacen las correcciones para los valores NA, en donde si el Salario es menor o igual a un SBU no es atípico( NA -> 0 )
data_l.loc[ ( (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M1'].isna()) & (data_l['SALARIO'] <= data_l['SBU']) ), 'ATI_CJ_M1'] = 0  

#Se hacen las correcciones para los valores -1, en donde si el Salario es mayor a LS1 es atípico( -1 -> 1 )
data_l.loc[ ( (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M1']==-1) & (data_l['SALARIO'] > data_l['LS1']) ), 'ATI_CJ_M1'] = 1 #quedan 3267088
#Se hacen las correcciones para los valores -1, en donde si el Salario es menor o igual a LS1 no es atípico( -1 -> 0 )
data_l.loc[ ( (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M1']==-1) & (data_l['SALARIO'] <= data_l['LS1']) ), 'ATI_CJ_M1'] = 0 #q 
#Se hacen las correcciones para los valores -1, en donde si el Salario es menor o igual a un SBU no es atípico( -1 -> 0 )
data_l.loc[ ( (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M1']==-1) & (data_l['SALARIO'] <= data_l['SBU']) ), 'ATI_CJ_M1'] = 0 #

#Se hacen las correcciones para los valores 1, en donde si el Salario es menor o igual al SBU no es atípico( 1 -> 0 )
data_l.loc[ ( (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M1']==1) & (data_l['SALARIO'] <= data_l['SBU']) ), 'ATI_CJ_M1'] = 0

In [ ]:
#Caso 2 - Correcciones---------------------------------------------------------------------------------------------------
#No existen valores igual a NA e igual a -2
#Se hacen las correcciones para los valores -1, en donde si el Salario es mayor a LS1 es atípico( -1 -> 1 )
data_l.loc[ ( (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M2']==-1) & (data_l['SALARIO'] > data_l['LS1']) ), 'ATI_CJ_M2'] = 1 # quedan 3104185
#Se hacen las correcciones para los valores -1, en donde si el Salario es menor o igual a LS1 no es atípico( -1 -> 0 )
data_l.loc[ ( (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M2']==-1) & (data_l['SALARIO'] <= data_l['LS1']) ), 'ATI_CJ_M2'] = 0
#Se hacen las correcciones para los valores -1, en donde si el Salario es menor o igual a un SBU no es atípico( -1 -> 0 )
data_l.loc[ ( (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M2']==-1) & (data_l['SALARIO'] <= data_l['SBU']) ), 'ATI_CJ_M2'] = 0 
#Se hacen las correcciones para los valores 1, en donde si el Salario es menor o igual al SBU no es atípico( 1 -> 0 )
data_l.loc[ ( (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M2']==1) & (data_l['SALARIO'] <= data_l['SBU']) ), 'ATI_CJ_M2'] = 0

In [ ]:
#Caso 3 - Correcciones-------------------------------------------------------------------------------------------------
#Se corrige en función deL Límite máximo de la HL a apartir del año 2000, pues es la fecha en la que entra en dolar a ecuador ( -2 -> 1 )
data_l.loc[ ( (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M3']==-2) & (data_l['SALARIO'] > data_l['LS2']) ), 'ATI_CJ_M3'] = 1 # quedan 2 casos
#Se corrige en función del valores menores al limite máximo la HL a apartir del año 2000, pues es la fecha en la que entra en dolar a ecuador ( -2 -> 0 )
data_l.loc[ ( (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M3']==-2) & (data_l['SALARIO'] <= data_l['LS2']) ), 'ATI_CJ_M3'] = 0
#Se hacen las correcciones para los valores -2, en donde si el Salario es menor o igual a un SBU no es atípico( -2 -> 0 )
data_l.loc[ ( (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M3']==-2) & (data_l['SALARIO'] <= data_l['SBU']) ), 'ATI_CJ_M3'] = 0 #

#Se corrige en función deL Límite máximo de toda la HL, pues si no hay datos del SBU para atrás ( NA -> 1 )
data_l.loc[ ( (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M3'].isna()) & (data_l['SALARIO'] > data_l['LS1']) ), 'ATI_CJ_M3'] = 1 #quedan 7394 casos
#Se corrige en función del valores menoRes al limite máximo la HL, pues sno hay datos del SBU para atrás ( NA -> 0 )
data_l.loc[ ( (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M3'].isna()) & (data_l['SALARIO'] <= data_l['LS1']) ), 'ATI_CJ_M3'] = 0  
#Se hacen las correcciones para los valores NA, en donde si el Salario es menor o igual a un SBU no es atípico( NA -> 0 )
data_l.loc[ ( (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M3'].isna()) & (data_l['SALARIO'] <= data_l['SBU']) ), 'ATI_CJ_M3'] = 0 

#Se hacen las correcciones para los valores -1, en donde si el Salario es mayor a LS1 es atípico( -1 -> 1 )
data_l.loc[ ( (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M3']==-1) & (data_l['SALARIO'] > data_l['LS1']) ), 'ATI_CJ_M3'] = 1 #quedan 3103457  casos
#Se hacen las correcciones para los valores -1, en donde si el Salario es menor o igual a LS1 no es atípico( -1 -> 0 )
data_l.loc[ ( (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M3']==-1) & (data_l['SALARIO'] <= data_l['LS1']) ), 'ATI_CJ_M3'] = 0
#Se hacen las correcciones para los valores -1, en donde si el Salario es menor o igual a un SBU no es atípico( -1 -> 0 )
data_l.loc[ ( (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M3']==-1) & (data_l['SALARIO'] <= data_l['SBU']) ), 'ATI_CJ_M3'] = 0 
#Se hacen las correcciones para los valores 1, en donde si el Salario es menor o igual al SBU no es atípico( 1 -> 0 )
data_l.loc[ ( (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M3']==1) & (data_l['SALARIO'] <= data_l['SBU']) ), 'ATI_CJ_M3'] = 0

In [ ]:
graf_ati(23075971, 1)

In [ ]:
#Cedulas que tiene datos atípicos----------------------------------------------------------------------------------------------
print('*' * 50, 'Caso ', str( 1 ), '*' * 50)
print('\tCedulas con al menos un atípico:', data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M1']==1)]['CEDULA_COD'].nunique()) #125237
print('\tCedulas con sin atípicos:',        data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M1']==0)]['CEDULA_COD'].nunique()) #436149
print('*' * 50, 'Caso ', str( 2 ), '*' * 50)
print('\tCedulas con al menos un atípico:', data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M2']==1)]['CEDULA_COD'].nunique()) #116931
print('\tCedulas con sin atípicos:',        data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M2']==0)]['CEDULA_COD'].nunique()) #436148
print('*' * 50, 'Caso ', str( 3 ), '*' * 50)
print('\tCedulas con al menos un atípico:', data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M3']==1)]['CEDULA_COD'].nunique()) #116938
print('\tCedulas con sin atípicos:',        data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M3']==0)]['CEDULA_COD'].nunique()) #436149
print('*' * 102)

In [ ]:
# Guadar archivo------------------------------------------------------------------------------------------------------------
nombre_archivo = 'viu_clean_data_l.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto8 = data_l

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto8, archivo)      

del objeto8

In [ ]:
data_l.shape

In [ ]:
# Cargar archivo------------------------------------------------------------------------------------------------------------
directorio = r_ruta
nombre_archivo = 'viu_clean_data_l.pkl'
ruta_archivo = os.path.join(directorio, nombre_archivo)

with open( ruta_archivo, 'rb') as archivo:
    data_l = pickle.load( archivo )

In [ ]:
#Analisis para atípicos vs aportes simultáneos
cedula_1 = data_l.groupby('CEDULA_COD')['NUM_SEC_MES'].apply( lambda x: (x != 1).any() )
cedula_dist = cedula_1[ cedula_1 ].index
ul = data_l[ ~data_l['CEDULA_COD'].isin( cedula_dist )]
ml = data_l[  data_l['CEDULA_COD'].isin( cedula_dist )]

#Cedulas que tiene datos atípicos----------------------------------------------------------------------------------------------
print('*' * 50, 'Caso ', str( 1 ), '*' * 50)
print('\tCedulas con al menos un atípico con un único sector:',
      ul[ (ul['GRUPO_SEL']==1) & (ul['ATI_CJ_M1']==1)]['CEDULA_COD'].nunique()) 
print('\tCedulas con al menos un atípico con más de un único sector:',
      ml[ (ml['GRUPO_SEL']==1) & (ml['ATI_CJ_M1']==1)]['CEDULA_COD'].nunique())
print('*' * 50, 'Caso ', str( 2 ), '*' * 50)
print('\tCedulas con al menos un atípico con un único sector:',
      ul[ (ul['GRUPO_SEL']==1) & (ul['ATI_CJ_M2']==1)]['CEDULA_COD'].nunique()) 
print('\tCedulas con al menos un atípico con más de un único sector:',
      ml[ (ml['GRUPO_SEL']==1) & (ml['ATI_CJ_M2']==1)]['CEDULA_COD'].nunique())
print('*' * 50, 'Caso ', str( 3 ), '*' * 50)
print('\tCedulas con al menos un atípico con un único sector:',
      ul[ (ul['GRUPO_SEL']==1) & (ul['ATI_CJ_M3']==1)]['CEDULA_COD'].nunique()) 
print('\tCedulas con al menos un atípico con más de un único sector:',
      ml[ (ml['GRUPO_SEL']==1) & (ml['ATI_CJ_M3']==1)]['CEDULA_COD'].nunique())
print('*' * 102)

In [ ]:
#Creando limites de atipicos
inicio = time.time()   
#Caso 3: Para toda la historia laboral sin considerar aportes simultáneos
# cedula_1 = data_l.groupby('CEDULA_COD')['NUM_SEC_MES'].apply( lambda x: (x != 1).any() )
# cedula_dist = cedula_1[ cedula_1 ].index
# grupo3 = data_l[ ~data_l['CEDULA_COD'].isin( cedula_dist )]
grupo3 = ul

Q1 = grupo3.groupby('CEDULA_COD')['SALARIO'].quantile(0.25)
Q3 = grupo3.groupby('CEDULA_COD')['SALARIO'].quantile(0.75)
IQR = Q3-Q1
LI = Q1 - 1.5 * IQR
LS = Q3 + 1.5 * IQR
data_l['LS3'] = data_l['CEDULA_COD'].map( LS )

#Caso 4: Para toda la historia laboral considerando aportes simultáneos
#grupo4 = data_l[ data_l['CEDULA_COD'].isin( cedula_dist )]
grupo4 = ml
dic_aux = grupo4.groupby('CEDULA_COD').agg({'SALARIO_SECTOR': list, 'INDICE': list}).to_dict(orient='index')

for cedula in dic_aux:
    dic_aux[cedula]['SALARIO_SECTOR'] = [ [float(val) for val in sal.replace(':', ';').split(';')] 
                                            if isinstance(sal, str) 
                                            else [float(sal)]
                                            for sal in dic_aux[cedula]['SALARIO_SECTOR']
                                        ]
    # Aplanar la lista de listas de SALARIO_SECTOR
    salarios = None
    salarios = [salario for sublist in dic_aux[cedula]['SALARIO_SECTOR'] for salario in sublist]
    dic_aux[cedula]['Q1'] =  np.percentile(salarios, 25)
    dic_aux[cedula]['Q3'] =  np.percentile(salarios, 75)
    dic_aux[cedula]['IQR'] = dic_aux[cedula]['Q3'] -  dic_aux[cedula]['Q1']
    dic_aux[cedula]['LI'] =  dic_aux[cedula]['Q1'] -  1.5  * dic_aux[cedula]['IQR']
    dic_aux[cedula]['LS'] =  dic_aux[cedula]['Q3'] +  1.5  * dic_aux[cedula]['IQR']

data1 = { 'CEDULA_COD': [], 'LS': [] }

for cedula, val in dic_aux.items():
    data1['CEDULA_COD'].append(cedula)
    data1['LS'].append( val['LS'] )

LS = pd.DataFrame( data1 )
LS = LS.groupby('CEDULA_COD')['LS'].first()
data_l['LS4'] = data_l['CEDULA_COD'].map( LS )  

fin = time.time()  
print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos')

del grupo3, grupo4, dic_aux, data1, Q1, Q3, IQR, LI, LS
gc.collect()

In [ ]:
ml[ (ml['GRUPO_SEL']==1) & (ml['ATI_CJ_M1']==1) ]['CEDULA_COD'].unique()

In [ ]:
data_l[ (data_l['GRUPO_SEL']==1) & (data_l['CEDULA_COD']==397)]

In [ ]:
del ul, ml
gc.collect()

In [ ]:
graf_ati(397, 1)

In [ ]:
data_l['ATI_CJ_AS'] = 0
grupo1 = None
grupo1 = data_l[  data_l['CEDULA_COD'].isin( cedula_dist )].copy() #Es igual a ml pero se actualizan los valores

inicio = time.time()   
dic_sim = grupo1.groupby('CEDULA_COD').agg({'SALARIO_SECTOR': list, 'LS4': list,'INDICE': list}).to_dict(orient='index')

for cedula in dic_sim:
    dic_sim[cedula]['SALARIO_SECTOR'] = [[float(val) for val in sal.split(';')] if isinstance(sal, str) else [sal] 
                                          for sal in dic_sim[cedula]['SALARIO_SECTOR']]
    dic_sim[cedula]['ATI_CJ_AS'] = [ 1 if any(sal > ls for sal in salarios) else 0 
                                    for salarios, ls in zip( dic_sim[cedula]['SALARIO_SECTOR'], dic_sim[cedula]['LS4'])]

fin = time.time()  
print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos')

del grupo1   
gc.collect()

In [ ]:
data1 = { 'CEDULA_COD': [], 'SALARIO_SECTOR': [], 
         'LS4' : [], 'ATI_CJ_AS':[],  'INDICE':[]}

# Llenar las listas con los datos del diccionario
for cedula, values in dic_sim.items():
    salario = values['SALARIO_SECTOR']
    ls = values[ 'LS4' ]
    atipico = values[ 'ATI_CJ_AS' ]
    indice = values['INDICE']
    num_rows = len(salario)

    # Extender las listas en el diccionario de datos
    data1['CEDULA_COD'].extend([cedula] * num_rows)
    data1['SALARIO_SECTOR'].extend(salario)
    data1['LS4' ].extend(ls)
    data1['ATI_CJ_AS' ].extend(atipico)
    data1['INDICE'].extend(indice)
    
data1 = pd.DataFrame( data1 )
data1.set_index('INDICE', inplace=True )
data1

In [ ]:
inicio = time.time()   
cedulas = list(dic_sim.keys())  #total de 111903
filtro = data1[ data1['CEDULA_COD'].isin(cedulas )] # 111903 cedulas
indi = filtro.index
data_l.loc[ indi, 'ATI_CJ_AS'] = filtro['ATI_CJ_AS']

fin = time.time()  
print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos')

In [ ]:
sal=[[float(val) for val in sal.split(';')] if isinstance(sal, str) else [sal] for sal in data_l[data_l['CEDULA_COD']==216]['SALARIO_SECTOR']]
sala=[salario for sublist in sal for salario in sublist]
LS = np.percentile(sala, 75) + 1.5 * (np.percentile(sala, 75)-np.percentile(sala, 25))
LS

In [ ]:
data_l[data_l['CEDULA_COD']==216].head(60)

In [ ]:
data1[data1['CEDULA_COD']==216].head(60)

In [ ]:
ml = data_l[  data_l['CEDULA_COD'].isin( cedula_dist )].copy()
print('*' * 50, 'Caso ', str( 1 ), '*' * 50)
print('\tCedulas que tienen más de un sector y que fue clasificado como atípico, que se modificaran a no atipico:',
ml[ (ml['GRUPO_SEL']==1) & (ml['ATI_CJ_M1']==1) & ( ml['ATI_CJ_AS']==0)]['CEDULA_COD'].nunique()) #29408
print('\tCedulas que tienen más de un sector y que fue clasificado como  no atípico, que se modificaran a atipico',
ml[ (ml['GRUPO_SEL']==1) & (ml['ATI_CJ_M1']==0) & ( ml['ATI_CJ_AS']==1)]['CEDULA_COD'].nunique()) #24171

print('*' * 50, 'Caso ', str( 2 ), '*' * 50)
print('\tCedulas que tienen más de un sector y que fue clasificado como atípico, que se modificarann a no atipico:',
ml[ (ml['GRUPO_SEL']==1) & (ml['ATI_CJ_M2']==1) & ( ml['ATI_CJ_AS']==0)]['CEDULA_COD'].nunique()) #26929
print('\tCedulas que tienen más de un sector y que fue clasificado como  no atípico, que se modificaran a atipico',
ml[ (ml['GRUPO_SEL']==1) & (ml['ATI_CJ_M2']==0) & ( ml['ATI_CJ_AS']==1)]['CEDULA_COD'].nunique()) #24893

print('*' * 50, 'Caso ', str( 3 ), '*' * 50)
print('\tCedulas que tienen más de un sector y que fue clasificado como atípico, que se modificarann a no atipico:',
ml[ (ml['GRUPO_SEL']==1) & (ml['ATI_CJ_M3']==1) & ( ml['ATI_CJ_AS']==0)]['CEDULA_COD'].nunique()) #26933
print('\tCedulas que tienen más de un sector y que fue clasificado como  no atípico, que se modificaran a atipico',
ml[ (ml['GRUPO_SEL']==1) & (ml['ATI_CJ_M3']==0) & ( ml['ATI_CJ_AS']==1)]['CEDULA_COD'].nunique()) #24893
print('*' * 102)

In [ ]:
#Cedulas que tiene varios sectores que se modificaran ( 1 -> 0 )
ml[ (ml['GRUPO_SEL']==1) & (ml['ATI_CJ_M1']==1) & ( ml['ATI_CJ_AS']==0)]['CEDULA_COD'].unique() #29408

In [ ]:
#Cedulas que tiene varios sectores que se modificaran ( 0 -> 1 )
ml[ (ml['GRUPO_SEL']==1) & (ml['ATI_CJ_M1']==0) & ( ml['ATI_CJ_AS']==1)]['CEDULA_COD'].unique() #24171

In [ ]:
ml[ (ml['GRUPO_SEL']==1) & (ml['CEDULA_COD']==1908)]

In [ ]:
#Gráficas para cuando de 1->0 en aportes simultáneos
graf_ati(1908, 1)

In [ ]:
#Gráficas para cuando de 0->1 en aportes simultáneos
ml[ (ml['GRUPO_SEL']==1) & (ml['CEDULA_COD']==472)]

In [ ]:
#Gráficas para cuando de 0 -> 1 en aportes simultáneos
graf_ati(472, 1)

In [ ]:
cedula_dist

In [ ]:
#Se hacen las correcciones
#Caso 1
data_l.loc[(data_l['CEDULA_COD'].isin(cedula_dist)) & 
           (data_l['GRUPO_SEL'] == 1) & (data_l['ATI_CJ_M1'] == 1) & (data_l['ATI_CJ_AS'] == 0), 'ATI_CJ_M1'] = data_l['ATI_CJ_AS']
data_l.loc[(data_l['CEDULA_COD'].isin(cedula_dist)) & 
           (data_l['GRUPO_SEL'] == 1) & (data_l['ATI_CJ_M1'] == 0) & (data_l['ATI_CJ_AS'] == 1), 'ATI_CJ_M1'] = data_l['ATI_CJ_AS']

#Caso 2
data_l.loc[(data_l['CEDULA_COD'].isin(cedula_dist)) & 
           (data_l['GRUPO_SEL'] == 1) & (data_l['ATI_CJ_M2'] == 1) & (data_l['ATI_CJ_AS'] == 0), 'ATI_CJ_M1'] = data_l['ATI_CJ_AS']
data_l.loc[(data_l['CEDULA_COD'].isin(cedula_dist)) & 
           (data_l['GRUPO_SEL'] == 1) & (data_l['ATI_CJ_M2'] == 0) & (data_l['ATI_CJ_AS'] == 1), 'ATI_CJ_M1'] = data_l['ATI_CJ_AS']

#Caso 3
data_l.loc[(data_l['CEDULA_COD'].isin(cedula_dist)) & 
           (data_l['GRUPO_SEL'] == 1) & (data_l['ATI_CJ_M3'] == 1) & (data_l['ATI_CJ_AS'] == 0), 'ATI_CJ_M1'] = data_l['ATI_CJ_AS']
data_l.loc[(data_l['CEDULA_COD'].isin(cedula_dist)) & 
           (data_l['GRUPO_SEL'] == 1) & (data_l['ATI_CJ_M3'] == 0) & (data_l['ATI_CJ_AS'] == 1), 'ATI_CJ_M1'] = data_l['ATI_CJ_AS']

In [ ]:
# data_l[ (data_l['GRUPO_SEL']==1) & (data_l['CEDULA_COD']==397)][['CEDULA_COD', 'ANIO', 'MES', 'SALARIO', 'SALARIO_SECTOR',
#                                                                'SECTOR_A', 'NUM_SEC_MES', 'GRUPO_SEL', 'GRUPO', 'ATI_CJ_M1',
#                                                                 'ATI_CJ_M2','ATI_CJ_M3','LS1','LS2','LS3','LS4','ATI_CJ_AS']]

In [ ]:
del data1, dic_sim, filtro, indi, cedulas, ml
gc.collect()

In [ ]:
#Cedulas que tiene datos atípicos luego de la corrección---------------------------------------------------------------------
print('*' * 50, 'Caso ', str( 1 ), '*' * 50)
print('\tCedulas con al menos un atípico con un único sector:',
      data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M1']==1) &(~data_l['CEDULA_COD'].isin(cedula_dist))]['CEDULA_COD'].nunique()) 
print('\tCedulas con al menos un atípico con más de un único sector:',
      data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M1']==1) & (data_l['CEDULA_COD'].isin(cedula_dist))]['CEDULA_COD'].nunique())
print('*' * 50, 'Caso ', str( 2 ), '*' * 50)
print('\tCedulas con al menos un atípico con un único sector:',
      data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M2']==1) &(~data_l['CEDULA_COD'].isin(cedula_dist))]['CEDULA_COD'].nunique()) 
print('\tCedulas con al menos un atípico con más de un único sector:',
      data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M2']==1) &(data_l['CEDULA_COD'].isin(cedula_dist))]['CEDULA_COD'].nunique())
print('*' * 50, 'Caso ', str( 3 ), '*' * 50)
print('\tCedulas con al menos un atípico con un único sector:',
      data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M3']==1) &(~data_l['CEDULA_COD'].isin(cedula_dist))]['CEDULA_COD'].nunique()) 
print('\tCedulas con al menos un atípico con más de un único sector:',
      data_l[ (data_l['GRUPO_SEL']==1) & (data_l['ATI_CJ_M3']==1) &(data_l['CEDULA_COD'].isin(cedula_dist))]['CEDULA_COD'].nunique())
print('*' * 102)

In [ ]:
ml = data_l[  data_l['CEDULA_COD'].isin( cedula_dist )]
ul = data_l[ ~ data_l['CEDULA_COD'].isin( cedula_dist )]

In [ ]:
print(ul[ (ul['GRUPO_SEL']==1) & (ul['ATI_CJ_M1']==1)]['CEDULA_COD'].nunique())
print(ml[ (ml['GRUPO_SEL']==1) & (ml['ATI_CJ_M1']==1)]['CEDULA_COD'].nunique())

In [ ]:
graf_ati(1908, 1)

In [ ]:
graf_ati(472, 1)

In [ ]:
#K-MEANS