In [1]:
#Importación de librearías necesarias
import pandas as pd
from datetime import datetime
import socket
import numpy as np
import time

In [2]:
#Path general de archivos
if socket.gethostname()=='LAPTOP-PUSGG08B': #Ip de la laptop
    ruta = "E:/Cristian Guatemal/Master/Big Data y Ciencia de Datos/VIU_TFM/Data/TFM/"
elif socket.gethostname()=='PCUIOMTDAIE6382': #Ip del working
    ruta = "C:/Users/cristian.guatemal/Documents/Master/Big_Data_Ciencia_Datos/VIU_TFM/Data/TFM/"
# Ruta del archivo de pensionistas de vejez
ruta_vj = ruta + 'POB_VEJ_CD656_NEW.dsv'
# Ruta del archivo de historia laboral de pensionistas
ruta_afi = ruta + 'APORTES_CD656_new.dsv'

In [47]:
#Importación de archivos de afiliados
inicio = time.time()
afi = pd.read_csv( ruta_afi, delimiter='\t', encoding='iso-8859-1', decimal='.')
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', 
        (fin-inicio)%60, ' segundos' )

Tiempo de ejecución es:  0.0  horas con  2.0  minutos y 27.594858646392822  segundos

In [48]:
#Agrupamiento por relación de trabajo
inicio = time.time()
agrupa = [ (afi['SECTOR'].isin(['PRIVADO', 'PASANTE PRIVADO'])), 
               (afi['SECTOR'].isin(['PUBLICO', 'PASANTE PUBLICO'])), 
               (afi['SECTOR'].isin(['INDEPENDIENTES', '108-ARTISTA Y GESTOR DE CULTURA', 
                                     '02-TRABAJ. AUT Y SIN RELAC DEPEN DESDE  2011-12 SOLO AF.VOLUNT  '])),
               (afi['SECTOR'].isin(['69-VOLUNTARIO ECUATORIANO DOMICILIADO EN EL EXTERIOR ',
                                    '89-AFILIACION DOMICILIADO EN EL EXTERIOR'])),
               (afi['SECTOR'] == '90-AFILIACION DOMICILIADO EN EL PAIS / SIN RELACION DEPENDENCIA'),
               (afi['SECTOR'] == '06-CODIGO DEL TRABAJO - CT ')
            ]
            
tipo = ['PRI', 'PUB', 'IND', 'VOL_EX', 'VOL_EC', 'COD_TR']

afi['SECTOR_A'] = np.select( agrupa, tipo, default=afi['SECTOR'])
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', 
        (fin-inicio)%60, ' segundos' )

Tiempo de ejecución es:  0.0  horas con  0.0  minutos y 24.04534077644348  segundos

In [5]:
afi['SECTOR'].unique()

array(['PRIVADO', 'PUBLICO',
       '02-TRABAJ. AUT Y SIN RELAC DEPEN DESDE  2011-12 SOLO AF.VOLUNT  ',
       'INDEPENDIENTES',
       '69-VOLUNTARIO ECUATORIANO DOMICILIADO EN EL EXTERIOR ',
       'PASANTE PRIVADO',
       '90-AFILIACION DOMICILIADO EN EL PAIS / SIN RELACION DEPENDENCIA',
       '89-AFILIACION DOMICILIADO EN EL EXTERIOR', 'PASANTE PUBLICO',
       '108-ARTISTA Y GESTOR DE CULTURA', '06-CODIGO DEL TRABAJO - CT '],
      dtype=object)

In [6]:
afi['SECTOR_A'].unique()

array(['PRI', 'PUB', 'IND', 'VOL_EX', 'VOL_EC', 'COD_TR'], dtype=object)

In [7]:
afi.shape

(68062270, 13)

In [77]:
#Para acceder a las prestaciones de IVM debe tener al menos 5 años de aporte o 60 imposiciones
ced_counts = afi.drop_duplicates(subset=['CEDULA_COD', 'ANIO', 'MES'])['CEDULA_COD'].value_counts()

In [78]:
# numero de cedulas que tienen menos de 60 imposiciones
ced_counts[ced_counts < 60].index.nunique()

114212

In [10]:
#Se filtran a las cedulas con menos de 60 imposicones 
inicio = time.time()
afi_fil = afi[~afi['CEDULA_COD'].isin(ced_counts[ced_counts < 60].index)].copy()
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

#Se crea una variable fecha
inicio = time.time()
afi_fil.loc[:, 'FECHA'] = pd.to_datetime(afi_fil['ANIO'].astype(str) + '-' + afi_fil['MES'].astype(str).str.zfill(2) + '-01')
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

#Se ordenan los registros
inicio = time.time()
afi_fil = afi_fil.sort_values( by=["CEDULA_COD","ANIO", "MES"], ascending=[True, True, True] )
afi_fil.loc[:, 'FECHA'] = pd.to_datetime(afi_fil['ANIO'].astype(str) + '-' + afi_fil['MES'].astype(str).str.zfill(2) + '-01')
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
afi_fil.shape

Tiempo de ejecución es:  0.0  horas con  0.0  minutos y 41.88606286048889  segundos
Tiempo de ejecución es:  0.0  horas con  1.0  minutos y 45.65396595001221  segundos
Tiempo de ejecución es:  0.0  horas con  3.0  minutos y 27.485018968582153  segundos

(64756154, 14)

In [11]:
del afi
del ced_counts
afi_fil

,CEDULA_COD,ANIO,MES,CODSEC,SECTOR,DESTIPEMP,DESRELTRA,CODCII,PROVINCIA,CANTON,SALARIO,PORCENTAJE_AP,SECTOR_A,FECHA
26481585,126,2004,12,R,PRIVADO,2-EMPRESA PRIVADA -SOCIEDADES / COMPANIAS,06-CODIGO DEL TRABAJO - CT,K66220001,AZUAY,CUENCA,147.45,20.5,PRI,2004-12-01
67442511,126,2005,1,R,PRIVADO,2-EMPRESA PRIVADA -SOCIEDADES / COMPANIAS,06-CODIGO DEL TRABAJO - CT,K66220001,AZUAY,CUENCA,161.67,41.0,PRI,2005-01-01
41179435,126,2005,2,R,PRIVADO,2-EMPRESA PRIVADA -SOCIEDADES / COMPANIAS,06-CODIGO DEL TRABAJO - CT,K66220001,AZUAY,CUENCA,161.67,20.5,PRI,2005-02-01
44033860,126,2005,3,R,PRIVADO,2-EMPRESA PRIVADA -SOCIEDADES / COMPANIAS,06-CODIGO DEL TRABAJO - CT,K66220001,AZUAY,CUENCA,161.67,20.5,PRI,2005-03-01
47099991,126,2005,4,R,PRIVADO,2-EMPRESA PRIVADA -SOCIEDADES / COMPANIAS,06-CODIGO DEL TRABAJO - CT,K66220001,AZUAY,CUENCA,161.67,20.5,PRI,2005-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896256,23594465,2017,11,R,PRIVADO,2-EMPRESA PRIVADA -SOCIEDADES / COMPANIAS,06-CODIGO DEL TRABAJO - CT,C111,PICHINCHA,DISTRITO METROPOLITANO DE QUITO,14045.72,20.6,PRI,2017-11-01
5107034,23594465,2017,12,R,PRIVADO,2-EMPRESA PRIVADA -SOCIEDADES / COMPANIAS,06-CODIGO DEL TRABAJO - CT,C111,PICHINCHA,DISTRITO METROPOLITANO DE QUITO,14164.25,20.6,PRI,2017-12-01
44333802,23594465,2018,1,R,PRIVADO,2-EMPRESA PRIVADA -SOCIEDADES / COMPANIAS,06-CODIGO DEL TRABAJO - CT,C111,PICHINCHA,DISTRITO METROPOLITANO DE QUITO,12903.21,20.6,PRI,2018-01-01
38102314,23594465,2018,2,R,PRIVADO,2-EMPRESA PRIVADA -SOCIEDADES / COMPANIAS,06-CODIGO DEL TRABAJO - CT,C111,PICHINCHA,DISTRITO METROPOLITANO DE QUITO,42432.21,20.6,PRI,2018-02-01
54561026,23594465,2018,3,R,PRIVADO,2-EMPRESA PRIVADA -SOCIEDADES / COMPANIAS,06-CODIGO DEL TRABAJO - CT,C111,PICHINCHA,DISTRITO METROPOLITANO DE QUITO,12738.28,20.6,PRI,2018-03-01

In [12]:
#Se seleccionan las características de la población para los año y mes de aportación
afi_sel = afi_fil[['CEDULA_COD', 'ANIO', 'MES', 'FECHA','SALARIO', 'SECTOR_A']].copy()
del afi_fil

In [13]:
#Inicio de la HL
caract = afi_sel.groupby('CEDULA_COD')['FECHA'].min().reset_index() 
caract.rename( columns={'FECHA': 'INI_HL'}, inplace=True)
#Fin de la HL
caract['FIN_HL'] = caract['CEDULA_COD'].map( afi_sel.groupby('CEDULA_COD')['FECHA'].max() )
#Contar los meses, considerando duplicidad en los meses que puede tener aporte simultaneos
caract['MES_C'] = caract['CEDULA_COD'].map( afi_sel['CEDULA_COD'].value_counts() )
#Meses trabajados unicos
aux = afi_sel.drop_duplicates(subset=['CEDULA_COD', 'ANIO', 'MES'])
caract['MES_T'] = caract['CEDULA_COD'].map( aux['CEDULA_COD'].value_counts() )

In [14]:
caract

        CEDULA_COD     INI_HL     FIN_HL  MES_C  MES_T
0              126 2004-12-01 2010-12-01     73     73
1              152 2004-07-01 2009-09-01     63     63
2              216 2004-07-01 2009-09-01     98     63
3              230 2004-12-01 2015-05-01    126    126
4              235 2004-08-01 2011-06-01     83     83
...            ...        ...        ...    ...    ...
444112    23075971 2017-02-01 2022-10-01     66     66
444113    23402574 2010-01-01 2019-02-01    110    110
444114    23456125 2016-07-01 2022-03-01     69     69
444115    23503686 2004-09-01 2011-11-01     87     87
444116    23594465 2012-05-01 2018-03-01     71     71

[444117 rows x 5 columns]

In [15]:
#Personas que tienen varios aportes simultaneos
caract[caract['MES_C']>caract['MES_T']]

        CEDULA_COD     INI_HL     FIN_HL  MES_C  MES_T
2              216 2004-07-01 2009-09-01     98     63
10             397 2004-07-01 2012-01-01    138     91
12             419 2004-11-01 2009-12-01    115     58
20             461 2004-07-01 2010-09-01    221     75
23             472 2004-09-01 2012-01-01    176     89
...            ...        ...        ...    ...    ...
444102    20949683 2011-08-01 2019-07-01     92     91
444104    21035240 2010-03-01 2019-09-01    112    111
444105    21035907 2006-07-01 2013-08-01     68     67
444106    21104059 2014-07-01 2023-02-01    105    104
444111    21729781 2011-12-01 2019-08-01     94     93

[113450 rows x 5 columns]

In [16]:
#afi_sel[afi_sel['CEDULA_COD']==21729781].tail(60)

In [17]:
afi_sel =  afi_sel.sort_values( by=["CEDULA_COD","ANIO", "MES"], ascending=[True, False, False] )
afi_sel['NUM_SEC_MES'] = 1
afi_sel['%_NUM_SECTOR'] = afi_sel['SALARIO']

In [18]:
aux = afi_sel[afi_sel.duplicated(subset=['CEDULA_COD', 'ANIO', 'MES'], keep=False)]
aux1 = afi_sel[~afi_sel.duplicated(subset=['CEDULA_COD', 'ANIO', 'MES'], keep=False)]

In [19]:
#Se debe analizar a las personas que tienen varios aportes en un mismo mes
#Se suman los salarios y se concatenan los sectores para la cedula que en el mismo anio y mes tienen más de un sector
inicio = time.time()
afi_sel_g = aux.groupby(['CEDULA_COD', 'ANIO', 'MES']).agg({'SALARIO': 'sum',
                                                            'SECTOR_A': lambda x: ';'.join(x),
                                                            'NUM_SEC_MES': lambda x: len(x),
                                                            '%_NUM_SECTOR': lambda x:  ';'.join((x / x.sum()).round(4).astype(str))
                                                                }).reset_index()
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

Tiempo de ejecución es:  0.0  horas con  10.0  minutos y 27.963502645492554  segundos

In [80]:
afi_sel_g

Empty DataFrame
Columns: [CEDULA_COD, ANIO, MES, SALARIO, SECTOR_A, NUM_SEC_MES, %_NUM_SECTOR]
Index: []

In [32]:
afi_sel_g_all = pd.concat( [aux1[['CEDULA_COD', 'ANIO', 'MES', 'SALARIO', 'SECTOR_A', 'NUM_SEC_MES', '%_NUM_SECTOR']], 
                            afi_sel_g], ignore_index=True )

In [39]:
afi_sel_g_all = afi_sel_g_all.sort_values( by=["CEDULA_COD","ANIO", "MES"], ascending=[True, False, False] )
afi_sel_g_all.loc[ (afi_sel_g_all['NUM_SEC_MES'] == 1), '%_NUM_SECTOR'] = '1'

In [82]:
afi_sel_g_all

          CEDULA_COD  ANIO  MES   SALARIO SECTOR_A  NUM_SEC_MES %_NUM_SECTOR
0                126  2010   12      8.06      PRI            1            1
1                126  2010   11    250.00      PRI            1            1
2                126  2010   10    250.00      PRI            1            1
3                126  2010    9    250.00      PRI            1            1
4                126  2010    8    250.00      PRI            1            1
...              ...   ...  ...       ...      ...          ...          ...
59831331    23594465  2012    9  10528.81      PRI            1            1
59831332    23594465  2012    8  10722.25      PRI            1            1
59831333    23594465  2012    7  10722.25      PRI            1            1
59831334    23594465  2012    6  13046.07      PRI            1            1
59831335    23594465  2012    5   8482.60      PRI            1            1

[62211460 rows x 7 columns]

In [ ]:
del aux
del aux1

In [87]:
#se crean los grupos de 12 meses trabajados para tener
n_grupo = 12
afi_sel_g_all['GRUPO'] = (afi_sel_g_all.groupby('CEDULA_COD').cumcount() // n_grupo ) + 1
#Se saca el salario promedio de cada grupo
afi_sel_g_all['SAL_PROM_GRUPO'] = afi_sel_g_all.groupby(['CEDULA_COD', 'GRUPO'])['SALARIO'].transform('mean')

In [139]:
afi_sel_g_all

SyntaxError: invalid syntax (3539575301.py, line 1)

In [128]:
afi_sel_g_all[afi_sel_g_all['CEDULA_COD']==216]['GRUPO'].unique()

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [137]:
#Se obtienen los sueldos promedios para cada grupo y cada cedula
inicio = time.time()
df1 = afi_sel_g_all.groupby(['CEDULA_COD', 'GRUPO'])['SAL_PROM_GRUPO'].unique().reset_index().copy()
df1['SAL_PROM_GRUPO'] = df1['SAL_PROM_GRUPO'].apply(lambda x: x[0])
df1 = df1.sort_values(by = ['CEDULA_COD','SAL_PROM_GRUPO'], ascending=[True,False])
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

Tiempo de ejecución es:  0.0  horas con  3.0  minutos y 3.0261378288269043  segundos

In [140]:
df1.head(60)

    CEDULA_COD  GRUPO  SAL_PROM_GRUPO
1          126      2      250.000000
2          126      3      241.666667
0          126      1      229.838333
3          126      4      170.000000
4          126      5      161.670000
5          126      6      161.670000
6          126      7      147.450000
7          152      1      689.693333
8          152      2      618.975000
9          152      3      491.187500
10         152      4      407.137500
11         152      5      337.130000
12         152      6      313.610000
13         216      1      625.315000
15         216      3      598.110000
16         216      4      562.695000
14         216      2      550.830833
17         216      5      494.748333
18         216      6      339.176667
19         230      1     2000.000000
20         230      2     1666.666667
21         230      3     1233.333333
22         230      4      825.000000
23         230      5      700.000000
24         230      6      700.000000
25         230      7      700.000000
26         230      8      657.208333
27         230      9      186.500000
28         230     10      186.500000
29         230     11      180.750000
30         235      1     1850.440000
31         235      2     1685.875000
32         235      3     1397.210000
33         235      4     1017.948333
34         235      5      677.115000
35         235      6      440.725000
36         235      7      325.000000
41         271      5     4367.616667
42         271      6     4367.616667
37         271      1     4359.283333
43         271      7     4359.283333
44         271      8     4359.283333
45         271      9     4359.283333
38         271      2     4342.616667
46         271     10     4282.016667
39         271      3     4275.950000
40         271      4     4275.950000
47         271     11     3902.616667
48         271     12     3755.408333
49         271     13     3366.870833
56         271     20     3306.930000
55         271     19     3004.651667
50         271     14     2846.366667
52         271     16     2625.945833
53         271     17     2625.945833
51         271     15     2510.950000
54         271     18     2510.950000
57         271     21     1977.240000
58         271     22     1284.866667
59         271     23      848.829167

In [96]:
inicio = time.time()
top = 5
top_sal = df1.groupby('CEDULA_COD')['SAL_PROM_GRUPO'].nlargest(top).reset_index(level=0, drop=True)
fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
indices = top_sal.index
df2 = df1.loc[indices].reset_index(drop=True).copy()

Tiempo de ejecución es:  0.0  horas con  7.0  minutos y 48.987428426742554  segundos

1            250.000000
2            241.666667
0            229.838333
3            170.000000
4            161.670000
               ...
5388748    17158.475000
5388746    17023.186667
5388745    16884.076667
5388744    16205.699167
5388747    15750.057500
Name: SAL_PROM_GRUPO, Length: 2220161, dtype: float64

In [112]:
df1.head(60)

    CEDULA_COD  GRUPO  SAL_PROM_GRUPO
1          126      2      250.000000
2          126      3      241.666667
0          126      1      229.838333
3          126      4      170.000000
4          126      5      161.670000
5          126      6      161.670000
6          126      7      147.450000
7          152      1      689.693333
8          152      2      618.975000
9          152      3      491.187500
10         152      4      407.137500
11         152      5      337.130000
12         152      6      313.610000
13         216      1      625.315000
15         216      3      598.110000
16         216      4      562.695000
14         216      2      550.830833
17         216      5      494.748333
18         216      6      339.176667
19         230      1     2000.000000
20         230      2     1666.666667
21         230      3     1233.333333
22         230      4      825.000000
23         230      5      700.000000
24         230      6      700.000000
25         230      7      700.000000
26         230      8      657.208333
27         230      9      186.500000
28         230     10      186.500000
29         230     11      180.750000
30         235      1     1850.440000
31         235      2     1685.875000
32         235      3     1397.210000
33         235      4     1017.948333
34         235      5      677.115000
35         235      6      440.725000
36         235      7      325.000000
41         271      5     4367.616667
42         271      6     4367.616667
37         271      1     4359.283333
43         271      7     4359.283333
44         271      8     4359.283333
45         271      9     4359.283333
38         271      2     4342.616667
46         271     10     4282.016667
39         271      3     4275.950000
40         271      4     4275.950000
47         271     11     3902.616667
48         271     12     3755.408333
49         271     13     3366.870833
56         271     20     3306.930000
55         271     19     3004.651667
50         271     14     2846.366667
52         271     16     2625.945833
53         271     17     2625.945833
51         271     15     2510.950000
54         271     18     2510.950000
57         271     21     1977.240000
58         271     22     1284.866667
59         271     23      848.829167

In [114]:
df2.head(60)

    CEDULA_COD  GRUPO  SAL_PROM_GRUPO
0          126      2      250.000000
1          126      3      241.666667
2          126      1      229.838333
3          126      4      170.000000
4          126      5      161.670000
5          152      1      689.693333
6          152      2      618.975000
7          152      3      491.187500
8          152      4      407.137500
9          152      5      337.130000
10         216      1      625.315000
11         216      3      598.110000
12         216      4      562.695000
13         216      2      550.830833
14         216      5      494.748333
15         230      1     2000.000000
16         230      2     1666.666667
17         230      3     1233.333333
18         230      4      825.000000
19         230      5      700.000000
20         235      1     1850.440000
21         235      2     1685.875000
22         235      3     1397.210000
23         235      4     1017.948333
24         235      5      677.115000
25         271      5     4367.616667
26         271      6     4367.616667
27         271      1     4359.283333
28         271      7     4359.283333
29         271      8     4359.283333
30         284      1      555.640000
31         284      2      555.640000
32         284      3      555.640000
33         284      4      354.806667
34         284      5      312.140000
35         337      1     1009.158333
36         337      2      608.336667
37         337      3      584.291667
38         337      4      524.895000
39         337      5      421.278333
40         387      1     1000.000000
41         387      2      500.000000
42         387      3      500.000000
43         387      4      500.000000
44         387      5      456.666667
45         388      1      531.000000
46         388      2      519.750000
47         388      3      502.333333
48         388      4      456.833333
49         388      5      349.750000
50         397      1     2459.493333
51         397      2     1560.422500
52         397      3     1521.510833
53         397      4     1375.294167
54         397      5      510.380833
55         415      1     1412.000000
56         415      2     1382.000000
57         415      3      886.805000
58         415      4      603.620000
59         415      5      578.385000

In [116]:
#Función para seleccionar los grupos de sueldos
combinaciones = set(zip(df2['CEDULA_COD'], df2['GRUPO']))
afi_sel_g_all['SEL_GRUPO'] = [(cedula, grupo) in combinaciones for cedula, grupo in zip(afi_sel_g_all['CEDULA_COD'], afi_sel_g_all['GRUPO'])]
afi_sel_g_all['SEL_GRUPO'] = afi_sel_g_all['SEL_GRUPO'].astype(int)

In [125]:
afi_sel_g_all[afi_sel_g_all['CEDULA_COD']==216].tail(60)

,CEDULA_COD,ANIO,MES,SALARIO,SECTOR_A,NUM_SEC_MES,%_NUM_SECTOR,GRUPO,SAL_PROM_GRUPO,SEL_GRUPO
139,216,2009,6,641.34,PUB,1,1,1,625.315000,1
140,216,2009,5,641.34,PUB,1,1,1,625.315000,1
141,216,2009,4,641.34,PUB,1,1,1,625.315000,1
142,216,2009,3,641.34,PUB,1,1,1,625.315000,1
143,216,2009,2,641.34,PUB,1,1,1,625.315000,1
144,216,2009,1,641.34,PUB,1,1,1,625.315000,1
145,216,2008,12,577.24,PUB,1,1,1,625.315000,1
146,216,2008,11,577.24,PUB,1,1,1,625.315000,1
147,216,2008,10,577.24,PUB,1,1,1,625.315000,1
148,216,2008,9,577.24,PUB,1,1,2,550.830833,1
149,216,2008,8,577.24,PUB,1,1,2,550.830833,1
150,216,2008,7,577.24,PUB,1,1,2,550.830833,1
151,216,2008,6,577.24,PUB,1,1,2,550.830833,1
152,216,2008,5,577.24,PUB,1,1,2,550.830833,1
153,216,2008,4,577.24,PUB,1,1,2,550.830833,1
154,216,2008,3,701.75,PUB,1,1,2,550.830833,1
155,216,2008,2,513.10,PUB,1,1,2,550.830833,1
156,216,2008,1,482.92,PUB,1,1,2,550.830833,1
157,216,2007,12,482.92,PUB,1,1,2,550.830833,1
158,216,2007,11,482.92,PUB,1,1,2,550.830833,1
159,216,2007,10,482.92,PUB,1,1,2,550.830833,1
160,216,2007,9,434.62,PUB,1,1,3,598.110000,1
161,216,2007,8,434.62,PUB,1,1,3,598.110000,1
59831370,216,2007,7,649.33,PRI;PUB,2,0.3307;0.6693,3,598.110000,1
59831369,216,2007,6,649.33,PRI;PUB,2,0.3307;0.6693,3,598.110000,1
59831368,216,2007,5,649.33,PUB;PRI,2,0.6693;0.3307,3,598.110000,1
59831367,216,2007,4,649.33,PUB;PRI,2,0.6693;0.3307,3,598.110000,1
59831366,216,2007,3,649.33,PUB;PRI,2,0.6693;0.3307,3,598.110000,1
59831365,216,2007,2,649.33,PRI;PUB,2,0.3307;0.6693,3,598.110000,1
59831364,216,2007,1,649.33,PUB;PRI,2,0.6693;0.3307,3,598.110000,1
59831363,216,2006,12,587.59,PUB;PRI,2,0.6678;0.3322,3,598.110000,1
59831362,216,2006,11,587.59,PUB;PRI,2,0.6678;0.3322,3,598.110000,1
59831361,216,2006,10,587.59,PRI;PUB,2,0.3322;0.6678,3,598.110000,1
59831360,216,2006,9,587.59,PUB;PRI,2,0.6678;0.3322,4,562.695000,1
59831359,216,2006,8,587.59,PRI;PUB,2,0.3322;0.6678,4,562.695000,1
59831358,216,2006,7,587.59,PRI;PUB,2,0.3322;0.6678,4,562.695000,1
59831357,216,2006,6,575.49,PUB;PRI,2,0.6608;0.3392,4,562.695000,1
59831356,216,2006,5,575.49,PUB;PRI,2,0.6608;0.3392,4,562.695000,1
59831355,216,2006,4,575.49,PRI;PUB,2,0.3392;0.6608,4,562.695000,1
59831354,216,2006,3,575.49,PUB;PRI,2,0.6608;0.3392,4,562.695000,1
59831353,216,2006,2,575.49,PUB;PRI,2,0.6608;0.3392,4,562.695000,1
59831352,216,2006,1,575.49,PRI;PUB,2,0.3392;0.6608,4,562.695000,1
59831351,216,2005,12,512.21,PRI;PUB,2,0.3518;0.6482,4,562.695000,1
59831350,216,2005,11,512.21,PRI;PUB,2,0.3518;0.6482,4,562.695000,1
59831349,216,2005,10,512.21,PUB;PRI,2,0.6482;0.3518,4,562.695000,1
59831348,216,2005,9,512.21,PUB;PRI,2,0.6482;0.3518,5,494.748333,1
59831347,216,2005,8,512.21,PRI;PUB,2,0.3518;0.6482,5,494.748333,1
59831346,216,2005,7,512.21,PUB;PRI,2,0.6482;0.3518,5,494.748333,1
59831345,216,2005,6,512.21,PRI;PUB,2,0.3518;0.6482,5,494.748333,1
59831344,216,2005,5,512.21,PRI;PUB,2,0.3518;0.6482,5,494.748333,1
59831343,216,2005,4,512.21,PRI;PUB,2,0.3518;0.6482,5,494.748333,1
59831342,216,2005,3,512.21,PUB;PRI,2,0.6482;0.3518,5,494.748333,1
59831341,216,2005,2,508.68,PUB;PRI,2,0.6527;0.3473,5,494.748333,1
59831340,216,2005,1,487.94,PUB;PRI,2,0.6379;0.3621,5,494.748333,1
59831339,216,2004,12,451.63,PUB;PRI,2,0.6265;0.3735,5,494.748333,1
59831338,216,2004,11,451.63,PRI;PUB,2,0.3735;0.6265,5,494.748333,1
59831337,216,2004,10,451.63,PUB;PRI,2,0.6265;0.3735,5,494.748333,1
59831336,216,2004,9,451.63,PUB;PRI,2,0.6265;0.3735,6,339.176667,0
162,216,2004,8,282.95,PUB,1,1,6,339.176667,0
163,216,2004,7,282.95,PUB,1,1,6,339.176667,0